{% assign current_product_handle = product.handle %}
{% comment %}
  Define arrays for different product series handles
{% endcomment %}
{% assign preSeries = "preseries-bulk-preworkout,preseries-lean-pre-workout,preseries-stim-free-preworkout,preseries-bulk-black,preseries-pump,stim-booster,bulk-pre-workout-previous-formulation,lean-pre-workout-previous-formulations" | split: ',' %}
{% assign proteinSeries = "proteinseries-100-grass-fed-whey-protein-isolate,proteinseries-mass-gainer,grass-fed-whey-protein-isolate-4lbs,protein-bars,protein-series-organic-vegan,proteinseries-100-grass-fed-casein-protein,proteinseries-collagen-hydrolysate" | split: ',' %}


{% comment %}
  Function to check if a handle exists in a specific series
{% endcomment %}

{% assign inPreSeries = false %}
{% assign inProteinSeries = false %}

{% for series_handle in preSeries %}
  <!-- {{ series_handle }} -->
<!-- {{ current_product_handle }} -->
  {% if current_product_handle contains series_handle %}
    {% assign inPreSeries = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% for series_handle in proteinSeries %}
  {% if current_product_handle contains series_handle %}
    {% assign inProteinSeries = true %}
    {% break %}
  {% endif %}
{% endfor %}
<!-- {{ inPreSeries }} -->
<!-- {{ inProteinSeries }} -->


{% comment %}
  HTML selector based on series check
{% endcomment %}
{% if inPreSeries %}
  <div class="comparison-btn">
    <!-- HTML content for pre-series products -->
  </div>
{% elsif inProteinSeries %}
  <div class="comparison-btn">
    <!-- HTML content for protein series products -->
  </div>
{% else %}

{% endif %}
