<!-- Footer Newsletter Form -->
<div class="newsletter-form">
  {% form 'customer', id: 'footer-newsletter-form' %}
    {% if form.posted_successfully? or request.params.customer_posted %}
      <p class="thanks__message">Thanks for subscribing!</p>
    {% elsif form.errors %}
      {% for field in form.errors %}
        <p class="error__message"><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
      {% endfor %}
    {% endif %}

    <input type="hidden" name="form_location" value="footer-newsletter">

    {% if template contains 'password' %}
      <input type="hidden" name="contact[tags]" value="prospect,password page"/>
    {% else %}
      <input type="hidden" name="contact[tags]" value="newsletter" />
    {% endif %}

    <div class="space-y-4 text-blue-500">
      <input type="hidden" name="challenge" value="false" />
      <fieldset>
        <label for="first-name" class="visually-hidden">First Name</label>
        <input
          id="first-name"
          class="text-input"
          name="contact[first_name]"
          placeholder="First Name"
          type="text"
        />
      </fieldset>
      <fieldset>
        <label for="email" class="visually-hidden">Email Address</label>
        <input
          id="email"
          autocapitalize="off"
          autocorrect="off"
          class="text-input"
          name="contact[email]"
          placeholder="Email Address"
          type="email"
        />
      </fieldset>
      <div id="errorContainer">
        <p class="error-message hide-error" id="first-name-error">
          {% render 'icon-error' %} Name Missing
        </p>
        <p class="error-message hide-error" id="email-error">
          {% render 'icon-error' %} Email Address Missing
        </p>
      </div>
      <button id="footersubmitbtn" class="button w-full" type="submit">Sign Up</button>
    </div>
  {% endform %}
</div>
