{{ 'quick-view.css' | asset_url | stylesheet_tag }}

<div class="xt-quiz-option-cart variant-drawer">
  <div class="cart-wraper">
    <div class="xclose close-drawer" onclick="closeDrawer()"></div>
    <div class="inject-dynamic-product-details">
    </div>
    
  </div>
</div>

<script>
const drawer = document.querySelector(".xt-quiz-option-cart");
drawer.addEventListener("click", function (event) {
  
  const xProducts = document.querySelectorAll(".xproduct");

  if (drawer && drawer.classList.contains("xactive")) {
    let clickedInsideXProduct = false;

    // Check if the click is inside any `.xproduct`
    xProducts.forEach(xProduct => {
      if (xProduct.contains(event.target)) {
        clickedInsideXProduct = true;
      }
    });

    // If click is outside all `.xproduct` elements, close the drawer
    if (!clickedInsideXProduct) {
      closeDrawer();
    }
  }
});

function closeDrawer() {
  document.querySelector(".xt-quiz-option-cart").classList.remove("xactive");
  document.querySelectorAll(".xproduct").forEach(product => product.style.display = "none");
}
</script>

