<template id="sb-pdf-viewer-template">
  <div class="sb-pdf-viewer">
    <button class="sb-pdf-viewer__close" data-modal-close style="display: none;">
      <svg viewBox="0 0 20 20" fill="none">
        <path d="M15 5L5 15M5 5L15 15" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <div class="sb-pdf-viewer__container" data-pdf-container>
      <div class="sb-pdf-viewer__loading">
        <div class="sb-pdf-viewer__loading-spinner"></div>
      </div>
    </div>
  </div>
</template>