{{ 'sb-quick-add.css' | asset_url | stylesheet_tag }}

<div class="sb-quick-add sb-quick-add__drawer" aria-label="Quick add drawer" role="dialog" tabindex="0">
  <div class="sb-quick-add__wrapper">
    <div class="sb-quick-add__close" aria-label="Close quick add drawer" role="button" tabindex="0"></div>
    <div class="sb-quick-add__content">
    </div>
  </div>
</div>
