<section class="TL_aff_content">
  <div class="TL_aff_icon_cont">
    {% assign count = 0 %}
    {% for block in section.blocks %}
           {% assign count = count | plus: 1 %}
    {% endfor %}
    {% if count == 1 %}
      <style>.TL_aff_icon {width:100%;}</style>
    {% elsif count == 2 %}
      <style>.TL_aff_icon {width:50%;}</style>
    {% elsif count == 3 %}
      <style>.TL_aff_icon {width:33%;}</style>
    {% elsif count == 4 %}
      <style>.TL_aff_icon {width:25%;}</style>
    {% endif %}
    
    {% for block in section.blocks %}
      
      <div class="TL_aff_icon">
        <img src="{{ block.settings.icon | img_url : 'master' }}" alt="Affiliate Icon {{ forloop.index }}" loading="lazy">
        {{ block.settings.title }}
      </div>
    {% endfor %}

  </div>
</section>
{% schema %}
  {
    "name": "bulk-affiliate-icons",
    "settings": [],
    "blocks":[
      {
        "name":"Icons",
        "type":"image",
        "limit":4,
        "settings":[
          {
            "type":"image_picker",
            "id":"icon",
            "label":"Icon"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          }
        ]
      }
    ],
    "presets":[
		{
			"name": "bulk-affiliate-icons"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}