<style>
     .cd-timer {
       display: flex;
        padding: 8px 12px;
        align-items: center;
        gap: 8px;
        background: rgba(71, 182, 230, 0.10);
        margin-top: 15px;
    }
    .cd-low-bold, .r-st-timer {
        font-weight: 600;
    }
    .cd-timer-details {
        color: #000;
        font-size: 14px;
        font-weight: 400;
    }
    .r-st-link {
        color: #1673B0;
        font-size: 14px;
        font-weight: 400;
        text-decoration-line: underline;
        cursor: pointer;
    }
    @media (max-width: 1000px) {
      .cd-timer {
        margin-bottom: 15px;
    }
    }
    @media (max-width: 600px) {
        .cd-timer {
            justify-content: center;
        }
        .breadcrumb {
          padding-bottom: 0px !important;
        }
        .cd-timer-details {
            font-size: 12px;
            width: 89%;
            text-align: center;
        }
    }
</style>
<script>
  let flag = false;
    const counterDiv = `<div class="cd-timer"><p class="cd-timer-details"></p></div>`;
    document.querySelector("nav .breadcrumb").insertAdjacentHTML("afterend", counterDiv);
    if (!localStorage.getItem("rCTimer"))
      localStorage.setItem("rCTimer", new Date());
    (function updateCounter() {
      const counterDetails = `<span class="cd-low-bold">Low stock!</span> Your items are only reserved for <span class="r-st-timer">10:00</span>`;
      // const resetDetails = `<span class="cd-low-bold">Low stock!</span> Your items are only reserved for <span class="cd-low-bold">0:00 </span><span class="r-st-link"> Refresh Timer</span>`;
      const resetDetails = `<span class="cd-low-bold">Low stock!</span> Your items are only reserved for <span class="cd-low-bold">0:00 </span>`;
      document.querySelector(".cd-timer-details").innerHTML = counterDetails;
      const rCTimer = localStorage.getItem("rCTimer");
      let d1 = new Date(rCTimer),
        d2 = new Date(d1);
      d2.setMinutes(d1.getMinutes() + 10);
      let startDate = d2.getTime();
      let x = setInterval(() => {
        if (!flag) {
          document.querySelector(".cd-timer").style.display = "flex";
          flag = true;
        }
        let now = new Date().getTime();
        let diff = startDate - now;
        let min = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
        let sec = Math.floor((diff % (1000 * 60)) / 1000);
        document.querySelector(".r-st-timer").innerHTML =
          ("00" + min).substr(-2) + ":" + ("00" + sec).substr(-2);
        if (diff <= 0) {
          document.querySelector(".cd-timer-details").innerHTML = resetDetails;
          // document.querySelector(".r-st-link").addEventListener("click", () => {
          //   localStorage.setItem("rCTimer", new Date());
          //   updateCounter();
          // });
          function resetTimer() {
              localStorage.setItem("rCTimer", new Date());
              updateCounter();
          }
          setTimeout(resetTimer);
          clearInterval(x);
        }
      }, 1000);
    })();
</script>