	
	<style>

	body {margin: 0;}

	.TL_newProdCards {
	display: flex;
	   flex-direction: column;
	   justify-content: center;
	   text-align: center;
	   background:#F7F9FC;
	   padding:24px;
	   overflow:hidden;
	}

	.tl_prod_carousel {
	 margin-bottom: 40px;
	}

	.tl_prod_carousel-cell {
	 margin-right: 10px;
      cursor: pointer;
	}

	.tl_prod_carousel-main .tl_prod_carousel-cell {
	   gap: 30px;
	   min-width: -webkit-fill-available;
	   overflow-x:scroll;
	}

	.tl_prod_carousel-nav .tl_prod_carousel-cell.is-nav-selected {
	 background: #41B5E8;
	color:#ffffff;
	}



	.tl_ProdCards_nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 8px;
	margin-top:10px;
	margin-bottom:30px;
	}

	.tl_ProdCards_nav_tab {
	padding: 8px 20px;
	background:#ffffff;
	border-radius: 100px;
	font-size:12px;
	}

	.tl_ProdCards_nav_tab_active {
	background: #41B5E8;
	color:#ffffff;
	}

	.tl_prod_carousel-main {
	   max-width: 1280px;
	   margin: 0 auto;
	   width: 100%;
	   max-height: 520px;
	}


	.tl_ProdCards_inner_card {
	background: #FFFFFF;
	border: 1px solid #F0F0F0;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	width:290px;
	overflow:hidden;
	text-align:left;
	margin-right:20px;
	}

	.tl_ProdCards_inner_card_image {
    background: #f9f9f9;
    height: 200px;
    width: 100%;
}
      
      .tl_ProdCards_inner_card_image img {
    height: 170px;
    width: auto;
    margin: 0 auto;
    margin-top: 10px;
}

	.tl_ProdCards_tag {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 2px 16px 2px 16px;
	gap: 10px;
	font-size: 12px;
	line-height: 24px;
	color:#ffffff;
	background: #41B5E8;
	text-align: center;
	max-width: max-content;
	}

	.tl_ProdCards_inner_card_text_inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px 16px;
	gap: 10px;
	flex-grow: 0;
	}

	.tl_ProdCards_inner_card_text_inner p {
	color:#6C787C;
	font-size:12px;
	line-height: 16px;
	margin:0px;
	}

	.tl_ProdCards_flavor {
	background:#f9f9f9;
	display:flex;
	min-height:40px;
	width:100%;
	border-top:1px solid rgba(0, 0, 0, 0.1);
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	}

	.tl_ProdCards_price {
	display:flex;
	flex-direction:column;
	}

	.tl_ProdCards_price_now {

	}

	.tl_ProdCards_price_was {
	font-size:12px;
	color: #6C787C;
	text-decoration:line-through;
	}

	.tl_ProdCards_buyButton button, .tl_ProdCards_buyButton_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    background: #41B5E8;
    border-radius: 4px;
    color: #ffffff;
    border: 0px;
    font-size: 14px;
    line-height: 24px;
    
    min-width: 170px;
    max-width: 240px;
    text-decoration: none;
}

	.tl_ProdCards_buyBox {
	   display: flex;
	   flex-direction: row;
	   width: 100%;
	   justify-content: space-between;
	   align-items: center;
	}

	.tl_ProdCards_rating {
	display:flex;
	width:100%;
	}

	.tl_ProdCards_rating_stars {
    display: flex;
    margin-right: 8px;
    gap: 1px;
    margin-top: -2px;
}

	.tl_ProdCards_rating_star {
	height:14px;
	width:14px;
	}

	.tl_ProdCards_rating_star {
	color: #FF5D0D;
	}
      
    .tl_ProdCards_rating_stars svg path  {
    fill: #fe5d0c;
}

	.TL_ReviewTag {
	   font-size: 16px;
	   color: #000000;
	   margin: 0 auto;
	   display: flex;
	   align-items: center;
	   padding: 30px;
	
	}

	.TL_ReviewTag span {
	   
	   display: contents;
	}

 	 @font-face {
	 font-family: aftika-bold;
       font-display: swap;
	 src: url(https://cdn.shopify.com/s/files/1/0866/7664/t/140/assets/Aftika-Bold.otf);
	} 

	@font-face {
	 font-family: aftika-light;
      font-display: swap;
	 src: url(https://cdn.shopify.com/s/files/1/0866/7664/t/140/assets/Aftika-Regular.otf);
	}

	.index-hp-rtb-test h1, .index-hp-rtb-test h2, .index-hp-rtb-test h3, .index-hp-rtb-test h4 {font-family:'aftika';margin:0px;}

	.index-hp-rtb-test h2 {
	font-size:40px;
	line-height:48px;
	margin:32px 0px;
	}


	.TL_RTB {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 32px 20px;
	gap: 32px;
	}

	.TL_RTB_inner {
	   max-width: 1250px;
	   margin: 0 auto;
	   width: 100%;
	   display: flex;
	   gap:30px;
	}

	.TL_RTB_box {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

	.TL_RTB_box p, .TL_newProdCards p, .TL_InfoSection p, .TL_RecentBlogs p {
	color:#6C787C;
	font-size:12px;
	line-height: 16px;
	margin:0px;
	}

	.TL_RTB_box_icon {margin-right:10px}

	.TL_RTB_box_icon svg {width:64px;height:64px;}

	.TL_RTB_box h4 {
    margin-bottom: 8px;
    line-height: 1.2;
	}
      
	.TL_InfoSection {
	   display: flex;
	   align-items: center;
	   justify-content: center;
	   padding: 20px;
	   max-width: 1280px;
	   margin: 0 auto;
	   overflow: hidden;
	}

	.tl_flipit {flex-direction:row-reverse;}

	.tl_flipit .TL_InfoSection_pic_inner {
	   border-top-right-radius: 0px;
	   border-bottom-left-radius: 0px;
	   border-top-left-radius:50px;
	   border-bottom-right-radius:50px;
	}

	.TL_InfoSection_pic {
	   width: 50%;
	   height: 100%;
	   padding:50px;
	}

	.TL_InfoSection_pic_inner {
	   height: 100%;
	   min-height: 400px;
	   width: 100%;
	   border-top-right-radius: 50px;
	   border-bottom-left-radius: 50px;
	   background-size: 120%;
	   background-repeat:no-repeat;
	   background-position:center center;
	   background-image: url(https://cdn.shopify.com/s/files/1/0866/7664/files/H2B-edits-585_1024x1024.jpg?v=1651246128);
	}


	.TL_InfoSection_type {
	width:50%;
	padding:50px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	gap:20px;}


	.TL_InfoSection_type p {
	font-size:16px;
	line-height:24px;
	color:#000000;
	margin-bottom:10px;
	}

	.TL_InfoSection_type h2 {
	margin: 0px 0px;
	}

	.TL_button_alt {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 32px;
	gap: 16px;
	border: 2px solid #41B5E8;
	border-radius: 4px;
	font-size: 14px;
	   line-height: 24px;
	   
	   width:max-content;
	   text-align: center;
	color: #41B5E8;
	text-decoration:none;
	}

	.TL_readMore {
    
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #41B5E8;
    text-decoration: none;
    display: flex;
    align-items: center;
}
      
    .TL_RecentBlogs .TL_readMore {
    position: absolute;
    bottom: 25px;
    }

	.TL_RecentBlogs {
    background: #F7F9FC;
    padding: 25px;
    padding-bottom: 55px;
}

	.TL_RecentBlogs_inner {
	max-width:1280px;
	margin:0 auto;
	}


	.TL_RecentBlogs-carousel-cell {
	   height: 400px;
	   width: 280px;
	   background:#ffffff;
	   overflow:hidden;
	   border-radius:8px;
	   margin-right:32px;
	}

	.TL_RecentBlogs-carousel-cell-image {
    height: 200px;
    background: #000000;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

	.TL_RecentBlogs-carousel-cell-text {
	padding:32px;
	}


	.TL_big_scoop {
    position: absolute;
    left: -78px;
    top: 104px;
}

	.TL_lil_scoop {
	   position: absolute;
	   right: -29px;
	   bottom: 16px;
	}


	.TL_PressBar {
	   max-width: 1200px;
	   margin: 0 auto;
	   border-top: 1px solid #212121;
	   border-bottom: 1px solid #212121;
	   display: flex;
	   justify-content: space-evenly;
	   align-items: center;
	   padding:50px 0px;
	}

	.TL_PressBar img {
	height:24px;
	}

	.TL_Testimonials {
	   background: #F7F9FC;
	   position: relative;
	   overflow: hidden;
	}

	.TL_Testimonials_inner {
	   display: flex;
	   max-width: 1200px;
	   margin: 0 auto;
	}

	.TL_Testimonials_text {
	   width: 40%;
	   padding: 30px 0px;
	   
	   font-style: normal;
	   font-weight: 400;
	   font-size: 12px;
	   color: #000000;
	   line-height: 16px;
	   padding-right: 80px;
	}

	.TL_Testimonials_text .quote {
	font-family: 'Georgia';
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	line-height: 125%;
	}

	.TL_Testimonials_text .name {
	}

	.TL_Testimonials_text .title {
	color:#6C787C;
	}

	.TL_Testimonials_pics {
	   width: 60%;
	   background-image: url(https://cdn.shopify.com/s/files/1/0866/7664/files/testimonials.jpg?v=1655209648);
	   position: absolute;
	   top: 0px;
	   height: 100%;
	   left: 50%;
	}

	.tl_ProdCards_buyButton_link {margin-top:40px;}


	@media only screen and (max-width: 1100px) {
	.tl_prod_carousel-main .tl_prod_carousel-cell {
	   width: auto;
	}

	.TL_newProdCards {
    padding: 0px;
    padding-top: 10px;
}

	.tl_prod_carousel-nav, .tl_prod_carousel-main {padding-left:20px;}

	.TL_newProdCards h2 {padding:20px;}

	h2 {
	font-size:24px;
	line-height:32px;
	margin: 0px;
	}

.TL_big_scoop {
    width: 350px;
    left: 0px;
    top: 111px;
}
	
.TL_lil_scoop {
    position: absolute;
    right: 0;
    top: 94px;
    width: 310px;
}

	}

	@media only screen and (max-width: 800px) {

	.TL_big_scoop {
    width: 300px;
    left: 0;
}

	
      .TL_lil_scoop {
    position: absolute;
    right: 0;
    top: 103px;
    width: 250px;
}

	.TL_InfoSection_pic, .TL_InfoSection_type {
	   width: 100%;
	   padding:30px;
	}

	.TL_InfoSection {flex-direction:column;}

	.TL_RTB_inner {
	   display: grid;
	   grid-template-columns: 1fr 1fr;
	}
	.TL_RTB_box {
	   width: 100%;
	}
	.TL_RTB_box_icon svg {
	   width: 32px;
	   height: 32px;
	}

	.TL_PressBar {
	   display: flex;
	   flex-direction: row;
	   flex-wrap: wrap;
	   justify-content: center;
	   border: none;
	   padding: 0px;
	}

	.TL_PressBar div {
    text-align: center;
    width: 100%;
    max-width: 45%;
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 30px;
}

	.TL_PressBar div:nth-of-type(1) {
	   max-width: 80%;
	   width: -webkit-fill-available;
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	   border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	.TL_PressBar div:nth-of-type(2) {
	   border-right: 1px solid rgba(0, 0, 0, 0.1);
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
	}

	.TL_PressBar div:nth-of-type(3) {
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.TL_PressBar div:nth-of-type(4) {
	   border-right: 1px solid rgba(0, 0, 0, 0.1);
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
	}
	.TL_PressBar div:nth-of-type(5) {
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.TL_Testimonials_inner {flex-direction:column-reverse;}

	.TL_Testimonials_text {
	   width: auto;
	   padding: 10px 20px;
	}

	.TL_Testimonials_pics {
	   width: 100%;
	   position: relative;
	   top: 0px;
	   height: 100%;
	   left: 0;
	   height: 135px;
	   background-size: cover;
	}
	.TL_RecentBlogs {
	   padding: 30px 20px;
	   padding-right: 0px;
	}
	.TL_RecentBlogs_inner h2 {
	margin-bottom:20px;}
	}

	@media only screen and (max-width: 600px) {

	.TL_InfoSection_pic_inner {
	min-height:220px;
	}
	.TL_RTB {
	   padding: 10px 10px;
	}
	.TL_RTB_text p {display:none;
	}
	.TL_RTB_box {
	   justify-content: flex-start;
	   text-align: center;
	   flex-direction: column;
	}
	.TL_RTB_inner {
	   gap: 0;
	}
	.TL_RTB_box {
	   width: auto;
	   padding: 15px;
	}

	.TL_RTB_box:nth-of-type(1) {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	   }
	   .TL_RTB_box:nth-of-type(2) {
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	   }
	      .TL_RTB_box:nth-of-type(3) {
	   border-right: 1px solid rgba(0, 0, 0, 0.1);
	   }

	.TL_big_scoop {
    width: 200px;
    left: 0;
    top: 70px;
}
    .TL_lil_scoop {
    position: absolute;
    right: 0;
    top: 61px;
    width: 162px;
}
	.tl_ProdCards_buyButton_link {
	   margin: 0 auto;
	   margin-top: 20px;
	   width: auto;
	}
	.TL_RTB_box h4 {
	   margin-bottom: 8px;
	   font-size: 12px;
	   line-height: 14px;
	   text-transform: uppercase;
	}
	.TL_RTB_box_icon svg {
	   margin-bottom: 10px;
	}

	.TL_ReviewTag {
	   flex-direction: column;
	}

	.TL_InfoSection_type {
	 padding-top: 0px;
	}

	}

      
      
      
     .tl_ProdCards_inner_card_text_inner p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
           .tl_ProdCards_inner_card_text_inner p span { 
      color: #7a7a7a !important;
           }
      
      .tl_ProdCards_inner_card_text_inner p:nth-of-type(3), .tl_ProdCards_inner_card_text_inner p:nth-of-type(4),
      .tl_ProdCards_inner_card_text_inner p:nth-of-type(5),
      .tl_ProdCards_inner_card_text_inner p:nth-child(n+6) { 
      display:none;
           }
            
      
    .tl_ProdCards_flavor .select {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 0;
    border-width: 0px;
    border-color: none;
    background-color: #ffffff;
    padding: 1rem 0rem;
    text-align: left;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: #000000;
}
      
   .TL_newProdCards form {
    width: 100%;
}
      
  .tl_ProdCards_flavor .select-list {
    top: 0;
    height: 100%;
}
      
    .tl_ProdCards_flavor .select-option {
    padding: 12px;
    color: #000000;
}
      
      .tl_ProdCards_inner_card .imageLink  {
    width: 100%;
    background: #f9f9f9;
}
      
   .tl_ProdCards_inner_card h3   {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
      
    .tl_ProdCards_price_was {
    display: none;
}
      
  
	</style>
	<script>
	</script>

	<section class="TL_RTB">
		<div class="TL_RTB_inner">
          	<div class="TL_RTB_box">
				<div class="TL_RTB_box_icon">
					<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 577.98 577.98"><defs><style>.cls-1{fill:#6e787b;}</style></defs><path d="M413.1,407.21H350l-19.21-60.77a102.1,102.1,0,0,0-20.06-187.22l2.22-3.87a15.85,15.85,0,0,0-5.84-21.61L283,120a15.86,15.86,0,0,0-21.63,5.82L196.68,238.92a6.2,6.2,0,0,0,2.3,8.44l40.84,23.34a6.19,6.19,0,0,0,8.43-2.3L291,193.81A63.87,63.87,0,0,1,314.32,312,29.72,29.72,0,0,0,296,305.6H178.92a15.9,15.9,0,0,0,0,31.79H250L228,407.21H164.88a6.18,6.18,0,0,0-6.18,6.18v30.42a6.18,6.18,0,0,0,6.18,6.18H413.1a6.18,6.18,0,0,0,6.18-6.18V413.39A6.18,6.18,0,0,0,413.1,407.21ZM289,327a18.31,18.31,0,1,1-18.3,18.3A18.33,18.33,0,0,1,289,327Z"/><path d="M289,352.93a7.63,7.63,0,1,0-7.63-7.63A7.64,7.64,0,0,0,289,352.93Z"/><path d="M192.89,272.09l28.63,16.38a6.1,6.1,0,0,0,8.48-2.28l3-5.2-39.39-22.45-3,5.14a6.16,6.16,0,0,0-.62,4.7A6.24,6.24,0,0,0,192.89,272.09Z"/><path d="M313.29,123a22.57,22.57,0,0,1,2.91,2l7.29-12.68a6.3,6.3,0,0,0-2.28-8.47L300.8,92.14a6,6,0,0,0-4.7-.56,5.83,5.83,0,0,0-3.77,2.85L285,107.29a21.73,21.73,0,0,1,4.27,2Z"/><path class="cls-1" d="M289,578C129.64,578,0,448.34,0,289S129.64,0,289,0,578,129.64,578,289,448.34,578,289,578Zm0-532.15C154.91,45.83,45.83,154.92,45.83,289S154.91,532.15,289,532.15,532.15,423.07,532.15,289,423.07,45.83,289,45.83Z"/></svg>
				</div>
				<div class="TL_RTB_text">
					<h4>Clinically Dosed Formulas</h4>
				</div>
			</div>
			<div class="TL_RTB_box">
				<div class="TL_RTB_box_icon">
					<svg height="34" viewbox="0 0 34 34" width="34" xmlns="http://www.w3.org/2000/svg">
					<path clip-rule="evenodd" d="M25.75 15.648C25.75 11.4137 22.3048 7.96466 18.0666 7.96466C13.8284 7.96466 10.3833 11.4099 10.3833 15.648C10.3833 17.3725 10.9722 19.0547 12.0423 20.4097L7.63481 24.8788C7.47698 25.0405 7.3923 25.2484 7.3923 25.4716C7.3923 25.6949 7.48083 25.9066 7.6425 26.0644C7.80033 26.2184 8.0082 26.3069 8.23146 26.3069C8.45857 26.3069 8.67029 26.2184 8.82811 26.0567L13.2241 21.5991C14.5945 22.7155 16.3074 23.3275 18.0666 23.3275C22.3048 23.3314 25.75 19.8823 25.75 15.648ZM18.0666 21.653C14.7561 21.653 12.0616 18.9585 12.0616 15.648C12.0616 12.3376 14.7561 9.64299 18.0666 9.64299C21.3771 9.64299 24.0716 12.3376 24.0716 15.648C24.0716 18.9585 21.3771 21.653 18.0666 21.653ZM18.1476 13.1882C16.8465 13.1882 15.7918 14.2468 15.7918 15.544C15.7918 16.8413 16.8504 17.8998 18.1476 17.8998C19.4449 17.8998 20.5034 16.8413 20.5034 15.544C20.5034 14.2468 19.4487 13.1882 18.1476 13.1882ZM18.1476 16.2215C17.7742 16.2215 17.4701 15.9174 17.4701 15.544C17.4701 15.1706 17.7742 14.8665 18.1476 14.8665C18.521 14.8665 18.8251 15.1706 18.8251 15.544C18.8251 15.9174 18.521 16.2215 18.1476 16.2215ZM13.0781 15.5439C13.0781 12.7493 15.3531 10.4743 18.1477 10.4743C20.9424 10.4743 23.2174 12.7493 23.2174 15.5439C23.2174 18.3386 20.9424 20.6136 18.1477 20.6136C15.3531 20.6136 13.0781 18.3386 13.0781 15.5439ZM14.7564 15.5439C14.7564 17.4147 16.2769 18.9352 18.1477 18.9352C20.0185 18.9352 21.539 17.4147 21.539 15.5439C21.539 13.6732 20.0185 12.1526 18.1477 12.1526C16.2769 12.1526 14.7564 13.6732 14.7564 15.5439Z" fill="black" fill-rule="evenodd"></path>
					<path d="M28.5784 28.7258C31.566 25.7126 33.4167 21.5711 33.4167 17.0021C33.4167 7.8129 25.9414 0.333313 16.7479 0.333313C12.1875 0.333313 8.0459 2.1797 5.03696 5.16299C5.01987 5.17581 5.00277 5.18009 4.98567 5.19718C4.97713 5.20573 4.97285 5.22283 4.96003 5.23138C1.9511 8.24886 0.0833359 12.4118 0.0833359 17.0021C0.0833359 26.1913 7.55865 33.6666 16.7521 33.6666C21.3467 33.6666 25.5139 31.7989 28.5314 28.7771C28.54 28.7686 28.5485 28.7686 28.5528 28.76C28.5656 28.7515 28.5656 28.7387 28.5784 28.7258ZM2.65204 17.0021C2.65204 13.5658 3.89152 10.4158 5.93879 7.96677L8.38354 10.4115C8.63571 10.6637 8.96482 10.7876 9.28964 10.7876C9.61447 10.7876 9.94785 10.6637 10.1957 10.4115C10.6958 9.91146 10.6958 9.09512 10.1957 8.59506L7.75099 6.1503C10.2 4.1244 13.3329 2.90202 16.7521 2.90202C24.5266 2.90202 30.8522 9.22762 30.8522 17.0021C30.8522 20.4171 29.6299 23.5542 27.5997 25.9947L25.1549 23.55C24.6549 23.0499 23.8428 23.0499 23.3385 23.55C22.8341 24.05 22.8384 24.8621 23.3385 25.3664L25.7832 27.8112C23.3342 29.8627 20.1842 31.0979 16.7479 31.0979C8.97764 31.0979 2.65204 24.7723 2.65204 17.0021Z" fill="#6C787C"></path></svg>
				</div>


				<div class="TL_RTB_text">
					<h4>No Artificial<br>
					Sweeteners</h4>
				</div>
			</div>


			<div class="TL_RTB_box">
				<div class="TL_RTB_box_icon">
					<svg height="34" viewbox="0 0 34 34" width="34" xmlns="http://www.w3.org/2000/svg">
					<path d="M33.7345 14.5095C32.6575 7.17753 26.6487 1.33334 19.3022 0.456925C13.9472 -0.184354 9.03246 1.71383 5.5793 5.12116C5.54084 5.14681 5.5152 5.17247 5.48956 5.19812C5.47674 5.21094 5.47673 5.21094 5.47673 5.22377C5.45109 5.23659 5.43827 5.24942 5.42545 5.27507C2.43386 8.28053 0.583344 12.4275 0.583344 17.0019C0.583344 21.0634 2.04922 24.7999 4.47669 27.6856C5.03654 28.3526 6.09215 28.2585 6.54516 27.5189C6.84004 27.0401 6.76739 26.4373 6.4084 26.0055C4.36985 23.5601 3.14757 20.4264 3.14757 17.0019C3.14757 13.5604 4.37839 10.4139 6.43404 7.95989L13.272 14.8002C13.772 15.3004 14.584 15.3004 15.084 14.8045C15.5883 14.3043 15.5883 13.4877 15.0883 12.9832L8.25892 6.15149C11.1992 3.71035 15.1524 2.44062 19.3406 3.05624C25.5546 3.96686 30.5249 9.07999 31.2429 15.309C31.7173 19.3789 30.4608 23.1582 28.0974 25.9927L21.2595 19.1524C20.7595 18.6522 19.9475 18.6522 19.4475 19.1481C18.9432 19.6483 18.9432 20.4648 19.4432 20.9693L26.2854 27.8139C23.8451 29.8703 20.6868 31.1015 17.2465 31.1015C15.8234 31.1015 14.4472 30.8963 13.1523 30.4987C12.5241 30.3063 11.8574 30.6526 11.6138 31.2683C11.5497 31.4222 11.524 31.5761 11.524 31.73C11.524 32.2815 11.883 32.7945 12.46 32.9612C13.9729 33.423 15.5798 33.6666 17.2508 33.6666C21.8194 33.6666 25.9563 31.8283 28.9864 28.8228C29.012 28.81 29.0248 28.7972 29.0377 28.7715C29.0505 28.7715 29.0505 28.7715 29.0633 28.7587C29.1146 28.7074 29.1659 28.6561 29.1915 28.6048L29.23 28.5663C32.6447 25.0564 34.5336 19.9689 33.7345 14.5095Z" fill="#6C787C"></path>
					<path clip-rule="evenodd" d="M22.3794 8.16082C23.3794 7.16042 25.0034 7.16042 26.0035 8.16082C27.0035 9.16121 27.0035 10.7858 26.0035 11.7862L23.3538 14.4368L23.4222 14.5052C23.9735 15.0524 23.9735 15.946 23.4222 16.4975C22.8751 17.049 21.9819 17.049 21.4306 16.4975L17.6655 12.731C17.1142 12.1838 17.1142 11.2903 17.6655 10.7388C18.2125 10.1873 19.1057 10.1873 19.657 10.7388L19.7297 10.8114L22.3794 8.16082ZM9.34892 22.3503C9.34678 22.3545 9.34464 22.3577 9.34251 22.361C9.34037 22.3642 9.33823 22.3674 9.3361 22.3716L8.71213 25.0009C8.66939 25.2831 8.93009 25.5438 9.21215 25.5011L11.8618 24.9068C11.8661 24.9047 11.8693 24.9026 11.8725 24.9004L11.8725 24.9004C11.8757 24.8983 11.8789 24.8961 11.8832 24.894L19.781 16.9934L17.2424 14.454L9.34892 22.3503ZM9.55376 27.9207C9.16913 27.2581 8.20754 27.2624 7.83573 27.9336L7.10493 29.2418C6.42114 30.4688 7.30579 31.9736 8.71184 31.9736C10.1264 31.9736 11.0111 30.4431 10.3017 29.2161L9.55376 27.9207Z" fill="black" fill-rule="evenodd"></path></svg>
				</div>


				<div class="TL_RTB_text">
					<h4>No Artificial<br>
					Coloring</h4>
				</div>
			</div>

			<div class="TL_RTB_box">
				<div class="TL_RTB_box_icon">
					<svg height="34" viewbox="0 0 34 34" width="34" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.1074 16.1173C19.0176 15.9763 18.9706 15.8139 18.9706 15.6514V8.72321H15.4018V15.6514C15.4018 15.8181 15.3548 15.9805 15.2693 16.1173L11.3628 22.3403C10.4439 23.8063 11.4953 25.7083 13.2263 25.7083H21.1547C22.8814 25.7083 23.9371 23.8063 23.0182 22.3403L19.1074 16.1173Z" fill="black"></path>
					<path d="M29.0784 28.7301C32.066 25.7169 33.9167 21.5711 33.9167 17.0021C33.9167 7.8129 26.4414 0.333313 17.2479 0.333313C12.6875 0.333313 8.55018 2.1797 5.53697 5.15872C5.52415 5.17154 5.50277 5.17581 5.48995 5.18864C5.4814 5.19718 5.47713 5.21001 5.46858 5.22283C2.4511 8.24031 0.583344 12.4075 0.583344 17.0021C0.583344 26.1913 8.05866 33.6666 17.2521 33.6666C21.8468 33.6666 26.014 31.7989 29.0314 28.7771C29.04 28.7686 29.0485 28.7686 29.0528 28.76C29.0656 28.7558 29.0699 28.7429 29.0784 28.7301ZM3.15204 17.0064C3.15204 13.5743 4.38725 10.4286 6.43452 7.97959L11.854 13.4675C12.1062 13.7239 12.4353 13.8479 12.7687 13.8479C13.0935 13.8479 13.4226 13.7239 13.6705 13.476C14.1748 12.9802 14.1791 12.1639 13.6833 11.6596L8.25526 6.16312C10.7 4.13295 13.8372 2.90629 17.2521 2.90629C25.0267 2.90629 31.3522 9.23189 31.3522 17.0064C31.3522 20.4214 30.1299 23.5585 28.0997 25.999L26.4713 24.3706C25.9712 23.8705 25.1591 23.8705 24.6548 24.3706C24.1547 24.8706 24.1547 25.6827 24.6548 26.1871L26.2832 27.8155C23.8342 29.867 20.6842 31.1022 17.2479 31.1022C9.47764 31.1022 3.15204 24.7766 3.15204 17.0064Z" fill="#6C787C"></path></svg>
				</div>


				<div class="TL_RTB_text">
					<h4>No Artificial<br>
					Preservatives</h4>
				</div>
			</div>
		</div>
	</section>


{% schema %}
{
  "name": "HP RTB Test second",
  "class": "index-hp-rtb-test",
  "settings": [
    {
      "id": "index-hp-rtb-test-section",
      "type": "text",
      "label": "HP RTB Test",
      "default": "HP Sections for RTB"
    }
  ],
  "presets": [{
    "name": "HP RTB Test second",
    "category": "Text"
  }]
}
{% endschema %}



<style>

#shopify-section-template--14614680076381__promises,
  #shopify-section-template--14614680076381__1649252876ef4064a3,
  #shopify-section-template--14614680076381__featured-blog,
  #shopify-section-template--14614680076381__recently-viewed-products {
  display:none;
  }

</style>
