	<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js">
	</script><!-- CSS -->
	<link href="https://unpkg.com/flickity@2/dist/flickity.min.css" rel="stylesheet">
	<style>

	body {margin: 0;}

	.TL_newProdCards {
	display: flex;
	   flex-direction: column;
	   justify-content: center;
	   text-align: center;
	   background:#F7F9FC;
	   padding:24px;
	   overflow:hidden;
	}

	.tl_prod_carousel {
	 margin-bottom: 40px;
	}

	.tl_prod_carousel-cell {
	 margin-right: 10px;
      cursor: pointer;
	}

	.tl_prod_carousel-main .tl_prod_carousel-cell {
	   gap: 30px;
	   min-width: -webkit-fill-available;
	   overflow-x:scroll;
	}

	.tl_prod_carousel-nav .tl_prod_carousel-cell.is-nav-selected {
	 background: #41B5E8;
	color:#ffffff;
	}



	.tl_ProdCards_nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 8px;
	margin-top:10px;
	margin-bottom:30px;
	}

	.tl_ProdCards_nav_tab {
	padding: 8px 20px;
	background:#ffffff;
	border-radius: 100px;
	
	font-size:12px;
	}

	.tl_ProdCards_nav_tab_active {
	background: #41B5E8;
	color:#ffffff;
	}

	.tl_prod_carousel-main {
	   max-width: 1280px;
	   margin: 0 auto;
	   width: 100%;
	   max-height: 520px;
	}


	.tl_ProdCards_inner_card {
	background: #FFFFFF;
	border: 1px solid #F0F0F0;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	width:290px;
	overflow:hidden;
	text-align:left;
	margin-right:20px;
	}

	.tl_ProdCards_inner_card_image {
    background: #f9f9f9;
    height: 200px;
    width: 100%;
}
      
      .tl_ProdCards_inner_card_image img {
    height: 170px;
    width: auto;
    margin: 0 auto;
    margin-top: 10px;
}

	.tl_ProdCards_tag {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 2px 16px 2px 16px;
	gap: 10px;
	font-size: 12px;
	line-height: 24px;
	color:#ffffff;
	background: #41B5E8;
	text-align: center;
	
	max-width: max-content;
	}

	.tl_ProdCards_inner_card_text_inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px 16px;
	gap: 10px;
	flex-grow: 0;
	}

	.tl_ProdCards_inner_card_text_inner p {
	
	color:#6C787C;
	font-size:12px;
	line-height: 16px;
	margin:0px;
	}

	.tl_ProdCards_flavor {
	background:#f9f9f9;
	display:flex;
	min-height:40px;
	width:100%;
	border-top:1px solid rgba(0, 0, 0, 0.1);
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	}

	.tl_ProdCards_price {
	display:flex;
	flex-direction:column;
	}

	.tl_ProdCards_price_now {
	
	}

	.tl_ProdCards_price_was {
	
	font-size:12px;
	color: #6C787C;
	text-decoration:line-through;
	}

	.tl_ProdCards_buyButton button, .tl_ProdCards_buyButton_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    background: #41B5E8;
    border-radius: 4px;
    color: #ffffff;
    border: 0px;
    font-size: 14px;
    line-height: 24px;
    
    min-width: 170px;
    max-width: 240px;
    text-decoration: none;
}

	.tl_ProdCards_buyBox {
	   display: flex;
	   flex-direction: row;
	   width: 100%;
	   justify-content: space-between;
	   align-items: center;
	}

	.tl_ProdCards_rating {
	display:flex;
	width:100%;
	}

	.tl_ProdCards_rating_stars {
    display: flex;
    margin-right: 8px;
    gap: 1px;
    margin-top: -2px;
}

	.tl_ProdCards_rating_star {
	height:14px;
	width:14px;
	}

	.tl_ProdCards_rating_star {
	color: #FF5D0D;
	}
      
    .tl_ProdCards_rating_stars svg path  {
    fill: #fe5d0c;
}

	.TL_ReviewTag {
	   font-size: 16px;
	   color: #000000;
	   margin: 0 auto;
	   display: flex;
	   align-items: center;
	   padding: 30px;
	   
	}

	.TL_ReviewTag span {
	   
	   display: contents;
	}

	 @font-face {
	 font-family: aftika-bold;
       font-display: swap;
	 src: url(https://cdn.shopify.com/s/files/1/0866/7664/t/140/assets/Aftika-Bold.otf);
	} 

	@font-face {
	 font-family: aftika-light;
      font-display: swap;
	 src: url(https://cdn.shopify.com/s/files/1/0866/7664/t/140/assets/Aftika-Regular.otf);
	}

      
	.index-hp-rtb-test h1, .index-hp-rtb-test h2, .index-hp-rtb-test h3, .index-hp-rtb-test h4 {margin:0px;}

	.index-hp-rtb-test h2 {
	font-size:40px;
	line-height:48px;
	margin:32px 0px;
	}


	.TL_RTB {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 32px 20px;
	gap: 32px;
	}

	.TL_RTB_inner {
	   max-width: 1250px;
	   margin: 0 auto;
	   width: 100%;
	   display: flex;
	   gap:30px;
	}

	.TL_RTB_box {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

	.TL_RTB_box p, .TL_newProdCards p, .TL_InfoSection p, .TL_RecentBlogs p {
	
	color:#6C787C;
	font-size:12px;
	line-height: 16px;
	margin:0px;
	}

	.TL_RTB_box_icon {margin-right:10px}

	.TL_RTB_box_icon svg {width:64px;height:64px;}

	.TL_RTB_box h4 {
    margin-bottom: 8px;
    line-height: 1.2;
	}
      
	.TL_InfoSection {
	   display: flex;
	   align-items: center;
	   justify-content: center;
	   padding: 20px;
	   max-width: 1280px;
	   margin: 0 auto;
	   overflow: hidden;
	}

	.tl_flipit {flex-direction:row-reverse;}

	.tl_flipit .TL_InfoSection_pic_inner {
	   border-top-right-radius: 0px;
	   border-bottom-left-radius: 0px;
	   border-top-left-radius:50px;
	   border-bottom-right-radius:50px;
	}

	.TL_InfoSection_pic {
	   width: 50%;
	   height: 100%;
	   padding:50px;
	}

	.TL_InfoSection_pic_inner {
	   height: 100%;
	   min-height: 400px;
	   width: 100%;
	   border-top-right-radius: 50px;
	   border-bottom-left-radius: 50px;
	   background-size: 120%;
	   background-repeat:no-repeat;
	   background-position:center center;
	   background-image: url(https://cdn.shopify.com/s/files/1/0866/7664/files/H2B2-min.webp?v=1663860815);
	}


	.TL_InfoSection_type {
	width:50%;
	padding:50px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	gap:20px;}


	.TL_InfoSection_type p {
	font-size:16px;
	line-height:24px;
	color:#000000;
	margin-bottom:10px;
	}

	.TL_InfoSection_type h2 {
	margin: 0px 0px;
	}

	.TL_button_alt {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 32px;
	gap: 16px;
	border: 2px solid #41B5E8;
	border-radius: 4px;
	font-size: 14px;
	   line-height: 24px;
	   
	   width:max-content;
	   text-align: center;
	color: #41B5E8;
	text-decoration:none;
	}

	.TL_readMore {
    
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #41B5E8;
    text-decoration: none;
    display: flex;
    align-items: center;
}
      
    .TL_RecentBlogs .TL_readMore {
    position: absolute;
    bottom: 25px;
    }

	.TL_RecentBlogs {
    background: #F7F9FC;
    padding: 25px;
    padding-bottom: 55px;
}

	.TL_RecentBlogs_inner {
	max-width:1280px;
	margin:0 auto;
	}


	.TL_RecentBlogs-carousel-cell {
	   height: 400px;
	   width: 280px;
	   background:#ffffff;
	   overflow:hidden;
	   border-radius:8px;
	   margin-right:32px;
	}

	.TL_RecentBlogs-carousel-cell-image {
    height: 200px;
    background: #000000;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

	.TL_RecentBlogs-carousel-cell-text {
	padding:32px;
	}


	.TL_ScoopHero {
	   background: #132836;
	   position: relative;
	   overflow: hidden;
	}

	.TL_big_scoop {
    position: absolute;
    left: -78px;
    top: 104px;
}

	.TL_lil_scoop {
	   position: absolute;
	   right: -29px;
	   bottom: 16px;
	}

	.TL_ScoopHero_inner {
	max-width:1280px;
	margin:0 auto;
	padding:50px 200px;
	}

	.TL_ScoopHero_inner h1 {
	font-size: 96px;
	line-height: 100%;
	color: #FFFFFF;
	margin-bottom:75px;
	max-width:500px;
	}

	.TL_ScoopHero_charts_tl, .TL_ScoopHero_charts_them {
	width:50%;
	}

	.TL_ScoopHero_charts_tl h3 {
	color:#41B5E8;
	margin-bottom:10px;
	}

	.TL_ScoopHero_charts_them h3 {
	color:#FF5D0D;
	}


	.TL_ScoopHero_charts {
	display:flex;
	justify-content:flex-start;
	gap:50px;
	}

	.TL_ScoopHero_charts svg {
	   width: 24px;
	   height: 24px;
	   margin-right: 10px;
	   margin-left: -5px;
	   flex-shrink: 0;
	   color:#41B5E8;
	}
	.TL_ScoopHero_charts svg path {
	   fill:#41B5E8;
	}
	.TL_ScoopHero_charts_them svg path {
	   fill:#FF5D0D;
	}

	.TL_ScoopHero_charts ul {
	   padding-left: 0px;
	   margin-top: 8px;
	}

	.TL_ScoopHero_charts ul li {
	
	font-size: 18px;
	line-height: 22px;
	list-style:none;
	color:#ffffff;
	border-top:1px solid rgba(255, 255, 255, 0.1);
	padding:8px;
	width:100%;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	}

	.TL_PressBar {
	   max-width: 1200px;
	   margin: 0 auto;
	   border-top: 1px solid #212121;
	   border-bottom: 1px solid #212121;
	   display: flex;
	   justify-content: space-evenly;
	   align-items: center;
	   padding:50px 0px;
	}

	.TL_PressBar img {
	height:24px;
	}

	.TL_Testimonials {
	   background: #F7F9FC;
	   position: relative;
	   overflow: hidden;
	}

	.TL_Testimonials_inner {
	   display: flex;
	   max-width: 1200px;
	   margin: 0 auto;
	}

	.TL_Testimonials_text {
	   width: 40%;
	   padding: 30px 0px;
	   
	   font-style: normal;
	   font-weight: 400;
	   font-size: 12px;
	   color: #000000;
	   line-height: 16px;
	   padding-right: 80px;
	}

	.TL_Testimonials_text .quote {
	font-family: 'Georgia';
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	line-height: 125%;
	}

	.TL_Testimonials_text .name {
	}

	.TL_Testimonials_text .title {
	color:#6C787C;
	
	}

	.TL_Testimonials_pics {
	   width: 60%;
	   background-image: url(https://cdn.shopify.com/s/files/1/0866/7664/files/testimonials.webp?v=1663864892);
	   position: absolute;
	   top: 0px;
	   height: 100%;
	   left: 50%;
	}

	.tl_ProdCards_buyButton_link {margin-top:40px;}


	@media only screen and (max-width: 1100px) {

	.TL_ScoopHero {
	   min-height: auto;
	}

	.tl_prod_carousel-main .tl_prod_carousel-cell {
	   width: auto;
	}

	.TL_newProdCards {
    padding: 0px;
    padding-top: 10px;
}

	.tl_prod_carousel-nav, .tl_prod_carousel-main {padding-left:20px;}

	.TL_newProdCards h2 {padding:20px;}

	h2 {
	font-size:24px;
	line-height:32px;
	margin: 0px;
	}

.TL_big_scoop {
    width: 350px;
    left: 0px;
    top: 111px;
}
	.TL_ScoopHero_inner h1 {
    font-size: 80px;
    margin-bottom: 175px;
    max-width: 100%;
}
.TL_lil_scoop {
    position: absolute;
    right: 0;
    top: 94px;
    width: 310px;
}
	.TL_ScoopHero_inner {
	   padding: 50px 100px;
	}

	}

	@media only screen and (max-width: 800px) {

	.TL_ScoopHero_inner {
	   padding: 50px 30px;
	}
	.TL_big_scoop {
    width: 300px;
    left: 0;
}

	.TL_ScoopHero_inner h1 {
    font-size: 64px;
    text-align: center;
}

      .TL_lil_scoop {
    position: absolute;
    right: 0;
    top: 103px;
    width: 250px;
}
	.TL_ScoopHero_charts_tl h3, .TL_ScoopHero_charts_them h3 {font-size:12px;}

	.TL_ScoopHero_charts ul li {
	   font-size: 12px;
	   line-height: 16px;
	   padding-right: 0px;
	   padding-left: 0px;
	}

	.TL_InfoSection_pic, .TL_InfoSection_type {
	   width: 100%;
	   padding:30px;
	}

	.TL_InfoSection {flex-direction:column;}

	.TL_RTB_inner {
	   display: grid;
	   grid-template-columns: 1fr 1fr;
	}
	.TL_RTB_box {
	   width: 100%;
	}
	.TL_RTB_box_icon svg {
	   width: 32px;
	   height: 32px;
	}

	.TL_PressBar {
	   display: flex;
	   flex-direction: row;
	   flex-wrap: wrap;
	   justify-content: center;
	   border: none;
	   padding: 0px;
	}

	.TL_PressBar div {
    text-align: center;
    width: 100%;
    max-width: 45%;
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 30px;
}

	.TL_PressBar div:nth-of-type(1) {
	   max-width: 80%;
	   width: -webkit-fill-available;
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	   border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	.TL_PressBar div:nth-of-type(2) {
	   border-right: 1px solid rgba(0, 0, 0, 0.1);
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
	}

	.TL_PressBar div:nth-of-type(3) {
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.TL_PressBar div:nth-of-type(4) {
	   border-right: 1px solid rgba(0, 0, 0, 0.1);
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
	}
	.TL_PressBar div:nth-of-type(5) {
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.TL_Testimonials_inner {flex-direction:column-reverse;}

	.TL_Testimonials_text {
	   width: auto;
	   padding: 10px 20px;
	}

	.TL_Testimonials_pics {
	   width: 100%;
	   position: relative;
	   top: 0px;
	   height: 100%;
	   left: 0;
	   height: 135px;
	   background-size: cover;
	}
	.TL_RecentBlogs {
	   padding: 30px 20px;
	   padding-right: 0px;
	}
	.TL_RecentBlogs_inner h2 {
	margin-bottom:20px;}
	}

	@media only screen and (max-width: 600px) {

	.TL_InfoSection_pic_inner {
	min-height:220px;
	}
	.TL_RTB {
	   padding: 10px 10px;
	}
	.TL_RTB_text p {display:none;
	}
	.TL_RTB_box {
	   justify-content: flex-start;
	   text-align: center;
	   flex-direction: column;
	}
	.TL_RTB_inner {
	   gap: 0;
	}
	.TL_RTB_box {
	   width: auto;
	   padding: 15px;
	}

	.TL_RTB_box:nth-of-type(1) {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	   }
	   .TL_RTB_box:nth-of-type(2) {
	   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	   }
	      .TL_RTB_box:nth-of-type(3) {
	   border-right: 1px solid rgba(0, 0, 0, 0.1);
	   }

	.TL_big_scoop {
    width: 200px;
    left: 0;
    top: 70px;
}
    .TL_lil_scoop {
    position: absolute;
    right: 0;
    top: 61px;
    width: 162px;
}
	.TL_ScoopHero_inner {
	   padding: 30px 20px;
	}
	.TL_ScoopHero_charts_tl h3 {
	   max-width: 75%;
	}
	.TL_ScoopHero_charts {
	   gap: 30px;
	}
	.TL_ScoopHero_inner h1 {
    margin-bottom: 110px;
    font-size: 42px;
	}
	.TL_ScoopHero_charts ul {
	   margin-bottom: 0px;
	}
	.tl_ProdCards_buyButton_link {
	   margin: 0 auto;
	   margin-top: 20px;
	   width: auto;
	}
	.TL_RTB_box h4 {
	   margin-bottom: 8px;
	   font-size: 12px;
	   line-height: 14px;
	   text-transform: uppercase;
	}
	.TL_RTB_box_icon svg {
	   margin-bottom: 10px;
	}

	.TL_ReviewTag {
	   flex-direction: column;
	}

	.TL_InfoSection_type {
	 padding-top: 0px;
	}

	}

      
      
      
     .tl_ProdCards_inner_card_text_inner p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
           .tl_ProdCards_inner_card_text_inner p span { 
      color: #7a7a7a !important;
           }
      
      .tl_ProdCards_inner_card_text_inner p:nth-of-type(3), .tl_ProdCards_inner_card_text_inner p:nth-of-type(4),
      .tl_ProdCards_inner_card_text_inner p:nth-of-type(5),
      .tl_ProdCards_inner_card_text_inner p:nth-child(n+6) { 
      display:none;
           }
            
      
    .tl_ProdCards_flavor .select {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 0;
    border-width: 0px;
    border-color: none;
    background-color: #ffffff;
    padding: 1rem 0rem;
    text-align: left;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: #000000;
    
}
      
   .TL_newProdCards form {
    width: 100%;
}
      
  .tl_ProdCards_flavor .select-list {
    top: 0;
    height: 100%;
}
      
    .tl_ProdCards_flavor .select-option {
    padding: 12px;
    
    color: #000000;
}
      
      .tl_ProdCards_inner_card .imageLink  {
    width: 100%;
    background: #f9f9f9;
}
      
   .tl_ProdCards_inner_card h3   {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
      
    .tl_ProdCards_price_was {
    display: none;
}
      
   .TL_ScoopHero {
    background-image: url(https://cdn.shopify.com/s/files/1/0866/7664/articles/TL_Blog_Template_15.png?v=1654593107);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
     background-position: center center;
     display:none;
}

	</style>
	<script>
	</script>

	<section class="TL_InfoSection">
		<div class="TL_InfoSection_pic">
			<div class="TL_InfoSection_pic_inner">
			</div>
		</div>


		<div class="TL_InfoSection_type">
			<h2>Developed for Peak Performance and Optimal Health</h2>


			<p>Our formulas are designed in line with the latest sport science and nutrition research to help you perform and feel your best.</p>
			<a class="TL_button_alt" href="https://www.transparentlabs.com/collections/bestsellers">SHOP NOW</a>
		</div>
	</section>


	<section class="TL_PressBar">
		<div>
			<h4>AS SEEN ON</h4>
		</div>


		<div><img src="https://cdn.shopify.com/s/files/1/0866/7664/files/gq.png?v=1655209648" alt="GQ Logo" loading="lazy">
		</div>


		<div><img src="https://cdn.shopify.com/s/files/1/0866/7664/files/healthline.png?v=1655209649" alt="Healthline Logo" loading="lazy">
		</div>


		<div><img src="https://cdn.shopify.com/s/files/1/0866/7664/files/menshealth.png?v=1655209648" alt="Men's Journal Logo" loading="lazy">
		</div>


		<div><img src="https://cdn.shopify.com/s/files/1/0866/7664/files/livestrong.png?v=1655209649" alt="Live Strong Logo" loading="lazy">
		</div>
	</section>


	<section class="TL_InfoSection tl_flipit">
		<div class="TL_InfoSection_pic">
			<div class="TL_InfoSection_pic_inner" style="background-size:130%; background-image:url('https://cdn.shopify.com/s/files/1/0866/7664/files/ShoulderPress-min.webp?v=1663861507')">
			</div>
		</div>


		<div class="TL_InfoSection_type">
			<h2>Evidence-based Formulas Driven by Science</h2>


			<p>Each Transparent Labs supplement features science-backed ingredients in clinically effective doses and none of the junk that remains unsupported by research. Every formula is critiqued and revised in accordance with feedback from independent scientific advisors to ensure proper efficiency.</p>
			<a class="TL_button_alt" href="https://www.transparentlabs.com/collections/bestsellers">SHOP NOW</a>
		</div>
	</section>


	<section class="TL_Testimonials">
		<div class="TL_Testimonials_inner">
			<div class="TL_Testimonials_text">
				<p class="quote">Transparent Labs helps me recover like no other. I’m convinced these products have a huge impact on my training. I would definitely recommend TL to anyone looking to improve their workouts, training, running, and recovery.</p>


				<div style="margin-top: 10px; margin-bottom: 10px;">
					<svg height="25" viewbox="0 0 150 25" width="150" xmlns="http://www.w3.org/2000/svg">
					<path d="M12 18.1701L18.18 21.9001L16.54 14.8701L22 10.1401L14.81 9.53015L12 2.90015L9.19 9.53015L2 10.1401L7.46 14.8701L5.82 21.9001L12 18.1701Z" fill="#FF5D0D"></path>
					<path d="M36 18.1701L42.18 21.9001L40.54 14.8701L46 10.1401L38.81 9.53015L36 2.90015L33.19 9.53015L26 10.1401L31.46 14.8701L29.82 21.9001L36 18.1701Z" fill="#FF5D0D"></path>
					<path d="M60 18.1701L66.18 21.9001L64.54 14.8701L70 10.1401L62.81 9.53015L60 2.90015L57.19 9.53015L50 10.1401L55.46 14.8701L53.82 21.9001L60 18.1701Z" fill="#FF5D0D"></path>
					<path d="M84 18.1701L90.18 21.9001L88.54 14.8701L94 10.1401L86.81 9.53015L84 2.90015L81.19 9.53015L74 10.1401L79.46 14.8701L77.82 21.9001L84 18.1701Z" fill="#FF5D0D"></path>
					<path d="M108 18.1701L114.18 21.9001L112.54 14.8701L118 10.1401L110.81 9.53015L108 2.90015L105.19 9.53015L98 10.1401L103.46 14.8701L101.82 21.9001L108 18.1701Z" fill="#FF5D0D"></path>
					<path d="M132.455 11.1404V11.1462C133.303 11.1462 133.996 11.3982 134.535 11.9021C135.074 12.406 135.344 13.113 135.344 14.0232C135.344 14.9177 135.033 15.6501 134.412 16.2205C133.787 16.7908 132.982 17.0759 131.998 17.0759C131.541 17.0759 131.111 17.0115 130.709 16.8826C130.314 16.7576 129.984 16.6013 129.719 16.4138C129.461 16.2302 129.238 16.0486 129.051 15.8689C128.859 15.6853 128.725 15.531 128.646 15.406L128.529 15.2126L129.584 14.1345C129.604 14.158 129.633 14.2029 129.672 14.2693C129.703 14.324 129.791 14.4255 129.936 14.574C130.072 14.7146 130.223 14.8435 130.387 14.9607C130.535 15.0662 130.744 15.1677 131.014 15.2654C131.271 15.3591 131.541 15.406 131.822 15.406C132.307 15.406 132.699 15.2673 133 14.99C133.301 14.7126 133.451 14.3552 133.451 13.9177C133.451 13.4646 133.297 13.113 132.988 12.863C132.676 12.6091 132.252 12.4822 131.717 12.4822C131.377 12.4822 131.031 12.5388 130.68 12.6521C130.34 12.7615 130.088 12.865 129.924 12.9626L128.992 12.3181L129.52 8.11694H134.699V9.72241H131.078L130.838 11.4275C131.283 11.2361 131.822 11.1404 132.455 11.1404Z" fill="black"></path>
					<path d="M135.707 18.5173L140.975 6.92749H142.363L137.084 18.5173H135.707ZM146.541 11.1404V11.1462C147.389 11.1462 148.082 11.3982 148.621 11.9021C149.16 12.406 149.43 13.113 149.43 14.0232C149.43 14.9177 149.119 15.6501 148.498 16.2205C147.873 16.7908 147.068 17.0759 146.084 17.0759C145.627 17.0759 145.197 17.0115 144.795 16.8826C144.4 16.7576 144.07 16.6013 143.805 16.4138C143.547 16.2302 143.324 16.0486 143.137 15.8689C142.945 15.6853 142.811 15.531 142.732 15.406L142.615 15.2126L143.67 14.1345C143.689 14.158 143.719 14.2029 143.758 14.2693C143.789 14.324 143.877 14.4255 144.021 14.574C144.158 14.7146 144.309 14.8435 144.473 14.9607C144.621 15.0662 144.83 15.1677 145.1 15.2654C145.357 15.3591 145.627 15.406 145.908 15.406C146.393 15.406 146.785 15.2673 147.086 14.99C147.387 14.7126 147.537 14.3552 147.537 13.9177C147.537 13.4646 147.383 13.113 147.074 12.863C146.762 12.6091 146.338 12.4822 145.803 12.4822C145.463 12.4822 145.117 12.5388 144.766 12.6521C144.426 12.7615 144.174 12.865 144.01 12.9626L143.078 12.3181L143.605 8.11694H148.785V9.72241H145.164L144.924 11.4275C145.369 11.2361 145.908 11.1404 146.541 11.1404Z" fill="#6C787C"></path></svg>
				</div>


				<p class="name">Scotty S.</p>


				<p class="title">TL Select Athlete</p>
			</div>


			<div class="TL_Testimonials_pics">
			</div>
		</div>
	</section>


	<section class="TL_InfoSection">
		<div class="TL_InfoSection_pic">
			<div class="TL_InfoSection_pic_inner" style="background-image:url(https://cdn.shopify.com/s/files/1/0866/7664/files/H2BIso-min.webp?v=1663861765)">
			</div>
		</div>


		<div class="TL_InfoSection_type">
			<h2>Clean Ingredients with Nothing to Hide</h2>


			<p>Transparent Labs is committed to using 100% authentic ingredients and full-disclosure product labels so you know precisely what you’re putting in your body, even the amounts of inactive ingredients we use (e.g. stevia extract, natural flavoring, and citric acid).<br>
			<br>
			You wouldn’t find any proprietary blends, artificial sweeteners, colors, fillers, or preservatives in our products.</p>
			<a class="TL_button_alt" href="https://www.transparentlabs.com/collections/bestsellers">SHOP NOW</a>
		</div>
	</section>


	<section class="TL_RecentBlogs">
		<div class="TL_RecentBlogs_inner">
			<h2>Latest from the TL Blog</h2>


			<div class="TL_RecentBlogs-carousel" data-flickity='{ "contain": true, "pageDots": false, "prevNextButtons": false, "dragable": true }'>
				
              {% for article in blogs.all.articles limit:6 %}


  
  
  <div class="TL_RecentBlogs-carousel-cell">
					<a href="{{ article.url }}"><div class="TL_RecentBlogs-carousel-cell-image" style="background-image:url('{{ article | img_url: 'large' }}')">
                      </div></a>


					<div class="TL_RecentBlogs-carousel-cell-text">
						<h3>{{ article.title }}</h3>

						<a class="TL_readMore" href="{{ article.url }}">Read <span style="line-height: 1;margin-left:10px"><svg height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.17 13L12.59 16.59L14 18L20 12L14 6L12.59 7.41L16.17 11H4V13H16.17Z" fill="#41B5E8"></path></svg></span></a>
					</div>
				</div>




{% endfor %}



			</div>
		</div>
	</section>



{% schema %}
{
  "name": "HP RTB Test",
  "class": "index-hp-rtb-test",
  "settings": [
    {
      "id": "index-hp-rtb-test-section",
      "type": "text",
      "label": "HP RTB Test",
      "default": "HP Sections for RTB"
    }
  ],
  "presets": [{
    "name": "HP Tests",
    "category": "Text"
  }]
}
{% endschema %}



<style>

#shopify-section-template--14614680076381__promises,
  #shopify-section-template--14614680076381__1649252876ef4064a3,
  #shopify-section-template--14614680076381__featured-blog,
  #shopify-section-template--14614680076381__recently-viewed-products {
  display:none;
  }

</style>
