<div class="lg:hidden">
  <div class="hero-swiper swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'slide' %}
          <div class="swiper-slide">
            <div class="relative">
              {% render 'lazy-image',
                height: block.settings.mobile_image.height,
                image: block.settings.mobile_image,
                width: block.settings.mobile_image.width,
              %}

              <div class="absolute left-0 px-4 right-0 top-1/2 -translate-y-1/2 z-10">
                <div class="space-y-2">
                  {{ block.settings.text }}
                </div>

                {% if block.settings.action_url %}
                  <div class="mt-8">
                    <a
                      class="bg-gradient-to-b from-orange-300 to-orange-400 rounded-md px-5 py-4 text-sm text-white"
                      href="{{ block.settings.action_url }}"
                    >
                      {{ block.settings.action_text }}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="absolute bottom-4 left-1/2 -translate-x-1/2 z-10">
      <div class="hero-swiper__pagination"></div>
    </div>
  </div>
</div>

<div class="container gap-8 grid-cols-2 hidden items-center mx-auto px-4 lg:grid">
  <div>
    <div class="max-w-2xl mb-8">
      {{ section.settings.desktop_text }}
    </div>

    <a
      class="inline-block button px-6"
      href="/collections/all"
    >
      Shop Products
    </a>

    <div class="mt-16 w-48">
      <p class="font-bold text-blue-500">
        The #1 Trusted Sports Nutrition Company
      </p>
    </div>

    {% comment %}
      TODO: add reviews
    {% endcomment %}
  </div>

  <div class="bg-white mx-auto shadow-xl w-3/4">
    <div class="hero-swiper swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'slide' %}
            <div class="swiper-slide">
              {% render 'lazy-image',
                crop: 'top',
                height: block.settings.mobile_image.height,
                image: block.settings.mobile_image,
                image_class: 'rounded-md',
                width: block.settings.mobile_image.width,
              %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="absolute bottom-4 left-1/2 -translate-x-1/2 z-10">
        <div class="hero-swiper__pagination"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "blocks": [
    {
      "name": "Slide",
      "settings": [
        {
          "id": "action_url",
          "info": "Leave blank to not include a button",
          "label": "Button Link",
          "type": "url"
        },
        {
          "id": "action_text",
          "label": "Button Text",
          "type": "text"
        },
        {
          "id": "mobile_image",
          "label": "Mobile Image",
          "type": "image_picker"
        },
        {
          "id": "text",
          "label": "Text",
          "type": "html"
        }
      ],
      "type": "slide"
    }
  ],
  "name": "Slider",
  "settings": [
    {
      "id": "desktop_text",
      "label": "Desktop Text",
      "type": "html"
    }
  ]
}
{% endschema %}