{% schema %}
{
"name": "Hafthors Summit Section",
"class": "td-legacy",
"settings": [],
"presets": [
{
"name": "Hafthors Summit Section"
}
]
}
{% endschema %}

{% stylesheet %}
  .xgen-stack-banner .stack-banner .bdesktop {
    padding: 0!important;
    max-width:none!important;
  }
  .vs_main_frame {
    margin-left:auto;
    margin-right:auto;
  }
  .summit_details {
    max-width:600px; 
    margin-top:40px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
  }
  .summit_details h1 {
    text-transform:uppercase;
    font-size:24px;
    color: #00aefb;
  }
  .summitform_wrapper {
  margin-bottom:75px;
  }
{% endstylesheet %}
<div class="summit_details" id="summit_details" style="padding:50px 0;">
<h1>Hafthor's Summit Challenge</h1>
  <p>Contest entry has closed. Winner will be selected on March 20, 2023. Read the <a href="https://www.transparentlabs.com/pages/hafthors-summit-challenge-official-rules" style="text-decoration:underline">Official Rules</a>.</p>
</div>
<!--<div class="summitform_wrapper">
<div id="vsscript_127166_196663"></div>
<script async="" type="text/javascript" src="https://app.viralsweep.com/vsa-widget-2466c4-127166.js?sid=127166_196663"></script>
</div>-->


{% javascript %}
{% endjavascript %} 