<style>

 @font-face {
	 font-family: aftika;
	 src: url(https://cdn.shopify.com/s/files/1/0866/7664/t/140/assets/Aftika-Bold.otf);
	}

	@font-face {
	 font-family: aftika-light;
	 src: url(https://cdn.shopify.com/s/files/1/0866/7664/t/140/assets/Aftika-Regular.otf);
	}
	
	
.AU_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    margin-top:50px;
}

.AU_content h1 {
    font-size: 44px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 25px;
}

 .AU_content_main_section h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.AU_content_sidebar_box h3 {
    text-transform: uppercase;
}

.AU_content p {
    font-size: 16px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
}

.AU_content_main_hero {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    background: url(https://cdn.shopify.com/s/files/1/0866/7664/files/AU_hero.jpg?v=1663159395);
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    min-height: 450px;
    border-radius: 6px;
}

.AU_content_main {
width:70%;
}

.AU_content_sidebar {
    min-height: 200px;
    width: 30%;
    padding-left: 60px;
    align-self: flex-start;
    position: sticky;
    top: 50px;
    padding-bottom: 50px;
}

.AU_content_sidebar_box {
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
    text-decoration: none;
}

.AU_content_sidebar_box ul {
    list-style:none;
    padding-left:0px;
}

.AU_content_sidebar_box ul li a {
    text-decoration: none;
    color: inherit;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}



.AU_content_sidebar_box ul li {
    padding: 15px 0px;
    border-bottom: 1px solid #efefef;
    display: flex;
    fill: rgb(19, 40, 54);
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.AU_content_sidebar_box ul li svg {
    fill: #132836;
    height: 24px;
    padding-left: 20px;
    transition: ease all .5s;
}

.AU_content_sidebar_box ul li:last-of-type {
    border-bottom: 0px solid #efefef;
    padding-bottom: 0px;
}

.AU_content_sidebar_box_alt {
    background: rgb(19, 40, 54);
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgb(19, 40, 54);
    color: #ffffff;
    margin-top: 40px;
    text-transform: uppercase;
    display: flex;
    fill: #ffffff52;
    font-size: 14px !important;
    position: relative;
    padding-right: 100px;
    transition: ease all .25s;
    margin-bottom:40px;
}

.AU_content_sidebar_box_alt_link  {
 text-decoration:none;
}

.AU_content_sidebar_box_alt img {
    position: absolute;
    right: 0;
    width: 125px;
    top: 7px;
    transition: ease all .25s;
}

.AU_content_sidebar_box_alt h3 {
    color: rgb(255 255 255);
    font-size: 18px;
    line-height: 20px;
    max-width: 80%;
}

.AU_content_sidebar_box_alt svg {
    width: 12px;
    height: 16px;
    margin-left: 5px;
}

.AU_content_sidebar_box_alt:hover {
    background: rgb(64 181 232);
    border: 1px solid rgb(64 181 232);
    transition: ease all .25s;
}

.AU_content_sidebar_box_alt:hover img {
    transform: rotate(3deg);
    transition: ease all .25s;
}

.AU_content_main_section {
    margin-top: 60px;
    margin-bottom:60px;
}
.AU_content_main_section video {
    margin-bottom: 30px;
}


@media only screen and (max-width: 800px) {
.AU_content {
flex-direction:column;
    margin-top:30px;
}
.AU_content_main, .AU_content_sidebar {
    width: auto;
    padding: 20px;
}
.AU_content_main_hero {
    min-height: 200px;
        margin-bottom: 30px;
}

.AU_content h1 {
    font-size: 34px;
    line-height: 40px;
}

.AU_content_main_section {
    margin-top: 30px;
    margin-bottom:0px;
}


}

</style>



<div class="AU_content">
<div class="AU_content_main">
<div class="AU_content_main_hero"></div>

<h1>The Transparent Labs Story</h1>
<p>It’s no secret that the supplement industry is suspect. 
<br><br>
With minimal regulation and little oversight, opportunistic companies prey on healthy-minded consumers by peddling low-quality products that are chock-full of un-dosed ingredients, unnecessary fillers, and harmful additives. All backed by pseudo-science and outrageous claims.
<br><br>
The end result is a market overflowing with supplements that sadly do more harm than good. At Transparent Labs, we knew we could do better. 
<br><br>
From day one our mission has been to create products that use true science to optimize health and human performance. We only deliver supplements that feature clinically-effective dosages and natural ingredients (with 100% transparent and completely honest labeling). And we always support our claims with research and scientific studies.
<br><br>
Transparent Labs is, and will always be, a trusted source for knowledge and supplements that let people who care about their bodies control their health and well-being.
</p>


<div class="AU_content_main_section">
<h2>Evidence-based Formulas Designed For What Counts
</h2>

<div>
<video controls="controls" width="100%" height="auto" name="Video Name">
  <source src="https://cdn.shopify.com/videos/c/o/v/89383c7d34f041aeb721cbe02487a977.mov">
</video>
</div>
<p>Like an elite athlete that focuses on every detail of the process, Transparent Labs approach to manufacturing clinically dosed and scientifically backed products is equally rigorous. Focusing on what matters to make it count.</p>
</div>


</div>

<div class="AU_content_sidebar">
<div class="AU_content_sidebar_box">
<h3>FOLLOW US</h3>
<ul>
<li><a href="https://www.instagram.com/transparentlabs/" >INSTAGRAM <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224,202.66A53.34,53.34,0,1,0,277.36,256,53.38,53.38,0,0,0,224,202.66Zm124.71-41a54,54,0,0,0-30.41-30.41c-21-8.29-71-6.43-94.3-6.43s-73.25-1.93-94.31,6.43a54,54,0,0,0-30.41,30.41c-8.28,21-6.43,71.05-6.43,94.33S91,329.26,99.32,350.33a54,54,0,0,0,30.41,30.41c21,8.29,71,6.43,94.31,6.43s73.24,1.93,94.3-6.43a54,54,0,0,0,30.41-30.41c8.35-21,6.43-71.05,6.43-94.33S357.1,182.74,348.75,161.67ZM224,338a82,82,0,1,1,82-82A81.9,81.9,0,0,1,224,338Zm85.38-148.3a19.14,19.14,0,1,1,19.13-19.14A19.1,19.1,0,0,1,309.42,189.74ZM400,32H48A48,48,0,0,0,0,80V432a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V80A48,48,0,0,0,400,32ZM382.88,322c-1.29,25.63-7.14,48.34-25.85,67s-41.4,24.63-67,25.85c-26.41,1.49-105.59,1.49-132,0-25.63-1.29-48.26-7.15-67-25.85s-24.63-41.42-25.85-67c-1.49-26.42-1.49-105.61,0-132,1.29-25.63,7.07-48.34,25.85-67s41.47-24.56,67-25.78c26.41-1.49,105.59-1.49,132,0,25.63,1.29,48.33,7.15,67,25.85s24.63,41.42,25.85,67.05C384.37,216.44,384.37,295.56,382.88,322Z"></path></svg></a></li>
<li><a href="https://www.facebook.com/transparentlabs/" >FACEBOOK <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg></a></li>



</ul></div>

<a href="https://www.transparentlabs.com/collections/bestsellers" class="AU_content_sidebar_box_alt_link">
<div class="AU_content_sidebar_box_alt">
<img src="https://cdn.shopify.com/s/files/1/0866/7664/products/BULKSOURGRAPEFINALVIEW1-3_256x256.png?v=1653068524" alt="Pre Workout Supplement" loading="lazy">
<h3>
<span style="font-size:12px">EXPLORE THE FULL<br></span>
Transparent Labs Catalog <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg></h3>
</div>
</a>



<div class="AU_content_sidebar_box">
<h3>Company Info</h3>
<ul class="mt-4 space-y-4">
          
            <li>
              <a class="transition-colors hover:text-orange-400" href="https://www.transparentlabs.com/pages/transparent-labs-advisory-board-and-panel-of-experts">
                Advisory Board
              </a>
            </li>
          
            <li>
              <a class="transition-colors hover:text-orange-400" href="https://www.transparentlabs.com/pages/shipping-tracking-delivery-guide-for-transparent-labs">
                Shipping Info
              </a>
            </li>
          
            <li>
              <a class="transition-colors hover:text-orange-400" href="https://www.transparentlabs.com/pages/privacy-policy">
                Privacy Policy
              </a>
            </li>
          
            <li>
              <a class="transition-colors hover:text-orange-400" href="https://www.transparentlabs.com/pages/terms-and-conditions">
                Terms and Conditions
              </a>
            </li>
          
            <li>
              <a class="transition-colors hover:text-orange-400" href="https://www.transparentlabs.com/pages/wholesale">
                Wholesale
              </a>
            </li>
          
            <li>
              <a class="transition-colors hover:text-orange-400" href="https://www.transparentlabs.com/pages/contact-us">
                Contact Us
              </a>
            </li>
          
        </ul>
</div>

</div>

</div>

{% schema %}
  {
    "name": "About Us",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}