<div class="max-w-7xl mt-12 mx-auto md:mt-16 xl:mt-32">
  <div class="grid grid-cols-1 xl:gap-8 xl:grid-cols-3">
    <div class="col-span-2 relative">
      <h2 class="px-5 text-2xl lg:text-3xl xl:px-4">
        Key Benefits
      </h2>

      <div class="gap-4 grid grid-flow-col auto-cols-max mt-4 overflow-x-auto px-5 md:gap-8 md:grid-cols-2 md:grid-flow-row xl:mt-8 xl:px-4">
        {%- for block in section.blocks -%}
          {%- if block.type == 'benefit' -%}
            <div class="w-[320px] md:w-full">
              <div>
                {%- render 'lazy-image',
                  crop: 'center',
                  height: 200,
                  image: block.settings.image,
                  width: 400,
                -%}
              </div>

              <div class="mt-4">
                <p class="font-bold text-xl lg:text-2xl">
                  {{ block.settings.title }}
                </p>

                <p class="mt-4 text-gray-500">
                  {{ block.settings.description }}
                </p>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>

    <div></div>
  </div>
</div>

{% schema %}
{
  "blocks": [
    {
      "name": "Benefit",
      "settings": [
        {
          "id": "image",
          "label": "Image",
          "type": "image_picker"
        },
        {
          "id": "title",
          "label": "Title",
          "type": "text"
        },
        {
          "id": "description",
          "label": "Description",
          "type": "textarea"
        }
      ],
      "type": "benefit"
    }
  ],
  "name": "Product Benefits",
  "settings": []
}
{% endschema %}