{%  stylesheet %}

.sb-complete-stack__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sb-complete-stack__heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0
}

.sb-complete-stack__subtitle {
  font-size: 16px;
  line-height: 1.4;
}
.sb-complete-stack__subtitle > * {
  margin: 0;
}

.sb-complete-stack__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sb-complete-stack__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.sb-complete-stack__subtitle {
  color: var(--sb-fg-color-lightened);
}

@media screen and (min-width: 768px) {
  .sb-complete-stack__container {
    gap: 48px;
  }
  .sb-complete-stack__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 32px;
  }
  .sb-complete-stack__heading {
    font-size: 40px;
  }
  .sb-complete-stack__content {
    gap: 12px;
  }
  .sb-complete-stack__subtitle {
    font-size: 22px;
  }

}
{% endstylesheet %}

{% liquid
  assign blocks = section.blocks | map: 'settings'
  assign should_render = false
  if section.settings.use_product_suggestions == true and product.metafields.custom.complete_your_stack_product_list.value.count > 0
    assign blocks = product.metafields.custom.complete_your_stack_product_list.value
    assign should_render = true
  elsif section.settings.use_product_suggestions == true and blocks.size > 0
    assign should_render = true
  endif
%}

{% if should_render == true %}
  <div class="sb-complete-stack sb-styled-element" style="{%  render 'style-attributes', settings: section.settings, mobile_multiple: 0.54 %}">
    <div class="sb-page-width sb-complete-stack__container">
      <div class="sb-complete-stack__content">
        {% if section.settings.heading != blank %}
          <h2 class="sb-complete-stack__heading">{{ section.settings.heading }}</h2>
        {% endif %}

        {% if section.settings.content != blank %}
          <div class="sb-complete-stack__subtitle">{{ section.settings.content }}</div>
        {% endif %}
      </div>
      
    {% if blocks.size > 0 or blocks != empty %}
      <div class="sb-complete-stack__cards">
        {% for block in blocks %}
          {%  liquid
            assign product = block.product
            assign tag = block.tag
            if section.settings.use_product_suggestions == true
              assign product = block.product_item.value
              assign tag = block.product_card_tag
            endif
            render 'sb-complete-card', product: product, tag: tag, include_add_to_cart: section.settings.include_add_to_cart_button, button_text: section.settings.button_text, add_to_cart_button_text: section.settings.add_to_cart_button_text, section: section
          %}
        {% endfor %}
      </div>
    {% else %}
      {%  render 'sb-no-content', context: "products" %}
    {% endif %}
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "SB Complete Your Stack",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "checkbox",
      "id": "use_product_suggestions",
      "label": "Use Product Suggestions",
      "default": true,
      "info": "Enable this to Complete Your Stack Product List of the Product. Will override blocks."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now",
      "info": "Text displayed on the button."
    },
    {
      "type": "checkbox",
      "id": "include_add_to_cart_button",
      "label": "Include Add to Cart Button",
      "default": false,
      "info": "When enabled, an add to cart button will be included hidden below the main button."
    },
    {
      "type": "text",
      "id": "add_to_cart_button_text",
      "label": "Add to Cart Button Text",
      "default": "Add to Cart",
      "info": "Text displayed on the add to cart button.",
      "visible_if": "{{ section.settings.include_add_to_cart_button == true }}"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "paragraph",
      "content": "Main Section Colors"
    },
    {
      "type": "color",
      "id": "fg_color",
      "label": "Color"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "paragraph",
      "content": "Card Colors"
    },
    {
      "type": "color",
      "id": "ch_fg_color",
      "label": "Color"
    },
    {
      "type": "color_background",
      "id": "ch_bg_color",
      "label": "Background Color"
    },
    {
      "type": "color_background",
      "id": "ch_acc_color",
      "label": "Accent Color"
    },
    {
      "type": "color",
      "id": "ch_tag_fg_color",
      "label": "Tag Color"
    },
    {
      "type": "color_background",
      "id": "ch_tag_bg_color",
      "label": "Tag Background Color"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 3,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Tag"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SB Complete Your Stack" 
    }
  ]
}
{% endschema %}
