<style>
  .mt-mb-0{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}
  .xt-submenucollection-inner-main ul{display: flex;flex-wrap: wrap;justify-content: space-between;}

  .xt-submenucollection-inner-main ul li{margin-bottom:8px;margin-top:8px;}    
  .xt-submenucollection-inner-main ul li a{display: block;padding: 10px 12px 8px;border: 2px solid #132836 !important;font-size:14px;color:#132836;}
  .xt-submenucollection-inner-main ul li a:hover{background:#132836;color:#ffffff;}
  
</style>
<div class="mt-mb-0 max-w-7xl mx-auto pb-4 px-4 pt-12" id="{{ section.id }}" >
  <div class="xt-submenucollection-main">
  {% if section.settings.custom_title != blank %}
    <h2 class="font-bold text-blue-500 text-xl md:border-l-8 md:border-blue-500 md:pl-2 md:text-2xl" style="margin-bottom:20px;">{{ section.settings.custom_title }}</h2>  
  {% endif %}


  <div class="xt-submenucollection-inner-main">
  {% assign collection_idss = collection.metafields.custom.xt_multiple_collection.value %}
  
  <ul>
  {% for collection_ids in collection_idss %}
    <li><a href="{{ collection_ids.url }}">{{ collection_ids.title }}</a></li>
    
  {% endfor %}
  </ul>
  </div>
</div>
</div>




{% schema %}
{
  "name": "Show Collection Submenu",
  "settings": [
    {
      "type": "text",
      "id": "custom_title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Show Collection Submenu",
      "category": "Custom"
    }
  ]
}
{% endschema %}