<div class="xt-icon-text">
  <div class="max-w-7xl mx-auto xl:px-4">
    <div class="wraper">
      <div class="item">
        {% if section.settings.title %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
      </div>

      {% for block in section.blocks %}
        <div class="item">
          <img src="{{ block.settings.icon | img_url : 'master' }}" alt="{{ block.settings.text }}" loading="lazy">
          <p>{{ block.settings.text }}</p>
        </div>
      {% endfor %}
      
      
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product Icon With Text",
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Heading"
      }
    ],
    "blocks":[
      {
        "name":"column",
        "type":"icon",
        "settings":[
          {
            "type":"image_picker",
            "id":"icon",
            "label":"Icon"
          },
          {
            "type":"text",
            "id":"text",
            "label":"Text"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Product Icon With Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}