.article-list-section {
  padding: 64px 0;
}

.article-list-section .article-item {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.article-list-section .article-item .full-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.article-list-section .article-item .article-item-img {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.article-list-section .article-item .article-item-img lazy-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.article-list-section .article-item-content {
  padding: 20px 16px 24px;
}

.article-list-section .article-item-content .article-label {
  color: rgba(17,19,20,0.6);
  font-family: var(--font-neue);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  display: inline-flex;
  padding: 0 0 8px;
}

.article-list-section .article-item-box h3 {
  color: #111314;
  font-family: var(--font-aeonik);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%
}

.article-list-section .article-item-box h3 svg {
  display: none;
}

.previous_next_buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.previous_next_buttons .btn {
  border-radius: 6px;
  border: 1px solid rgba(17, 19, 20, 0.80);
  padding: 14px 24px 16px 24px;
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  gap: 12px;
  max-height: 48px;
}

.previous_next_buttons .btn.previous {
  flex-direction: row-reverse;
}

.previous_next_buttons .btn.previous svg {
  transform: rotate(180deg);
}

.article-list-wrapper {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 1199px) {

  .article-list-section .article-item-box h3, 
  .article-list-section .article-item-box h3 * {
    font-size: 18px;
    line-height: 128%;
  }

}

@media screen and (max-width: 992px) {

  .article-list-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
}

@media screen and (max-width: 767px) {

  .article-list-section .article-item-box h3 svg {
    display: block;
    flex: 0 1 16px;
  }

  .article-list-section .article-item-box h3, 
  .article-list-section .article-item-box h3 * {
    font-size: 14px;
  }

  .article-list-section .article-item-content .article-label {
    font-size: 11px;
  }

  .article-list-section .article-item-box h3 {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .article-list-section .article-item-box h3 span {
    flex: 1;
  }

  .article-list-section .article-item-content {
    padding: 18px 12px 24px;
  }

  .article-list-section .article-item .article-item-box {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
  }

  .article-list-section .article-item .article-item-box .article-label {
    padding: 0;
  }

}

@media screen and (max-width: 992px) {

  .article-list-section .article-item-box h3, 
  .article-list-section .article-item-box h3 * {
    font-size: 22px;
  }

  .article-list-section .article-item-content .article-label {
    font-size: 14px;
  }
  
}

@media screen and (max-width: 767px) {

  .article-list-section {
    padding: 48px 0;
  }

}

@media screen and (max-width: 550px) {

  .article-list-wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

}
