#cart-menu {
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(3px);
  z-index: 9999;
}

.cart--header {
  padding: 40px 32px 0;
}

.cart--header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px;
}

.cart--heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: normal;
  text-transform: capitalize;
  color: var(--black);
}

.continue-browsing {
  background: #000;
  font-family: var(--font-neue);
}

.cart--line-item .blur-up {
  opacity: 0;
  filter: unset;
}

.cart--line-item-info .variant-title {
  font-family: var(--font-neue);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: normal;
  color: var(--grey);
  margin: 0 0 7px;
}

.cart--line-item .blur-up.lazyloaded {
  opacity: 1;
}


.cart--header span {
  border-left: 0.5px solid rgba(17, 19, 20, 1);
  padding-left: 12px;
  margin-left: 12px;
  font-weight: 350;
}

#cart-menu-shipping {
  border-radius: 50px;
  background: rgba(255, 230, 194, 1);
  margin: 4px 32px 18px;
  padding: 6px;
}

.cart-menu-shipping__progress {
  background: linear-gradient(90deg, #FF8C00 0%, #FFC47C 100%);
  border-radius: 50px;
  transform: translateX(-100%);
  transition-duration: .5s;
}

.free--shipping-qualified {
  background: linear-gradient(90deg, #039846 0%, #006E31 100%), #039846;
}

#cart-menu-shipping span.free--shipping-qualified-text {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 400;
}

#cart-menu-shipping span {
  font-family: var(--font-neue);
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: normal;
  color: var(--black);
}

.cart--line-item {
  margin: 14px 0 30px !important;
  flex-wrap: wrap;
}

.cart--line-item skio-cart-upsell {
  width: 100%;
}

skio-cart-upsell:host .skio-cart-upsell {
  width: 100%;  
}

.cart--line-item-image {
  width: 64px;
  height: 64px;
}

.cart--line-item-info {
  margin: 0 14px;
}

.cart--line-item-info .product--title {
  font-weight: 500;
  color: var(--black);
}

.selling--plan {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 10px 0 0;
  color: var(--black);
}

.cart--line-item .quantity-button {
  border: none;
  width: 16px;
  padding: 0;
  background: transparent;
  height: 16px;
}

.cart--line-item .quantity-button svg {
  width: 0.9rem;
  color: var(--grey);
}

.quantity-input-inner {
  background: rgba(248, 249, 251, 1);
  padding: 4px 6px;
  border-radius: 4px;
}

.quantity-input-inner input {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: normal;
  text-align: center;
  font-family: var(--font-neue);
  width: 28px;
  height: 24px;
  margin: 0 2px;
}

.cart--line-item-wrapper {
  padding: 0 32px;
}

.line--item-price {
  font-family: var(--font-aeonik);
  font-weight: 600;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: normal;
  color: var(--black);
}

.cart--quantity--selector {
  margin-top: 13px;
}

.low--stock-text {
  font-family: var(--font-neue);
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: normal;
  color: var(--grey);
  align-items: center;
  gap: 6.5px;
  margin: 12px 0 0;
  display: flex !important;
}

.low--stock-text.hidden {
  display: none !important;
}

.low--stock-text:before {
  content: '';
  background: rgba(255, 181, 71, 1);
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
}

.cart--drawer-footer {
  margin: 0;
  padding: 16px 32px 32px;
  background: rgba(248, 249, 251, 1)
}

.cart--drawer-footer a.button {
  padding: 18px 20px 22px;
  border-radius: 6px;
  background: var(--black);
  color: #fff;
  max-width: 100%;
  opacity: 1;
}

.cart--drawer-footer a.button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 100%), #173446;
}

.subtotal--text {
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: normal;
}

.subtotal--price {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 200%;
}

.satisfaction--badge {
  display: flex;
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  justify-content: center;
  gap: 6px;
  align-items: center;
  margin: 6px 0 0;
}

#checkout-one {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.recommended_product_disabled {
  display: none;
}

.subtotal-wrapper {
  margin: 0 0 16px;
}

#cart-menu-container {
  max-width: 500px;
  z-index: 9999;
}

.cart-drawer-discount-text {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 0 12px;
  margin: 12px 0 0;
}

.cart-drawer-discount-text svg * {
  fill: var(--black);
}

.cart-drawer-discount-text * {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.cart-drawer-discount-text svg {
  width: 22px;
  height: 22px;
}

.cart--drawer-footer .govx-id-slim-wrapper {
  display: none !important;
}

body.disable_cart_inputs .cart--line-item {
  pointer-events: none;
  cursor: wait;
}

@media (max-width: 767px) {
  
  .cart--line-item-wrapper {
    padding: 0 16px;
  }

  #cart-menu-shipping {
    margin: 4px 16px 12px;
  }

  .cart--header {
    padding: 16px 16px 0;
  }

  .cart--drawer-footer {
    padding: 16px 16px 24px;
  }

  .cart--line-item-info .variant-title {
    margin: 0 0 6px;
  }
  
}

@media (max-width: 420px) {
  
  #cart-menu-container {
    max-width: 100%;
  }

}