.template-search .field{border: solid 1px #000;
    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;}


button.search__button.field__button {
    padding: 0 15px;
  border: none;
}
h1.h2.center {
    text-align: center;
}
.search__input.field__input {
  padding-right:1rem;
  border:none;
}

.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.reset__button {
  right: calc(var(--inputs-border-width) + 4.4rem);
  top: var(--inputs-border-width);
}

.reset__button:not(:focus-visible)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.6rem);
  content: '';
  position: absolute;
  right: 0;
}

.reset__button:not(:focus)::after {
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.08);
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  right: 0;
}

.search__button:focus-visible,
.reset__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:focus,
.reset__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 4;
}

.search__button:not(:focus-visible):not(.focused),
.reset__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.search__button:hover .icon,
.reset__button:hover .icon {
  transform: scale(1.07);
}


.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.reset__button .icon.icon-close {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.template-search__header {
  margin: 0 auto 48px;
}

.template-search .field {
  border: none;
  border-radius: 6px;
  background: #F8F9FB;
  width: 100%;
}

.search__input.field__input {
    background: transparent;
    width: 100%;
    padding: 16px 24px;
    outline: none;
    box-shadow: none;
}


.template-search__header h1 {
  margin: 0 0 24px;
  border-top: 1px solid rgba(17, 19, 20, 0.16);
  padding-top: 48px;
}

.search-terms-count {
  color: #142835;
  font-family: var(--font-neue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0 0 40px;
}

.search-terms-count span {
  font-weight: 700;
}

.template-search .facets-vertical {
  padding: 0;
}

.template-search .product-images-slider .swiper-button-prev,
.template-search .product-images-slider .swiper-button-next {
  background: none; 
  display: flex;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
}

.no-search-results {
  text-align: center;
  margin: 20px 0 0;
}

@media (max-width: 767px) {
  .template-search__header h1 {
    padding-top: 0;
    border-top: none;
  }
}