.contact-form-wrap {
  padding: 32px 56px;
  border-radius: 6px;
  margin-bottom: 64px;
}

.contact-form-wrap .form-success-message {
  font-size: 22px;
  text-align: center;
  margin: 0 0 30px;
}

.contact-form-wrap-main .container {
  max-width: 1056px !important;
}

.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-selected {
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #fff;
  color: #9ca3af;
  cursor: pointer;
  transition: border-color 0.2s ease-in;
}

.dropdown-selected:focus {
  outline: none;
  border-color: #3b82f6;
}

.custom-dropdownarrow {
  position: absolute;
  top: 24px;
  right: 23px;
  transform: rotate(180deg);
  transition: all 0.3s;
}

.form-field.custom-dropdown.active .custom-dropdownarrow {
  transform: rotate(0deg);
}

.dropdown-list {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid transparent;
  border-top: none;
  border-radius: 0 0 6px 6px;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 10;
}

.dropdown-list li {
  padding: 16px;
  cursor: pointer;
  color: #111314a3;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 140%;
  border-bottom: 1px solid #f8f9fb;
  font-family: var(--font-neue);
}

.dropdown-list li:hover {
  background-color: #f3f4f6;
}

.dropdown-list li.selected {
  font-weight: bold;
  background-color: #e5e7eb;
}

.dropdown-selected.active {
  border-color: #3b82f6;
}

.dropdown-list li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.contact-form-heading {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 32px;
}

.contact-form-heading h3 {
  margin-bottom: 16px;
  font-family: var(--font-neue);
}

.contact-form-wrap .form-field-group {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.contact-form-wrap .form-field-group input.form-input,
.dropdown-selected {
  flex: 1;
  border: 1px solid transparent;
  background: #ffffff;
  padding: 15px 16px;
  height: 52px;
  border-radius: 4px;
  color: rgb(17 19 20 / 64%);
  font-family: var(--font-neue);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.contact-form-wrap .form-field.custom-dropdown {
  margin-bottom: 16px;
  border-radius: 4px;
}

.contact-form-wrap .form-field textarea#message-field {
  width: 100%;
  height: 197px;
  border: 1px solid transparent;
  background: #ffffff;
  padding: 15px 16px;
  border-radius: 4px;
  color: rgb(17 19 20 / 64%);
  font-family: var(--font-neue);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 16px;
}

.contact-form-wrap button[type="submit"] {
  border-radius: 40px;
  border: 1px solid #ffffff;
  color: #fff;
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111314;
  width: 100%;
  gap: 10px;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.contact-form-wrap button[type="submit"]:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #111314;
}

.form-field.custom-dropdown.active ul.dropdown-list {
  border-color: #111314;
}

.dropdown-selected.active {
  border-color: #111314;
  border-bottom: 1px solid rgba(103, 103, 103, 0.4);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.contact-form-note {
  text-align: center;
  margin-bottom: 120px;
  color: #142835;
}

.contact-form-wrap .form-field-group input.form-input:focus,
.contact-form-wrap .form-field textarea#message-field:focus {
  border-color: #173446;
  box-shadow: none;
}

.dropdown-selected:not(.active):focus {
  border-color: #173446;
}

.contact-form-wrap .form-field-group input.error-field,
.form-textarea.error-field,
.custom-dropdown.error-field {
  border: 1px solid #F53535 !important
}

#error__message {
  display: none;
  margin: 16px 0 0;
  color: #F53535;
}

#error__message.show {
  display: flex;
}

@media only screen and (max-width:767px) {

  .contact-form-wrap {
    padding: 24px 16px;
  }

  .contact-form-heading {
    text-align: left;
  }

  .contact-form-wrap .form-field-group {
    flex-direction: column;
  }

  .contact-form-heading {
    margin: 0 auto 24px;
  }

  .contact-form-note {
    text-align: left;
  }

  .contact-form-wrap {
    margin-bottom: 56px;
  }

  .contact-form-note {
    margin-bottom: 72px;
  }
  
}
