.faq-section {
  padding: 88px 0;
}

.faq-section-question {
  font-family: var(--font-aeonik);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  margin: 0 0 14px;
  position: relative;
}

.faq-section-answer {
  color: var(--grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.faq-section-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 116px;
  row-gap: 64px;
}

.faq-section-title {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 34px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 48px;
}

.faq-section-mobile .faq-section-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: #fff;
}

.faq-section-answer.active {
  padding-top: 20px;
}

@media (max-width: 1199px) {

  .faq-section-inner {
    column-gap: 60px;
    row-gap: 40px;
  }
  
}

@media (max-width: 1023px) {

  .faq-section-inner {
    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (max-width:767px) {

  .faq-section {
    padding: 40px 0 48px;
  }

  .faq-section-title {
    font-size: 28px;
  }

  .faq-section-question {
    font-size: 18px;
    margin: 0;
    padding: 0 50px 0 0px;
  }
  
  .faq-section-item {
    border-bottom: 1px solid #1113144D;
    padding: 32px 0;
  }

  .faq-section-item:first-child {
    padding-top: 0;
  }

  .faq-accordion-icons {
    position: absolute;
    right: 0;
    top: 3px;
  }

  .faq-accordion-minus-icon {
    display: none;
  }

  .faq-section-question.active .faq-accordion-plus-icon {
    display: none;
  }

  .faq-section-question.active .faq-accordion-minus-icon {
    display: block; 
  }

  .faq-section-item:last-child {
    margin-bottom: 22px;
    border: 0;
  }

  .faq-section .btn_link {
    display: inline-flex;
  }

  .faq-accordion-minus-icon path {
    stroke: var(--black);
  }

}