.featured-product-section {
  margin: 56px 0 88px;
}

.featured-product-section .section-title {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 24px;
}

.featured-product-section .product_image_slider {
  max-height: 290px;
}

.featured-product-section .product_image_slider * {
  max-height: inherit;
}

.featured-product-section .product_image_slider img {
  object-fit: contain;
}

.featured-product-section .product-grid-item { 
  z-index: 0;
}

@media (min-width: 768px) {

  .featured-product-section .product-grid-item {
    flex-direction: row;
    gap: 32px;
    max-width: 848px;
    padding: 32px;
  }
  
  .featured-product-gallery,
  .featured-product-section .product-content-wrapper {
    flex: 1;
    max-width: 50%;
    margin: 0;
  }

  .featured-product-section .product-content-wrapper {
    gap: 24px;
    justify-content: flex-start;
  }

  .featured-product-gallery {
    overflow: hidden;
  }

  .featured-product-section .product-content-wrapper .price-button-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
  }

  .featured-product-section .product-grid-item .product-tag {
    top: 32px;
    left: 32px;
  }

  .featured-product-section .jdgm-widget .jdgm-prev-badge__text, 
  .featured-product-section .jdgm-widget .jdgm-rating-count {
    font-size: 18px;
  }

  .featured-product-section .product-content-wrapper .product-title {
    font-size: 24px;
  }

  .featured-product-section .jdgm-star.jdgm--on:before,
  .featured-product-section .jdgm-star.jdgm--half:before {
    font-size: 13px;
  }

  .featured-product-section .jdgm-prev-badge__stars {
    display: flex;
  }

  .featured-product-section .jdgm-prev-badge {
    display: flex !important;
    gap: 8px;
  }

  .featured-product-section .product-content-wrapper .shop-now-button {
    width: 100%;
  }

  .featured-product-section .product-content-wrapper .shop-now-button a:before {
    display: none;
  }

  .product-content-wrapper .product-description {
    -webkit-line-clamp: 3;
  }

}

@media (min-width: 993px) {

  .featured-product-section .product-content-wrapper .shop-now-button a {
    gap: 10px;
  }
  
}