.featured-articles-tabs {
  padding: 64px 0;  
  overflow: hidden;
}

.featured-articles-tabs .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin: 24px 0 48px;
}

.article-swiper-container {
    height: inherit;
}

.tab-article-link {
  display: none;
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; 
  gap: 10px;
  text-transform: capitalize;
  position: relative;
}

.tab-article-link:before {
  content: '';
  width: calc(100% - 28px);
  position: absolute;
  background: var(--black);
  height: 1px;
  bottom: 0;
  transition: all 0.3s;
}

.tab-article-link:hover:before { 
  width: 100%;
}

.tab-article-link.active {
  display: flex;
}

.article-tabs .article-tab-button {
  color: rgba(17, 19, 20, 0.80);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  border-radius: 80px;
  border: 1px solid var(--opt-33-black-40, rgba(17, 19, 20, 0.40));
  padding: 6.5px 12px 8.5px;
  cursor: pointer;
  transition: all 0.4s;
}

.article-tabs .article-tab-button:hover,
.article-tabs .article-tab-button.active {
  background: var(--black);
  color: var(--white);
}


.featured-articles-tabs .tab-panel {
  /* display: none; */
  opacity: 0;
  height: 0;
}

.featured-articles-tabs .tab-panel.active {
  /* display: block; */
  opacity: 1;
  height: 100%;
}

.featured-articles-tabs .swiper-button-next, 
.featured-articles-tabs .swiper-button-prev {
  color: rgba(17, 19, 20, 0.6);
  z-index: 10;
}

.featured-articles-tabs .swiper-button-next:after, 
.featured-articles-tabs .swiper-button-prev:after {
  font-size: 16px;
}
 
.featured-articles-tabs .swiper-button-prev {
  left: 0;
}

.featured-articles-tabs .swiper-button-next {
  right: 0;
}

.featured-articles-tabs .swiper-pagination-lock + .featured-articles-fraction {
  display: none;
} 

.featured-articles-fraction * {
  font-family: var(--font-neue);
}

.featured-articles-tabs .featured-articles-pagination {
  width: auto;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.featured-articles-tabs .featured-articles-pagination span {
  height: 24px;
  background: transparent;
  display: flex;
  align-items: center;
  margin: 0 !important;
  min-width: 52px;
}

.featured-articles-tabs .featured-articles-pagination span:before {
  background: var(--black);
  content: '';
  height: 1.5px;
  width: 100%;
  display: block;
}

.featured-articles-slider-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  margin: 28px 0 0;
}

.featured-articles-tabs .article-item {
  position: relative;
  height: 100%;
  background: #F8F9FB;
  border-radius: 6px;
  overflow: hidden;
}
.featured-articles-tabs .article-item .article-item-img {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.featured-articles-tabs .article-item .article-item-img lazy-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.featured-articles-tabs .article-item-content {
  background: #F8F9FB;
  padding: 20px 16px 24px;
}
.featured-articles-tabs .article-item-content .article-label {
  color: rgba(17, 19, 20, 0.60);
  font-family: var(--font-neue);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: inline-flex;
  margin: 0 0 8px;
}
.featured-articles-tabs .article-item-box h3 {
  color: #111314;
  font-family: var(--font-aeonik);
  font-size: 22px;
  font-weight: 600;
  line-height: 28.6px;
}
.featured-articles-tabs .article-item-box h3 svg {
  display: none;
}
.featured-articles-tabs .article-item .full-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.featured-articles-tabs .view-all-btn.hidden {
  display: none;
}
.featured-articles-tabs .pagination-wrapper {
  margin-top: 32px;
}
.featured-articles-tabs .pagination__list {
  position: relative;
}
.featured-articles-tabs .pagination__list li {
  flex: unset;
  max-width: unset;
}
.featured-articles-tabs .pagination__list .pagination__item {
  height: auto;
  width: auto;
  color: var(--black);
}
.featured-articles-tabs .pagination__list .pagination__item:before {
  bottom: -2px;
}
.featured-articles-tabs .pagination__list .pagination__item--wrap .pagination__item {
  opacity: 0.64;
}
.featured-articles-tabs .pagination__list .pagination__item.pagination__item--current {
  opacity: 1;
}
.featured-articles-tabs .pagination__list .pagination__item--current:after,
.featured-articles-tabs .pagination__list .pagination__item--wrap .pagination__item:hover:after {
  display: none;
}
.featured-articles-tabs .pagination__list .tab-article-prev,
.featured-articles-tabs .pagination__list .tab-article-next {
  position: absolute;
}
.featured-articles-tabs .pagination__list .tab-article-prev {
  left: 0;
}
.featured-articles-tabs .pagination__list .tab-article-next {
  right: 0;
}
.featured-articles-tabs .pagination__list .tab-article-prev .pagination__item,
.featured-articles-tabs .pagination__list .tab-article-next .pagination__item {
  justify-content: unset;
}
.featured-articles-tabs .pagination__list .tab-article-prev .pagination__item {
  flex-direction: row-reverse;
}

.featured-articles-tabs .pagination__list .tab-article-prev .pagination__item svg {
  transform: rotate(180deg);
  margin-top: 1px;
}


@media (max-width: 767px) {
  .featured-articles-tabs {
    padding: 40px 0;  
  }
  .featured-articles-tabs .article-item-box {
    display: flex;
    flex-direction: column;
  }
  .featured-articles-tabs .article-item .article-item-content {
    padding: 18px 9px 24px 12px;
  }
  .featured-articles-tabs .article-item .article-item-box {
    display: flex;
    flex-direction: column;
  }
  .featured-articles-tabs .article-item-content .article-label {
    order: 2;
    margin: 0;
  }
  .featured-articles-slider-bottom {
    margin-top: 32px;
  }
  .featured-articles-tabs .article-item-box h3 {
    display: flex;
    gap: 24px;
    align-items: start;
  }
  .featured-articles-tabs .article-item-box h3 span {
    flex: 1;
  }
  .featured-articles-tabs .article-item-box h3 svg {
    display: block;
    width: 19.68px;
    flex: 0 0 19.68px;
  }
  .article-tabs .article-tab-button {
    font-size: 15px;
  }
  .featured-articles-tabs .featured-articles-pagination {
    flex: 1;
  }
  .featured-articles-tabs .featured-articles-pagination span {
    flex: 1;
    min-width: auto;
  }
  .featured-articles-tabs .pagination__list .pagination__item--wrap {
    display: none;
  }
}

.featured-articles-tabs .article-item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (max-width: 1024px) {

  .featured-articles-tabs .article-item-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {

  .featured-articles-tabs .article-item-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.page-loading-overlay.hide{
  opacity: 0;
  visibility: hidden;
}
.page-loading-overlay {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.loader-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.article-tab-button.only-active-tab {
    pointer-events: none;
}