.shop-by-goal {
  display: flex;
  flex-wrap: wrap;
  padding: 88px 0;
}

.shop-by-goal .goal-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.shop-by-goal .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

.shop-by-goal .section-header .section_heading {
  margin: 0 0 16px;
}

.shop-by-goal .section-header p {
  font-size: 18px;
  color: var(--grey);
}

.left-section {
  flex: 1;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-section {
  flex: 2;
  max-width: 848px;
}

.right-section .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;  
}

.right-section .grid-item {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.right-section .grid-item .image__wrapper {
  flex: 1;
}

.placeholder-image {
  position: relative;
  padding-bottom: 45%;
}

.placeholder-image svg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.shop-by-goal .responsive-image-wrapper {
  padding-bottom: 45%;
  position: relative;
  height: 100%;
  width: 100%;
}

.shop-by-goal .responsive-image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 0.3s;
}

@media (hover: hover) {
.right-section .grid-item:hover .responsive-image-wrapper img {
  transform: scale(1.05);
}
}

.shop-by-goal .block-header {
  padding: 12px 16px;
  background: var(--white);
}

.template--blog .shop-by-goal .block-header {
  padding-bottom: 24px;
}

.shop-by-goal .block-header p {
  color: var(--grey);
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: block;
  width: 100%;
  margin: 2px 0 0;
  min-height: 36px;
}

.shop-by-goal .section-header .section_heading a { 
  display: none;
}

.goal-block-link {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

@media (max-width: 1279px) {

  .shop-by-goal .block-header {
    padding: 12px;
  }

  .shop-by-goal .block-header p {
    font-size: 13px;
    min-height: 34px;
  }

  .right-section .grid {
    gap: 24px;
  }

  .shop-by-goal .goal-wrapper {
    gap: 20px;
  }

  .shop-by-goal .heading {
    font-size: 18px;
  }

  .shop-by-goal .section-header .section_heading {
    margin: 0 0 8px;
  }

  .shop-by-goal .responsive-image-wrapper {
    padding-bottom: 60%;
  }

}


@media (max-width: 1023px) { 

  .shop-by-goal {
    padding: 60px 0;
  }
  
  .shop-by-goal .goal-wrapper {
    flex-direction: column;
  }

  .shop-by-goal .goal-wrapper .right-section {
    max-width: 100%;
  }

  .left-section {
    max-width: 100%;
    gap: 32px;
  }

  .shop-by-goal .goal-wrapper {
    gap: 32px;
  }
  
}

@media (max-width: 767px) { 

  .shop-by-goal {
    padding: 48px 0;
  }

  .shop-by-goal .section-header .section_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shop-by-goal .section-header .section_heading a {
    color: var(--black);
    font-family: var(--font-neue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* display: flex; */
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--black);
  }

  .featured-collections-tabs .section-header h2 {
    flex: 1;
  }

  .tab-collection-link {
    margin-top: 8px;
  }
  
}

@media (max-width: 600px) { 

  .right-section .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .shop-by-goal .block-header p {
    min-height: auto;
  }

  .shop-by-goal .responsive-image-wrapper {
    padding-bottom: 41%;
  }

  .featured-collections-tabs .section-header {
    align-items: flex-start;
  }

  .collection-tabs {
    margin: 24px 0;
    row-gap: 8px;
    column-gap: 5px;
  }
  
  .shop-by-goal .section-header p {
    font-size: 16px;
    line-height: 130%;
  }

  .shop-by-goal .heading {
    font-size: 20px;
  }

  .shop-by-goal .block-header p {
    font-size: 14px;
  }
  
}