.image-with-info-section {
  color: var(--text-color);
  background: var(--bg-color);
  padding-top: var(--PT);
  padding-bottom: var(--PB);
}

.image-with-info-wrapper {
  display: flex;
  gap: 48px;
}

.image-with-info-wrapper .image-with-info-left {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 56px;
}

.image-with-info-wrapper .image-with-info-right {
  width: calc(100% - 408px);
  max-width: 848px;
  margin-left: auto;
}

.image-with-info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-with-info-list .image-with-info-item {
  display: flex;
  gap: 12px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(17,19,20,0.3);
  align-items: center;
}

.image-with-info-list .image-with-info-item .image-with-info-icon {
  width: 24px;
  display: block;
  height: 24px;
}

.image-with-info-list .image-with-info-item .image-with-info-icon .responsive-image-wrapper {
  aspect-ratio: 24/24 !important;
}

.image-with-info-list .image-with-info-item h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-neue);
  color: inherit;
}

.image-with-info-list .image-with-info-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.image-with-info-wrapper .image-with-info-right img {
  border-radius: 6px;
}

@media screen and (max-width: 1023px) {
  .image-with-info-wrapper {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }

  .image-with-info-wrapper .image-with-info-left {
    gap: 24px;
    order: 1;
    width: 100%;
  }

  .image-with-info-wrapper .image-with-info-right {
    width: 100%;
    max-width: 100%;
  }

  .image-with-info-section {
    padding: 48px 0;
  }
}

@media screen and (max-width: 574px) {
  
  .image-with-info-wrapper .image-with-info-right {
    display: none;
  }

  .image-with-info-section {
    color: #fff;
    background-size: cover;
  }

  .image-with-info-list {
    gap: 12px;
  }

  .image-with-info-list .image-with-info-item {
    gap: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .image-with-info-section {
    min-height: 510px;
    display: flex;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    overflow: hidden;
  }

  .image-with-info-section:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 27.96%, rgba(0, 0, 0, 0.50) 47.4%);
  }

  .image-with-info-wrapper {
    position: relative;
    height: 100%;
  }

  .image-with-info-list .image-with-info-item .image-with-info-icon {
    filter: invert(1);
  }

  .image-with-info-left h2 {
    font-size: 28px;
    line-height: 1.2;
    color: var(--white);
  }
  
}