.megamenu-product-items .product-grid-item {
  overflow: hidden;
  border-radius: 6px;
  background: var(--opt-33-pale-grey, #F8F9FB);
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.megamenu-product-items {
  max-width: 100%;
}

.megamenu-body.swiper,
.megamenu-body .megamenu-swiper-container {
  width: 100%;
}

.megamenu-product-items .main--link svg {
  display: none;
}

/* .megamenu-product-items .product-item-wrapper .swiper-slide {
  width: calc(20% - 24px) !important;
}
 */

.megamenu-product-items .jdgm-preview-badge .jdgm-star.jdgm-star {
  color: rgba(27, 115, 179, 1);
}

.megamenu-product-items .jdgm-preview-badge {
  display: flex !important;
  align-items: center;
  gap: 4px;
}

.megamenu-product-items .jdgm-preview-badge a {
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; 
}

.megamenu-product-items .product-content-wrapper .product-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.megamenu-body .product-content-wrapper .product-title {
  font-size: 18px;
  color: var(--black);
  font-family: var(--font-aeonik);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.megamenu-body .product-content-wrapper .product-description {
  font-size: 14px;
}

.megamenu-body .product-grid-item .product-tag {
  display: none;
}

.megamenu-product-items .product-grid-item {
  max-width: 244px;
}

.megamenu-product-items .product-item-wrapper > .swiper-slide {
  width: calc(20% - 19px);
  margin-right: 24px;
}

.megamenu-product-items .product-grid-item img {
  height: 100%;
  object-fit: contain;
}

.megamenu-swiper-container .product-content-wrapper .megamenu-product-price {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

@media (max-width: 1439px) {

  .megamenu-product-items .product-item-wrapper > .swiper-slide {
    width: calc(25% - 18px);
    margin-right: 24px;
  }

  .megamenu-product-items .product-grid-item {
    max-width: 100%;
  }
  
}

@media (max-width: 1279px) {

  .megamenu-product-items .product-grid-item {
    max-width: 363px;
  }

  .megamenu-product-items .product-item-wrapper > .swiper-slide {
    width: calc(33.33% - 16px);
    margin-right: 24px;
  }
  
}
 
@media (max-width: 992px) {

  .megamenu-product-items .main--link svg {
    display: block;
  }

  .product-item-wrapper .swiper-slide {
    height: auto !important;
  }

  .megamenu-product-items .product-content-wrapper .shop-now-button,
  .megamenu-body .product-content-wrapper .product-description,
  .megamenu-product-items .jdgm-preview-badge {
    display: none !important;
  }

  .megamenu-product-items .new-megamenu-inner {
    padding: 0 0 22px !important;
    gap: 24px;
  }

  .megamenu-product-items .product-content-wrapper {
    gap: 8px;
    margin-top: 16px;
    justify-content: flex-start;
  }

  .megamenu-body .product-content-wrapper .product-title {
    margin: 0;
    font-size: 16px;
  }

  .megamenu-swiper-container .product-content-wrapper .megamenu-product-price {
    font-size: 14px !important;
  }

  .megamenu-product-items .product-grid-item {
    background: transparent;
    padding: 0;
  }

  .megamenu-product-items .product_image_slider {
    background: #F8F9FB;
  }

  .megamenu-product-items .product-item-wrapper .swiper-slide {
    padding: 0;
  }

  .megamenu-product-items {
    list-style: none;
  }

  .megamenu-product-items .main-menu-title {
    margin: 0 16px 22px;
    display: block;
    color: var(--black);
    font-family: var(--font-aeonik);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  /* .megamenu-product-items .main-menu-title.hide--mobile {
    display: none;
  } */

  .menu_as_link svg:first-child {
    display: none !important;
  }

  .menu_as_link svg {
    width: 20px !important;
    height: 20px !important;
    transform: none !important;
  }

  .hide--mobile {
    display: none !important;
  }

  .megamenu-product-items .main-menu-title svg {
    display: none;
  }
  
}
