.megamenu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.megamenu-header .title {
  font-family: var(--font-aeonik);
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: normal;
  color: var(--black);
}

.new-megamenu-inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 !important;
  max-width: 1312px !important;
  position: static !important;
}

.megamenu-body .list-item ul {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.megamenu-body .list-item ul li:hover a {
  background: #F8F9FB;
}

.megamenu-body .list-item-column a {
  display: flex;
  gap: 14px;
  padding: 4px;
}

.megamenu-body .list-item-column a img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.megamenu-body .menu-block-link {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
} 

.megamenu-body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.megamenu-body .list-item {
  flex: 1;
  max-width: 343px;
}

.megamenu-body .list-item.promotion-banner-wrapper {
  max-width: 400px;
  align-self: start;
} 

.megamenu-body .content-wrapper span {
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  display: block;
  margin: 0 0 4px;
}

.megamenu-body .content-wrapper p {
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.72;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.megamenu-body .promotion-banner {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.megamenu-body .promotion-banner .responsive-image-wrapper img {
  transition: all 0.3s;
}

.megamenu-body .promotion-banner:hover .responsive-image-wrapper img {
  transform: scale(1.1);
}

.megamenu-body .promotion-banner .block-header {
  background: #F8F9FB;
  padding: 12px 16px;
}

.megamenu-body .promotion-banner .heading {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: flex;
  justify-content: space-between;
}

.megamenu-body .promotion-banner .heading h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
}

.megamenu-body .promotion-banner .block-header p {
  color: var(--grey);
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 2px 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 331px;
}

.menu-subs {
  background: #fff;
}

.header ul.menu-section .menu-subs .list-item li a img {
  border-radius: 4px;
}

@media (min-width: 993px) {

  .header ul.menu-section {
    display: flex;
  }

}

@media (max-width: 992px) {

  .megamenu-header {
    display: none;
  }

  .megamenu-product-items .megamenu-header {
    display: block;
  }

  .megamenu-product-items .megamenu-header .title {
    color: var(--black);
    font-family: var(--font-aeonik);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 0 16px;
  }

  .megamenu-product-items .megamenu-header .link {
    display: none;
  }

  .header .mobile-subnavigation .content-wrapper {
    max-width: calc(100% - 78px);
  }

  .header .mobile-subnavigation .content-wrapper span {
    color: var(--black);
    font-family: var(--font-neue);
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 140%;
  }

  .header .mobile-subnavigation .content-wrapper p {
    color: var(--black) !important;
    font-family: var(--font-neue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 140%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0.72;
    text-transform: initial;
  }

  .header .menu-subs {
    padding: 0 !important;
    background: #fff !important;
    margin-top: -8px !important;
  }  

  .header ul.menu-section .menu-subs .list-item li a img {
    width: 64px !important;
    height: 64px;
    max-width: 64px !important;
  }

  .mobile-subnavigation-items .content-wrapper span {
    color: var(--black);
    font-family: var(--font-neue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .new-megamenu-footer-mobile {
    background: #173446;
    padding: 24px 16px 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .new-megamenu-footer-mobile a {
    color: #fff;
    font-family: var(--font-neue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

}
