.article-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-between;
  position: relative;
  padding: 0 !important;
  padding-left: 64px !important;
}

.article-content-left {
  max-width: 63.334%;
}

.article-info-sidebar-wrap {
  position: relative;
}

.article-info-sidebar-wrap:before {
  content: '';
  display: block;
  width: calc(100vw - 15px);
  height: 100%;
  z-index: 0;
  position: absolute;
  background: var(--pale-grey);
}

.blog-category {
  color: rgba(17, 19, 20, 0.60);
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}

.article-section-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.article-sidebar {
  position: sticky;
  top: 74px;
  padding-bottom: 88px;
  margin-right: 48px;
  margin-top: 24px;
  max-width: 28.632%;
  max-height: 100vh;
  overflow: auto;
}

.article-sidebar::-webkit-scrollbar {
  width: 0;
}


.article-content-main {
  padding-left: 64px;
  margin: 48px 0 0;
}

@media (min-width: 1440px) {

  .article-section-container {
    gap: 120px;
  }

  .article-sidebar {
    margin-right:calc((100vw - 1440px)/2 + 48px);
    max-width: 360px;
    max-height: 100vh;
    overflow: scroll;
    cursor: pointer;
  }

  .article-wrapper, .article-content-main {
    padding-left: calc((100vw - 1440px) / 2 + 64px) !important;
  }
  
}

.trending__article-card-wrapper {
  border-radius: 6px;
  background: var(--white);
}

.article-banner {
  padding: 64px 0;
  max-width: 848px;
}

.article-info-sidebar-wrap {
  background: var(--pale-grey);
}

.article-title {
  margin: 16px 0 32px;
  font-size: 40px;
}

.article-author-date-wrapper {
  margin: 32px 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.previous_next_buttons {
  display: flex;
  justify-content: space-between;
  margin: 64px 0 0px;
  padding-bottom: 40px;
  max-width: 848px;
  flex-wrap: wrap;
  gap: 16px;
}

.previous_next_buttons .btn {
  border-radius: 6px;
  border: 1px solid rgba(17, 19, 20, 0.80);
  padding: 14px 24px 16px 24px;
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 12px;
  max-height: 48px;
}

.previous_next_buttons .btn.previous {
  flex-direction: row-reverse;
}

.previous_next_buttons .btn.previous svg {
  transform: rotate(180deg);
  margin-top: 3px;
}

.article-author-date-wrapper * {
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.article-author-date-wrapper .article-date,
.article-author-date-wrapper span {
  opacity: 0.75;
}

.article-author-date-wrapper a {
  opacity: 1;
}

.article-author-date-wrapper u {
  font-weight: 500;
  opacity: 1;
  text-underline-offset: 2px;
}

.recent-post-wrapper .section_title {
  margin: 0 0 32px;
}

.recent-post-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.trending__article-card {
  display: flex;
  gap: 20px;
  padding: 16px;
}

.trending__article-card--image {
  width: 72px;
  height: 72px;
}

.trending__article-card--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.trending__article-card--info {
  flex: 1;
}

.trending_article--title {
  color: #111314;
  font-family: var(--font-neue);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 0 0 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trending__article-card-wrapper:hover .trending_article--title {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.trending_article--description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trending_article--description p,
.trending_article--description span{
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.72;
}

.trending_article--author {
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.75;
}

.article-content-main .article-content-wrapper {
  max-width: 848px;
}

.article-content-wrapper h2,
.article-content-wrapper h2 * {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 48px 0 32px;
}

.article-content-wrapper h3,
.article-content-wrapper h3 * {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 48px 0 32px;
}

.article-content-wrapper ol {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.article-content-wrapper ul,
.article-content-wrapper ol {
  list-style: auto;
  padding-left: 24px;
  margin: 16px 0;
}

.article-content-wrapper ul {
    list-style: none;
    padding-left: 0;
}

.article-content-wrapper ul li {
    /* display: flex;
    gap: 8px; */
    margin-bottom: 16px;
}

.article-content-main .article-content-wrapper>ul>li {
    position: relative;
    padding-left: 24px;
    margin-top: 4px;
}

.article-content-wrapper ul li:before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0866/7664/files/rightlisticon.png?v=1745477535);
    display: inline-block;
    width: 16px;
    height: 17px;
    min-width: 16px;
    margin-top: 3px;
}

.article-content-main .article-content-wrapper>ul>li::before {
    position: absolute;
    left: 0;
    top: 0;
}

.article-content-main .article-content-wrapper>ul>li ul li::before {
  display: none;
}

.article-content-main .article-content-wrapper>ul>li ul {
    list-style: disc;
    padding-left: 10px;
}

.article-content-wrapper h4,
.article-content-wrapper h4 * {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 64px 0 20px;
}

.article-content-wrapper h5,
.article-content-wrapper h5 * {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 40px 0 24px;
}

.article-content-wrapper p {
  margin: 0 0 16px;
}

.article-content-wrapper img {
  margin: 24px 0;
}

.article-image {
  border-radius: 6px; 
  overflow: hidden;
}

.article-content-wrapper *,
.article-content-wrapper p,
.article-content-wrapper p * {
  color: var(--grey);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.article-content-wrapper strong {
  font-weight: 700;
}

.article-content-wrapper a {
  color: var(--sky-blue);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.review-by-wrapper a {
  text-decoration: none;
  display: flex;
}

.review-by-text * {
  color: var(--grey);  
}

.review-by-wrapper {
  display: flex;
  max-width: 848px;
  border-radius: 6px;
  background: var(--pale-grey);
  padding: 32px;
  gap: 24px;
  margin: 32px 0 56px;
}

.review-by-img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
}

.review-by-content {
  gap: 20px;  
}

.review-by-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.review-by-title {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.featured-product-section .product-content-wrapper .product-price {
  font-size: 20px;
}

.article-content-main .featured-product-section .product-content-wrapper .shop-now-button a {
   padding: 13.5px 10px 15.5px; 
}

.article-content-main .featured-product-section .product-media-item {
    padding: 0;
}

.article-content-main .previous_next_buttons a.btn {
  font-family: var(--font-neue);
}

.article-content-main .previous_next_buttons a.link.previous {
  flex-direction: row-reverse;
}

.article-content-main .previous_next_buttons a.link.previous svg {
  transform: rotate(180deg);
  margin-top: 1px;
}

@media (max-width: 992px) {

  .featured-product-section .product-content-wrapper .product-price {
    font-size: 18px;
  }

  .article-content-left {
    max-width: 100%;
  }

  .article-section-container {
    flex-direction: column;
  }

  .article-sidebar {
    max-width: 100%;
    margin: 0;
    padding: 40px 64px 64px;
    background: var(--pale-grey);
  }

  .article-content-main,
  .article-wrapper {
    padding: 0 64px !important;
  }

  .article-banner {
    padding: 32px 16px;
  }

}

@media (min-width: 993px) {

  .template--article #kustomer-ui-sdk-iframe {
    right: initial !important;
    left: 20px !important;
  }
  
}

@media (max-width: 992px) {

  .template--article #kustomer-ui-sdk-iframe {
    bottom: 210px !important;
    transition: width 200ms, height 200ms, max-height 200ms, bottom 0.3s, transform 300ms cubic-bezier(0, 1.2, 1, 1), opacity 83ms ease-out !important;
  }

  .template--article.sticky-newsletter-mini-disabled #kustomer-ui-sdk-iframe {
    bottom: 0 !important;
  }

}

@media (max-width: 767px) {

  .article-banner {
    padding: 32px 0 40px;
  }

  .article-title {
    margin: 16px 0 24px;
    font-size: 28px;
  }

  .article-content-main, .article-wrapper {
    padding: 0 16px !important;
  }

  .article-content-main {
    margin: 40px 0 0;
  }

  .article-content-wrapper h3, .article-content-wrapper h3 * {
    margin: 40px 0 20px;
    font-size: 24px;
  }

  .article-content-wrapper h4, .article-content-wrapper h4 * {
    font-size: 22px;
    margin: 54px 0 20px;
  }

  .article-content-wrapper h5, .article-content-wrapper h5 * {
    font-size: 20px;
    margin: 40px 0 20px;
  }

  .article-content-wrapper img {
    margin: 20px 0;
  }

  .previous_next_buttons {
    margin: 40px 0 32px;
  }

  .previous_next_buttons .btn {
    padding: 14px 16px 16px;
    min-width: 162px;
    justify-content: space-between;
  }

  .article-author-date-wrapper {
    margin: 24px 0 0;
  }

  .article-author-date-wrapper u {
    display: block;
  }

  .review-by-title {
    font-size: 22px;
  }

  .article-sidebar {
    max-width: 100%;
    margin: 0;
    padding: 40px 16px 64px;
  }

  .review-by-wrapper {
    flex-direction: column;
    padding: 24px 16px;
    margin: 32px 0;
  }

  .review-by-text * {
    font-size: 14px;
  }

  .article-section-container {
    gap: 0;
  }

  .featured-product-section {
    margin: 72px 0 40px !important;
  }

  .featured-product-section .section-title {
    margin: 0 0 32px;
  }

  .article-section-wrapper .featured-product-section .section-title {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .article-section-wrapper .swiper-button-next {
    right: -6px;
  }
  
  .article-section-wrapper .swiper-button-prev {
    left: -6px;
  }

  .recent-post-wrapper .section_title {
    font-size: 24px;    
  }

  .trending_article--title {
    font-size: 16px;
  }

  .trending_article--description p,
  .trending_article--description span{
    font-size: 14px;
  }

  .article-content-main .featured-product-section .product-content-wrapper .shop-now-button a {
   padding:0px 0px 2px ; 
  }
  
  .article-content-main .featured-product-section .product-content-wrapper .shop-now-button  a:before {
    width: calc(100% - 0px);
  }
  
  .article-section-wrapper .trending__article-card-wrapper .trending_article--author {
    display: none;
  }


}

@media (max-width: 620px) {

  .article-content-wrapper p img,
  .article-banner .article-image img {
      min-height: 200px;
      object-fit: cover;
      border-radius: 6px;
  }

}

