.compare-products-container {
  padding: 88px 0;
}

.compare-products-container .product-item-wrapper {
  margin: 48px 0 0;
  display: flex;
  gap: 0;
}

.compare-products-container .product-grid-item {
  border-radius: unset;
  background: var(--white);
  border-left: 1px solid rgba(17, 19, 20, 0.15);
  height: inherit;
  margin: 0;
}

.compare-products-container .product-card-url {
  pointer-events: all;
}

.compare-products-container .product-grid-item:first-child {
  border-left: none;
}

.compare-products-container .shop-now-button {
  flex: none;
}

.compare-products-container .jdgm-prev-badge__text {
  display: none;
}

.compare-product-feature-list .feature-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 0;
  border-bottom: 1px solid rgba(17, 19, 20, 0.3);
}

.compare-product-feature-list .feature-list-item:last-child {
  border-bottom: none;
}

.compare-product-feature-list .feature-list-item p {
  color: var(--grey);
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.compare-products-container .product_image_slider {
  max-width: 230px;
}

.compare-products-slider-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
}

.compare-products-pagination {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin: 28px 0 0;
}

.compare-products-fraction {
  margin: 28px 0 0;
}

.compare-products-pagination span {
  height: 25px;
  background: transparent;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 !important;
  max-width: 52px;
}

.compare-products-pagination-current {
  font-weight: 700;
  line-height: 1;
}

.compare-products-pagination {
  width: auto;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.compare-products-pagination span {
  height: 24px;
  background: transparent;
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.compare-products-pagination span:before {
  background: var(--black);
  content: '';
  height: 1px;
  width: 100%;
  display: block;
}

.compare-products-container .product-content-wrapper .product-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  height: 1.5px;
}

.compare-products-swiper .product-grid-item .product-tag {
  font-size: 12px;
}

@media (max-width: 767px) {
  .compare-products-container {
    padding: 48px 0;
  }

  .compare-products-container .product-item-wrapper {
    margin: 32px 0 0;
  }

  .compare-products-container .product-content-wrapper .product-title {
    font-weight: 700;
    line-height: 140%;
  }

  .compare-products-swiper .jdgm-widget .jdgm-rating-count {
    font-size: 12px;
  }

  .compare-products-container .product-content-wrapper {
    gap: 8px;
  }

  .product-content-wrapper .price-button-wrapper {
    margin: 16px 0 0;
  }
}

@media (max-width: 499px) {
  .compare-products-container {
    overflow: hidden;
  }

  .compare-products-swiper {
    overflow: visible;
  }

  .compare-product-feature-list .feature-list-item img {
    width: 20px;
    height: 20px;
  }
}
