.how-to-use-container {
  padding: 88px 0;
}

.how-to-use-content {
  margin: 48px 0 0;
}

.how-to-use-container .steps-timeline {
  display: flex;
  gap: 48px;
  overflow: hidden;
}

.how-to-use-container .step-number {
  border-radius: 40px;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  color: var(--white);
  font-family: var(--font-aeonik);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.how-to-use-container .step-icon {
  width: 140px;
  height: 140px;
  position: relative;
}

.step-icon .step-number {
  position: absolute;
  top: -12px;
  left: 0;
  display: none;
}

.how-to-use-container .step-icon img {
  object-fit: contain;
  display: block;
  height: inherit;
  border-radius: 6px;
}

.step-item {
  flex: 1;
}

.step-numbers-wrapper {
  position: relative;
  margin: 0 0 24px;
}

.how-to-use-container .line {
  position: absolute;
  top: 50%;
  color: transparent;
  transform: translateY(-50%);
}

.how-to-use-container .step-content {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.step-content p {
  margin: 16px 0 0;
}

.step-content .step-description {
  max-width: 268px;
  margin: 16px 0 0;
  color: rgba(255, 255, 255, 0.80);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.step-heading {
  font-family: var(--font-neue);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.additional-info-description {
  margin: 48px 0 0;
}

.additional-info-description a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.additional-info-description * {
  margin: 0 0 16px;
}

.additional-info-desclaimer {
  margin: 48px 0 0;
  opacity: 0.6;
}

.how-to-use-container .additional-info-desclaimer * {
  margin: 0 0 8px;
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255,255,255,0.6);
}


@media (max-width: 992px) {

  .how-to-use-container .steps-timeline {
    gap: 20px;
  }
  
}

@media (max-width: 767px) {

  .how-to-use-content {
    margin: 0;
  }

  .how-to-use-container {
    padding: 48px 0;
  }
  
  .step-icon .step-number {
    display: flex;
    width: 32px;
    height: 32px;
    font-size: 18px;
  }

  .how-to-use-container .steps-timeline.step-numbers-wrapper {
    display: none;
  }

  .how-to-use-container .steps-timeline {
    overflow: visible;
    flex-wrap: wrap;
    gap: 0;
  }

  .how-to-use-container .steps-timeline .step-item {
    flex: 0 1 100%;
    padding: 32px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .how-to-use-container .steps-timeline .step-item:last-child {
    border-bottom: none;
  }

  .how-to-use-container .step-info {
    flex: 1;
  }

  .step-content .step-description {
    max-width: 100%;
    line-height: 130%;
    margin: 12px 0 0;
  }

  .how-to-use-container .step-content {
    flex-direction: row;
    gap: 16px;
  }

  .how-to-use-container .step-icon {
    width: 100px;
    height: auto;
    padding-left: 12px;
  }

  .additional-info-description {
    margin: 0;
  }

  .additional-info-desclaimer {
    margin: 32px 0 0;
  }

  .how-to-use-container .step-icon img {
    border-radius: 8px;
  }

}

