.new-product-description-section {
  padding: 0;
  background: transparent;
}

.new-product-description-wrapper {
  padding: 32px 0 64px;
}

.new-product-description-inner {
  gap: 72px;
  align-items: stretch;
}

.new-product-description-inner.accordion-other-active {
  align-items: flex-start;
}

.product-description-block {
  flex: 1;
  padding: 24px 24px 0;
  border-radius: 6px;
}

.product-description-left {
  align-self: start;
}

.product-description-left.no_product_description_links {
  padding: 24px;
}

.product-description-left .section-heading {
  color: var(--white);
  font-family: var(--font-aeonik);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 16px;
  text-transform: initial;
}

.product-description-left .section-description p {
  margin: 0 0 16px;
}

.product-description-left .section-description p:last-child {
  margin: 0;
}

.product-description-links {
  margin: 78px 0 0;
}

.product-description-right {
  padding: 4px 24px 32px;
  min-height: auto;
}


.product-description-links {
  display: flex;
  flex-direction: column;
}

.product-description-left .product-description-link:first-child {
  border-top: 1px solid rgba(255,255,255,0.3) !important;
}

.product-description-left .product-description-link {
  color: var(--white);
  font-family: var(--font-neue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 16px 0 23px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.product-description-left .product-description-link:last-child {
  border: none;
}

.product-description-left a svg {
  min-width: 18px;
}

.accordion-content-inner {
  padding: 0 0 24px;
}

.product-description-right .image-wrapper img {
  margin: 0 auto;
}

.product-description-right .accordion-content * {
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.product-description-right .accordion-content strong {
  font-weight: 500;
}

.product-description-right .accordion-content a {
  color: var(--sky-blue);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.new-product-description-wrapper .accordion-header {
  cursor: pointer;
}

.new-product-description-wrapper .accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
}

.new-product-description-wrapper .accordion-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.new-product-description-wrapper .accordion-header .icon {
  display: inline-block;
  transition: transform 0.3s ease;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1;
  transform-origin: center;
}

.new-product-description-wrapper .accordion-item {
  border-bottom: 1px solid rgba(103, 103, 103, 0.32);
}

.new-product-description-wrapper .accordion-item:last-child {
  border-bottom: none;
}

.new-product-description-wrapper .accordion-item button {
  padding: 20px 0;
}

.new-product-description-wrapper .accordion-item.active .icon {
  transform: rotate(45deg); 
}

.informed_choice_badges {
  padding: 31px 0 21px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  border-top: 1px solid rgba(255, 255, 255, .3);
}


.informed_choice_badges img {
  object-fit: contain;
  max-width:80px;
}

.max-w-half {
  max-width: calc(50% - 36px);
}

@media (max-width: 1199px) {

  .new-product-description-inner {
    gap: 30px;
  }

  .product-description-block {
    padding: 24px 16px 0;
  }

  .product-description-left.no_product_description_links {
    padding: 24px 16px 24px;
  }

  .product-description-right {
    padding: 4px 16px 32px;
    min-height: auto;
  }

}

@media (max-width: 767px) {

  .new-product-description-wrapper {
    padding: 0;
  }

  .new-product-description-wrapper .accordion-item {
    border-top: 1px solid rgba(103, 103, 103, .32);
  }

  .new-product-description-wrapper .accordion-item button {
    padding: 16px 0;
  }

  .product-description-right {
    background-color: transparent !important;
    padding: 0;
  }

  .new-product-description-inner {
    gap: 16px;
    flex-direction: column-reverse;
  }

  .product-description-block {
    padding: 32px 16px;
    border-radius: unset;
    width: 100%;
  }

  .product-description-links-text {
    max-width:92%;
  }

  .informed_choice_badges {
    padding: 27px 0 0;
  }

  .product-description-links {
    margin: 64px 0 0;
  }

  .product-description-right {
    padding: 0 16px;  
  }

  .new-product-description-wrapper .container {
    padding: 0 !important;
  }

  .product-description-left a {
    padding: 16px 0;
  }
  .max-w-half {
    max-width: unset;
  }
  
}