.stay-informed-newsletter-form-mini {
  border-radius: 6px;
  background: var(--Navy, #173446);
  padding: 16px;
  margin: 72px 0 0;
}

.article-sidebar .stay-informed-newsletter-form-mini {
  margin: 32px 0 0;
}

.stay-informed-newsletter-form-mini #submitbtn {
  position: absolute;
  right: 13px;
  width: auto;
  padding: 0;
  top: 11px;
  margin: 0;
  border-radius: 4px;
  background: var(--black);
  padding: 5px 4px;
  width: 36px;
  height: 36px;
}

.stay-informed-newsletter-form-mini .input-button-wrapper {
  position: relative;
}

.newsletter-form-header {
  display: flex;
  justify-content: space-between;
}

.newsletter-form-heading {
  color: var(--white);
  font-family: var(--font-neue);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.newsletter-form-desc {
  margin: 4px 0 0;
  overflow: hidden;
  color: var(--pale-grey);
  text-overflow: ellipsis;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.72;
}

.stay-informed-newsletter-form-mini form {
  margin: 18px 0 0;
  scroll-margin-top: 150px;
}

.stay-informed-newsletter-form-mini .input-button-wrapper input {
  display: flex;
  padding: 8px 8px 8px 16px;
  border-radius: 4px;
  height: 52px;
}

.stay-informed-newsletter-form-mini .thanks__message {
  display: block;
  font-size: 16px;
  margin: 0 0 5px;
}

@media only screen and (max-width: 991px) {

  .stay-informed-newsletter-form-mini {
    position: fixed;
    bottom: 0;
    z-index: 99;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    width: calc(100% - 32px) !important;
    margin: 0 0 30px !important;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media (max-width: 767px) {

  .newsletter-form-desc {
    font-size: 14px;
  }
  
}