.custom-newsletter-main .newsletter-form {
  max-width: 480px;
  margin: 24px 0 0;
}

.custom-newsletter-main .text-input {
  color: #111314;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  border-radius: 4px;
  padding: 16px;
  height: 52px;
}

#newsletter__error--message.show {
  display: flex;
}

.custom-newsletter-main .text-input.error-field {
  outline: 1px solid #FF6767;
}

.custom-newsletter-main #submitbtn {
  max-width: 100%;
  margin-top: 28px;
}

.custom-newsletter-main #submitbtn:hover {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.20);
  color: #ffffff;
  opacity: 1;
}

.custom-newsletter-content {
  max-width: 460px;
}

.custom-newsletter {
  height: 520px;
  display: flex;
  align-items: center;
}

.custom-newsletter-main {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.custom-newsletter-title {
  margin: 0 0 10px;
}

.custom-newsletter-content p {
  color: #fff;
  font-family: var(--font-neue);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media only screen and (max-width:767px) {

  .contact-info-wrap {
    display: flex;
  }

  .newsletter-form fieldset {
    padding: 0;
    border-radius: 4px;
    border: 1px solid transparent;
  }
  
  .custom-newsletter-main .newsletter-form {
    margin: 9px 0 0;
  }
  
  .custom-newsletter {
    height: 695px;
    align-items: start;
  }

  .custom-newsletter-main {
    padding: 40px 0;
  }

  .custom-newsletter-content p {
    font-size: 16px;
    opacity: 0.64;
  }
  
}

