.performance_partners--wrapper {
  display: flex;
  column-gap: 104px;
}

.performance_partners .section_heading {
  font-family: var(--font-aeonik);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  color: var(--text-color);
  margin: 0 0 16px;
}

.performance_partners .section_subheading {
  font-family: var(--font-neue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  color: var(--subheading-color);
}

.performance_partners .section_subheading * {
  color: var(--grey);
  font-family: var(--font-neue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.performance_partners .performance_partners--header {
  width: 30%;
}

.performance_partners .performance_partners--slider {
  width: 70%;
  position: relative;
  overflow: hidden;
}

.performance_partners .performance_partners--slide-image {
  margin: 0 0 29px;
  cursor: pointer;
  min-height: 302px;
}

.performance_partners .performance_partners--slide-image .responsive-image-wrapper {
  max-width: 100% !important;
  width: 100%;
  border-radius: 6px;
  max-height: 224px;
  min-height: 224px;
  transition: all 0.3s;
}

.performance_partners .performance_partners--slide.swiper-slide-active .performance_partners--slide-image .responsive-image-wrapper {
  max-height: 302px;
  min-height: 302px;
}

.performance_partners .performance_partners--slide-image .responsive-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 0.3s;
  transition-delay: 0.1s;
}

.performance_partners .performance_partners--slide.swiper-slide-active .performance_partners--slide-image .responsive-image-wrapper img {
  transform: scale(1.1);
}

.performance_partners .performance_partners--slide-content {
  opacity: 0;
  transition: all 0.4s;
  transition-delay: 0.1s;
}

.performance_partners .performance_partners--slide.swiper-slide-active .performance_partners--slide-content {
  opacity: 1;
}

.performance_partners .performance_partners--text,
.performance_partners .performance_partners--auther_name {
  font-family: var(--font-aeonik);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: var(--text-color);
}

.performance_partners .performance_partners--text {
  margin: 0 0 24px;
}

.performance_partners .performance_partners--text p {
  margin: 0;
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; 
}

.performance_partners .performance_partners--auther_name {
  margin: 0 0 2px;
}

.performance_partners .performance_partners--auther_detail {
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;
  color: var(--text-color);
  opacity: 0.8;
}

.performance_partners .performance_partners-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  z-index: 2;
  max-width: 300px;
  width: 100%;
}

.performance_partners .performance_partners-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  max-width: 231px;
}

.performance_partners .performance_partners-pagination .swiper-pagination-bullet {
  display: block;
  height: 1px;
  background: var(--text-color);
  margin: 0;
  flex: 1;
  opacity: 0.4;
  transition: opacity 0.3s, transform 0.3s;

  height: 25px;
  background: transparent;
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.performance_partners .performance_partners-pagination .swiper-pagination-bullet-active {
  /* height: 1.5px; */
  opacity: 1;
}

.performance_partners .performance_partners-pagination .swiper-pagination-bullet:before {
  background: var(--black);
  content: "";
  height: 1.5px;
  width: 100%;
  display: block;
}

.performance_partners .performance_partners-fraction {
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  color: var(--text-color);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 3px;
}

.performance_partners .performance_partners-fraction .performance_partners-pagination-current {
  font-weight: 700;
}



@media (min-width: 1440px) and (max-width: 1920px) {

  .performance_partners--header {
    padding-left: calc((100vw - 1440px)/2 + 64px);
  }

  .performance_partners .container {
    max-width: 100% !important;
        padding: 0 !important;
  }

  .performance_partners .performance_partners-bottom {
    right: calc((100vw - 1440px) / 2 + 64px);
  }
  
}

@media (max-width: 1439px) {

  .performance_partners .container {
    padding-right: 0 !important;
  }

  .performance_partners .performance_partners-bottom {
    right: 64px;
  }
  
}

@media (max-width: 767px) {

  .performance_partners .performance_partners-bottom {
    right: 0;
    max-width: 100%;
  }
  
}

@media (max-width: 1299px) {
  
  .performance_partners--wrapper {
    column-gap: 50px;
  }
  
}

@media (max-width: 991px) {
  
  .performance_partners--wrapper {
    flex-wrap: wrap;
    gap: 24px;
  }
  
  .performance_partners .performance_partners--header,
  .performance_partners .performance_partners--slider {
    width: 100%;
  }
  
  .performance_partners .performance_partners--slider {
    padding-bottom: 43px;
  }
  
  .performance_partners .section_heading {
    font-size: 28px;
    line-height: 33.6px;
    margin: 0 0 8px;
  }
  
  .performance_partners .section_subheading {
    font-size: 16px;
    line-height: 20.8px;
  }
  
  .performance_partners .performance_partners--text, 
  .performance_partners .performance_partners--auther_name {
    font-size: 18px;
    line-height: 23.4px;
  }
  
}

@media (max-width: 767px) {
  
  .performance_partners .section_subheading * {
    line-height: 130%;
    font-size: 16px;
  }

  .performance_partners .performance_partners--text p {
    font-size: 18px;
  }

  .performance_partners .container {
    padding-right: 0 !important;
  }

  .performance_partners-bottom {
    margin-right: 16px;
  }

  .performance_partners .performance_partners-pagination {
    max-width: 100%;
  }
  
}

@media (min-width: 768px) {

  .performance_partners--slide.swiper-slide-active {
    min-width: 362px;
  }
  
}

@media (min-width: 1921px) {

  .performance_partners--slide.swiper-slide-active {
    min-width: auto;
  }
  
}
  
