.best-seller-section
{
  display:block;
  width:100%;
  background: #F7F9FC;
  padding-bottom:50px;
}
.best-seller-section .flex-1
{
  padding:0 50px;
  max-width:1440px;
  margin:0 auto;
}
.best-seller-section .xgen-tagging
{
  display:block;
  width:100%;
  padding:20px 0;
  text-align:center;
}

.best-seller-section .xgen-tagging h2
{
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  margin-bottom:30px;
  padding:0 30px;
}

.best-seller-section .xgen-tagging .tagging-grid #tabs-nav
{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  gap:10px;
  margin-bottom: 20px;
}
.best-seller-section .xgen-tagging .tagging-grid a
{
  display:block;
  padding: 8px 20px;
  border-radius: 100px;
  color:#000000;
  font-weight: 400;
  font-size: 12px;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(25, 32, 56, 0.04);
}
.best-seller-section .xgen-tagging .tagging-grid a:hover,
.best-seller-section .xgen-tagging .tagging-grid a.active
{
  color:#fff;
  background: #41B5E8;
}

/***********this is for product slider***************/
.product_slider .product-card
{
  margin:0 15px;
}
.product_slider .slick-arrow::before,
.product_slider .slick-arrow::after
{
  content:none;
}
.product_slider .slick-arrow:hover,
.product_slider .slick-arrow:focus
{
  background:#fff;
}
.product_slider .slick-next,
.product_slider .slick-prev
{
  padding: 8px;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0px -8px 24px rgba(25, 32, 56, 0.04);
  border-radius: 100px;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:5;
}
.product_slider .slick-prev
{
  left:-40px;
  transform:rotate(180deg);
  
}
.product_slider .slick-next
{
  right:-40px;
}
@media only screen and (min-width:768px) and (max-width:1023px)
{
  .product_slider .slick-prev
  {
    left:-20px;
    
  }
  .product_slider .slick-next
  {
    right:-20px;
  }
}
@media only screen and (min-width:0) and (max-width:767px)
{
  .product_slider .product-card
  {
    margin:0 5px;
  }
  .product_slider .slick-list
  {
    padding:0 40px 0 0 !important;
  }
  .product_slider .product-card .package-list-wraper
  {
    height:270px;
  }
  
}

/***********this is for product slider***************/
.product-card 
{
  padding:0;
  border: 1px solid #F0F0F0;
  box-shadow: 0px -8px 24px rgba(25, 32, 56, 0.04);
  border-radius: 16px;
  
}
.product-card .xgen-product-img
{
  background: #F7F9FC;
  padding: 15px 0;
}
.product-card .xgen-product-info
{
  padding:16px;
  background:#fff;
}
.product-card .xgen-product-info-in
{
  display:block;
  min-height:100px;
}
.product-card .xgen-product-info .xgen-ptitle
{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-right:10px;
  text-transform:uppercase;
}
.product-card .xgen-product-info .rctitle-flex
{
  justify-content:space-between;
  align-items: start;
  min-height: 50px;
}
.product-card .xgen-product-info .variant-price
{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.product-card .xgen-product-info .variant-price del
{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: line-through;
  color: #6C787C;
}

.product-card .xgen-product-info .prating
{
  margin:10px 0;
}
.product-card .xgen-product-info .xgan-ptag
{
  padding: 2px 8px;
  background: #FF5D0D;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color:#fff;
  width:auto;
  display: inline-block;
}

.product-card .xgen-product-info .xgan-aptag
{
/*   padding: 2px 8px; */
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color:#fff;
  width:auto;
  display: flex;
  gap: 5px;
  margin: 0px 0px 5px 0;
}

.product-card .xgen-product-info .xgen-pdesc
{
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #6C787C;
  display:block;
  margin:15px 0;
  min-height:50px;
}


.package-list-wraper
{
  display:block;
  margin:20px 0;
  height: auto;
}
.product-card .package-list-wraper .input-wraper
{
  display:flex;
  flex-direction:column;
  padding:10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.product-card .package-list-wraper .input-wraper label
{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6C787C;
}
.product-card .package-list-wraper .input-wraper select
{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  border:none;
  width:100%;
  padding:0;
  background:transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat:no-repeat;
  background-position:center right;
  position:relative;
  z-index:0;
}

.product-card .package-list-wraper .deliveryf
{
  padding:10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.product-card .package-list-wraper .deliveryf.dlast
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.product-card .package-list-wraper .deliveryf label
{
  display: flex;
  gap: 10px;
  align-items: start;
  justify-content: start;
  padding-left:10px;
}
.product-card .package-list-wraper .deliveryf label input[type=radio]
{
  margin-top:7px;
}
.product-card .package-list-wraper .deliveryf label .ltext
{
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  white-space: nowrap;
}
.product-card .package-list-wraper .deliveryf label .stext
{
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6C787C;
}
.product-card .package-list-wraper .deliveryf select
{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  border:none;
  width:100%;
  padding:0;
  background:transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat:no-repeat;
  background-position:center right;
  position:relative;
  z-index:0;
}
.product-card .package-list-wraper .deliveryf.dlast select
{
  /*margin-left:-20px;*/
}
.product-card .xtags
{
  display: flex;
  align-items: center;
  gap: 5px;
  margin:5px 0 0 0 ;
  padding-left: 35px;
}
.product-card .xtags span 
{
  background: #FFEA8D;
  border-radius: 4px;
  padding: 2px 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.product-card .xgan-aptag span:first-child {
    background: #FF5D0D;
}
.product-card .xgan-aptag span {
    background: #41B5E8;
    border-radius: 4px;
    padding: 2px 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}


.product-card .price-btn-grid
{
  
}
.product-card .price-btn-grid input[type=number],
.product-card .price-btn-grid button
{
  width:40px;
  height:40px;
}
.product-card .price-btn-grid button svg
{
  stroke: #41B5E8;
  width: 14px;
  height: 14px;
}
.product-card .price-btn-grid .quant-btn
{
  gap:10px;
}
.product-card .price-btn-grid .quant-btn .button-alt
{
  padding: 8px 0px;
  width: 100%;
  height: 40px;
  background: #41B5E8;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
/*   line-height: 24px; */
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
}





@media only screen and (min-width:0) and (max-width:639px)
{
  .product-card .package-list-wraper
  {
    height:auto;
  }
}
@media only screen and (min-width:0) and (max-width:767px)
{
  .best-seller-section .flex-1
  {
    padding:0 20px;
  }
  .best-seller-section .xgen-tagging h2
  {
    font-size: 32px;
    line-height: 40px;
  }
  
}

@media only screen and (min-width:1024px) and (max-width:1366px)
{
  .gap-8.grid.lg\:grid-cols-4
  {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}






/**********bulk affiliate page cs***************/

.affiliate-product-card .xgen-product-info .rctitle-flex
{
  flex-direction:column;
}
.affiliate-product-card .xgen-product-info .xgen-ptitle
{
  font-size:48px;
  font-weight:700;
  line-height:1;
}
.affiliate-product-card .xgen-product-info .xgen-subptitle
{
  font-size:16px;
  font-weight:700;
  color:#6e7a7e;
  line-height:1;
}
.affiliate-product-card .xgen-product-info .variant-price
{
  font-size:24px;
  text-align:left;
  line-height:1;
  margin:20px 0;
}

@media only screen and (max-width:767px)
{
  .affiliate-product-card .xgen-product-info .xgen-ptitle
  {
    font-size:40px;
  }
  .affiliate-product-card .xgen-product-info .xgen-subptitle
  {
    font-size:24px;
    text-align: left;
  }
  .affiliate-product-card .xgen-product-info .variant-price
  {
    font-size:20px;
  }
}

/**********bulk affiliate page cs***************/

quick-view-custom button.btn {
  color: var(--white);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  border-radius: 6px;
  background: var(--black);
  padding: 8px 20px 12px 20px;
  width: 100%;
  min-height: 56px;
  letter-spacing: normal;
}

.hide-pagination .featured-collections-slider-bottom {
  display: none;
}

.featured-collections-pagination:has(:only-child) + .featured-collections-fraction {
  display: none;
}

.a-b-shop-by-goal {
  display: none;
}

.section-shop-by-goal.shop-by-goal-hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
}

.a-b-fycs-quick-add {
  display: none;
}