.faq-section-answer p {
  margin-bottom: 14px;
}

.faq-section-answer p:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {

  .template--product .faq-section {
    padding: 48px 0 0;
  }

  .template--product .faq-section-title {
    margin-bottom: 32px;
  }
  
}