.xt-quiz-ability
{
  display:block;
  width:100%;
  padding:100px 0;
  background:#F8F9FB;
  min-height:100vh;
}
.xt-quiz-ability .xgen-inner
{
  max-width:1024px;
}
.xt-quiz-ability .wraper
{
  width:100%;
  display:block;
  padding:100px 0;
}
.xt-quiz-ability .wraper .heading
{
  font-size:40px;
  line-height:1.3;
  font-weight:600;
  color:#111314;
  text-align:center;
}
.xt-quiz-ability .wraper .subheading
{
  font-size:18px;
  line-height:1.3;
  font-weight:400;
  color:#676767;
  text-align:center;
  margin-top:20px;
}
.xt-quiz-ability .wraper .mainbtn
{
  display:flex;
  padding:15px 20px;
  min-width:310px;
  justify-content:center;
  gap:10px;
  align-items:center;
  background:#173446;
  color:#fff;
  font-size:16px;
  line-height:1;
  font-weight:400;
  border-radius:40px;
  margin:40px auto 0;
}
a.shopalllink{
  display:flex;
  padding:15px 20px;
  min-width:310px;
  justify-content:center;
  gap:10px;
  align-items:center;
  background:#000;
  color:#fff;
  font-size:16px;
  line-height:1;
  font-weight:400;
  border-radius:40px;
  margin:40px auto 0;
  width:200px;
}

a.retaketestlink{
  display:flex;
  padding:15px 20px;
  min-width:310px;
  justify-content:center;
  gap:10px;
  align-items:center;
  background:#fff;
  color:#000;
  font-size:16px;
  line-height:1;
  font-weight:400;
  border-radius:40px;
  margin:40px auto 0;
  width:200px;
  border: 1px solid #000;
}
.xt-quiz-ability .wraper .skipbtn
{
  display:flex;
  justify-content:center;
  color:#676767;
  font-size:18px;
  line-height:1;
  font-weight:400;
  margin:30px auto 0;
  text-decoration:underline;
}

.xt-quiz-ability .wraper .xform
{
  display:flex;
  width:100%;
  margin-top:40px;
  justify-content:center;
}
.xt-quiz-ability .wraper .xform form
{
  display:flex;
  justify-content:center;
  width:100%;
}
.xt-quiz-ability .wraper .xform .xinput
{
  border:solid 1px rgba(23, 52, 70, 0.8);
  border-radius:6px;
  padding:20px 30px;
  width:100%;
  text-align:center;
  font-size:16px;
  line-height:1.2;
  max-width:70%;
}
.xt-quiz-ability .wraper .xform .xinput::placeholder {
  opacity: 0.35; /* Adjust the value (0.0 - 1.0) */
  color: #000; /* Black color */
}

.xt-quiz-ability .wraper .btn-wrap
{
  display:flex;
  gap:24px;
  margin-top:50px;
}
.xt-quiz-ability .wraper .xbtn
{
  background:#fff;
  border-radius:6px;
  padding:20px 30px;
  width:100%;
  text-align:center;
  font-size:16px;
  line-height:1.2;
  color:#173446;
  font-weight:400;
  border:solid 1px #173446;
  margin:0;
  text-decoration:none;
}
.xt-quiz-ability .wraper .xbtn.active
{
  background:#173446;
  color:#fff;
}

.xt-quiz-ability .wraper .btn-wrap.item4
{
  flex-wrap:wrap;
}
.xt-quiz-ability .wraper .btn-wrap.item4 .xbtn
{
  width:calc(50% - 12px);
}



.xt-quiz-ability .wraper.loading img
{
  max-width:120px;
  margin:40px auto 0;
}

.xt-quiz-ability button.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.xt-quiz-ability .wraper .tags
{
  display:flex;
  align-items:center;
  gap:52px;
  row-gap:25px;
  flex-wrap:wrap;
  margin-top:50px;
  background:#fff;
  padding:20px 40px;
  border-radius:5px;
}
.xt-quiz-ability .wraper .tags .tag
{
  display:flex;
  align-items:center;
  gap:20px;
  font-size:18px;
  color:#676767;
  line-height:1.2;
  font-weight:400;
}


.xt-quiz-ability .product-wraper
{
  display:flex;
  gap:42px;
  justify-content:center;
  margin-top:50px;
}
.xt-quiz-ability .product-wraper .pcard
{
  display:flex;
  border:solid 1px #173446;
  padding:20px;
  border-radius:4px;
  width:33.333%;
  flex-direction:column;
  gap:24px;
}
.xt-quiz-ability .product-wraper .img
{
  width:100%;
  display:flex;
}
.xt-quiz-ability .product-wraper .rating
{
  display:flex;
  gap:3px;
  color:rgba(17, 19, 20, 0.6);
  font-size:14px;
  font-weight:400;
  /* margin-top:24px; */
}
.xt-quiz-ability .product-wraper .ptitle
{
  font-size:22px;
  font-weight:600;
  line-height:1.3;
  color:#111314;
  /* margin-top:24px; */
}
.xt-quiz-ability .product-wraper .desc
{
  display:block;
  /* margin-top:20px; */
  font-size:16px;
  font-weight:400;
  color:#000;
}
.xt-quiz-ability .product-wraper .desc ul
{
  list-style:disc;
  padding-left:20px;
}
.xt-quiz-ability .product-wraper .flavor
{
  display:block;
  /* margin-top:20px; */
  font-size:16px;
  font-weight:400;
  color:#676767;
  margin-top:auto;
}
.xt-quiz-ability .product-wraper .btn
{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
  border-radius:6px;
  border:solid 1px #111314;
  padding:15px 20px;
  width:100%;
  font-size:16px;
  line-height:1;
  color:#fff;
  /* margin-top:24px; */
  background:#173446;
  font-weight:500;
}
.xt-quiz-ability .product-wraper .btn svg
{
  display:none;
}
.xt-quiz-ability .product-wraper .btn.added
{
  background:#fff;
  color:#111314;
}
.xt-quiz-ability .product-wraper .btn.added svg
{
  display:block;
}




.xt-quiz-ability #xt-recommended-result-2
{
  max-width:1440px;
  margin:0 auto;
  padding:0 50px;
}

.xt-quiz-ability #xt-recommended-result
{
  padding-top:0;
  max-width:1440px;
  margin:0 auto;
  padding-right:50px;
  padding-left:50px;
}



@media (max-width:767px)
{

  .xt-quiz-ability {
    padding: 0px 0;
  }
  .xt-quiz-ability .wraper {
    /* padding: 30px 0; */
  }
  .xt-quiz-ability #xt-recommended-result-2,
  .xt-quiz-ability #xt-recommended-result
  {
    padding:0 20px;
  }
  .xt-quiz-ability .wraper .heading
  {
    font-size:28px;
  }
  .xt-quiz-ability .wraper .subheading
  {
    font-size:16px;
  }
  .xt-quiz-ability .wraper .btn-wrap
  {
    flex-direction:column;
  }
  .xt-quiz-ability .wraper .btn-wrap.item4 .xbtn
  {
    width:100%;
  }
  .xt-quiz-ability .wraper .xform .xinput
  {
    max-width:80%;
  }

  .xt-quiz-ability .wraper .tags
  {
    gap:19px;
    row-gap:19px;
    padding:20px;
  }
  .xt-quiz-ability .wraper .tags .tag
  {
    font-size:16px;
    gap:12px;
  }
  .xt-quiz-ability .product-wraper
  {
    flex-direction:column;
    gap:24px;
  }

  .xt-quiz-ability .product-wraper .pcard
  {
    width:100%;
  }
}



@media (max-width: 480px) {
    .xt-quiz-ability  .product-form {
        max-width: 100%;
        padding: 15px;
    }
}















.xt-quiz-option-cart
{
  position:fixed;
  display:block;
  width:100%;
  height:100%;
  background:rgba(17, 19, 20, 0.48);
  top:0;
  left:0;
  z-index:90001;
  visibility:hidden;
  opacity:0;
  transition:all .3s ease-in-out;
}
.xt-quiz-option-cart.xactive
{
  visibility:visible;
  opacity:1;
}
.xt-quiz-option-cart .cart-wraper
{
  max-width:390px;
  width:100%;
  position:absolute;
  right:0;
  top:0;
  height:100%;
  background:#fff;
  border-radius:4px;
  border:solid 1px #173446;
  overflow-y: auto;
  display:block;
  right:-100%;
  transition:all .3s ease-in-out;
}
.xt-quiz-option-cart.xactive .cart-wraper
{
  right:0%;
}
.xt-quiz-option-cart .xproduct
{
  display:flex;
  width:100%;
  padding:20px;
  flex-direction:column;
  gap:16px;
}
.xt-quiz-option-cart .xproduct .variant-form
{
  display:flex;
  flex-direction:column;
  gap:16px;
}
.xt-quiz-option-cart .xproduct .img
{
  display:flex;
  justify-content:center;
}
.xt-quiz-option-cart .xproduct .img img
{
  max-width:70%;
}
.xt-quiz-option-cart .xproduct .pname
{
  font-size:22px;
  line-height:1.2;
  color:#111314;
  font-weight:600;
}
.xt-quiz-option-cart .xproduct .sizes,
.xt-quiz-option-cart .xproduct .flavors,
.xt-quiz-option-cart .xproduct .frequency
{
  display:flex;
  flex-direction:column;
  gap:8px;
}
.xt-quiz-option-cart .xproduct .sizes .label,
.xt-quiz-option-cart .xproduct .flavors .label,
.xt-quiz-option-cart .xproduct .frequency .label
{
  font-size:14px;
  line-height:1.2;
  color:#676767;
  font-weight: 400;
}
.xt-quiz-option-cart .xproduct .sizes-wrap
{
  display:flex;
  gap:12px;
  align-items:stretch;
}
.xt-quiz-option-cart .xproduct .sizes-wrap .size
{
  width:calc(33.333% - 4px);
  padding:12px 7px;
  font-size:14px;
  line-height:1.1;
  color:rgba(17, 19, 20, 0.64);
  background:#F8F9FB;
  border:solid 1px rgba(17, 19, 20, 0.32);
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
  text-align:center;
  cursor:pointer;
}
.xt-quiz-option-cart .xproduct .sizes-wrap .size b
{
  font-size:16px;
  color:#111314;
}
.xt-quiz-option-cart .xproduct .sizes-wrap .size span
{
  width:100%;
  font-size:12px;
  color:#676767;
}
.xt-quiz-option-cart .xproduct .sizes-wrap .size.active
{
  background:#fff;
  border:solid 2px #111314;
}
.xt-quiz-option-cart .xproduct .flavor-select
{
  padding:12px 16px;
  border:solid 1px #676767;
  font-size:16px;
  color:#111314;
  line-height:1.2;
  font-weight:400;
}
.xt-quiz-option-cart .xproduct .frequency .freq-box
{
  background:#F8F9FB;
  border:solid 1px rgba(17, 19, 20, 0.32);
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:16px;
}
.xt-quiz-option-cart .xproduct .frequency .name-price
{
  display:flex;
  align-items:start;
  cursor: pointer;
}
.xt-quiz-option-cart .xproduct .frequency .freq-radio
{
  /* border: solid 1px #111314;
  height: 16px;
  width: 16px;
  cursor: pointer;
  appearance: none;
  position:relative; */
} 
.xt-quiz-option-cart .xproduct .frequency .freq-radio::before 
{
  /* content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  border: 2px solid #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
 background:#111314;
  display:none; */
}
.xt-quiz-option-cart .xproduct .frequency .name
{
  font-size:16px;
  line-height:1;
  white-space:nowrap;
  font-weight:400;
  color:#111314;
  margin-left:12px;
}
.xt-quiz-option-cart .xproduct .frequency .price
{
  margin-left:auto;
  font-size:16px;
  line-height:1;
  white-space:nowrap;
  font-weight:400;
  color:#111314;
  display:flex;
  flex-direction:column;
  gap:4px;
  align-items: end;
}
.xt-quiz-option-cart .xproduct .frequency .price del
{
  font-size:14px;
  font-weight:400;
  color:#111314;
}
.xt-quiz-option-cart .xproduct .frequency .desc-box
{
  display:flex;
  align-items:end;
  
}
.xt-quiz-option-cart .xproduct .frequency .desc-box ul
{
  list-style:disc;
  font-size:14px;
  line-height:1.2;
  color:rgba(17, 19, 20, 0.64);
  padding-left:16px;
  display:flex;
  flex-direction:column;
  gap:2px;
}
.xt-quiz-option-cart .xproduct .frequency .desc-box .plan-select
{
  padding:12px 28px 12px 12px;
  border:solid 1px rgba(103, 103, 103, 0.32);
  font-size:14px;
  color:#111314;
  line-height:1.2;
  font-weight:400;
  margin-left:auto;
}
.xt-quiz-option-cart .xproduct .frequency .freq-box.active
{
  background:#fff;
  border: 2px solid #111314;
}
.xt-quiz-option-cart .xproduct .frequency .freq-box.active .price
{
  font-weight:700;
  color:#1B73B3;
}
.xt-quiz-option-cart .xproduct .frequency .freq-box.active .freq-radio::before
{
  display:block;
}
.xt-quiz-option-cart .xproduct .btn
{
  background:#173446;
  display:block;
  padding:12px 16px;
  border-radius:6px;
  font-size:16px;
  font-weight:500;
  color:#fff;
}
.xt-quiz-option-cart .xproduct .btn svg
{
  display:none;
}
.xt-quiz-option-cart .cart-wraper .xclose
{
  background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="%235f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>') no-repeat center;
  width:32px;
  height:32px;
  position:absolute;
  top:16px;
  right:16px;
  cursor:pointer;
  display:block;
}



.xt-quiz-option-cart .xproduct .rating .jdgm-widget{display: flex; gap: 4px; font-size:14px;} (edited) 
.xt-quiz-ability .pcard .rating .jdgm-widget.jdgm-widget {
    display: flex;
    gap: 4px;
    font-size: 14px;
}

.xt-quiz-ability .jdgm-widget.jdgm-preview-badge.jdgm--done-setup {
    display: flex;
    gap: 10px;
}
 span.jdgm-star.jdgm--on {
    color: #1B73B3 !important;
} span.jdgm-star.jdgm--half {
    color: #1B73B3 !important;
}
.jdgm-preview-badge .jdgm-star.jdgm-star {
    color: #1B73B3 !important;
}
.xt-quiz-option-cart .size input {
  display: none; 
}
.xt-quiz-option-cart label.freq-selection {
    display: flex;
  cursor:pointer;
}

#sticky-checkout {
    position: fixed;
    bottom: 20px;
    left: 0;
    right:0;
    margin:0 auto;
    width:max-content;
    background-color: #000000;
    color: white;
    padding: 13px 62px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 99;
  }

  .sticky-checkout-btn {
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
  span#sticky-cart-count {
    font-weight: 100;
}

@media (max-width:767px)
{
  .xt-quiz-option-cart .cart-wraper
  {
    right:0;
    top:100%;
  }
  .xt-quiz-option-cart.xactive .cart-wraper
  {
    top:0;
  }
  .xt-quiz-option-cart .cart-wraper .xclose
  {
    background-size:30px;
    
  }
  #xt-recommended-result-2
  {
    padding-top:30px;
  }
    #sticky-checkout {
    bottom: 35px;
    padding:12px 30px;
  }
  .unique-xt-quiz-ability #kustomer-ui-sdk-iframe{display:none !important;}
}

.custom-drawer-qv .jdgm-preview-badge .open-review-details {
  display: none;
}