.review-carousel-section {
  padding: 88px 0;  
}

.review-carousel-container .swiper-wrapper {
  cursor: grab;
}

.review-carousel-wrapper {
  display: flex;
  gap: 104px;
  padding-left: calc((100vw - 1440px) / 2 + 64px);
}

.review-carousel-header {
  min-width: 360px;
  max-width: 360px;
}

.review-product-details {
  flex: 1;
}

.review-carousel-header .section-heading {
  margin: 16px 0 0;
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.review-carousel-section .review-item {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto !important;
  gap: 32px;
}

.review-carousel-content {
  overflow: hidden;
}

.review-product {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
}

.review-product-image {
  width: 64px;
  height: 64px;
  border-radius: 1.65px;
  background: #F8F9FB;
  padding: 2px;
}

.review-product-image img {
  width: 100%
  height: 100%;
  object-fit: contain;
}

.review-product-name {
  color: var(--grey);
  font-family: var(--font-neue);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.review-product-link.link {
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; 
  text-transform: capitalize;
  margin: 4px 0 0;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: none;
  position: relative;
  opacity: 1;
}

.review-product-link:before {
  content: '';
  width: calc(100% - 28px);
  position: absolute;
  background: var(--black);
  height: 1px;
  bottom: 0;
  transition: all 0.3s;
}

.review-product-link:hover:before { 
  width: 100%;
}

.author-details {
  display: flex;
  align-items: center;
  min-height: 34px;
  gap: 8px;
}

.author-initial {
  color: var(--white);
  text-align: center;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 88px;
  border: 1px solid var(--white);
  background: var(--sky-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-name {
  color: rgba(17, 19, 20, 0.8);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; 
}

.review-title {
  color: var(--black);
  font-family: var(--font-aeonik);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin: 16px 0 0;
}


.review-description * {
  color: var(--grey);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 14px 0 0;
}

.review-carousel-section .swiper-pagination-lock + .review-carousel-fraction {
  display: none;
} 

.review-carousel-section .review-carousel-pagination-current {
  font-weight: 700;
  line-height: 1;
}

.review-carousel-fraction * {
  font-family: var(--font-neue);
}

.review-carousel-section .review-carousel-pagination {
  width: 231px !important;
  display: flex;
  gap: 8px;
}

.review-carousel-section .review-carousel-pagination span {
  height: 25px;
  background: transparent;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.review-carousel-section .review-carousel-pagination span:before {
  background: var(--black);
  content: '';
  height: 1px;
  width: 100%;
  display: block;
}

.review-carousel-slider-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  margin: 38px 0 0;
  margin-right: calc((100vw - 1440px) / 2 + 64px);
}

.review-carousel-container {
  padding-right: 24px;
}

@media (max-width: 1439px) {
  
  .review-carousel-wrapper {
    padding-left: 64px;
  }

  .review-carousel-wrapper {
    gap: 60px;
  }

  .review-carousel-header {
    min-width: 300px;
    max-width: 300px;
  }

  .review-carousel-slider-bottom {
    margin-right: 64px;
  }
  
}

@media (max-width: 1023px) {

  .review-carousel-wrapper {
    gap: 30px;
  }

  .review-carousel-header .section-heading {
    font-size: 28px;
  }
  
}

@media (max-width: 767px) {
  
  .review-carousel-section {
    padding: 48px 0;
  }

  .review-carousel-wrapper {
    padding-left: 16px;
  }

  .review-carousel-slider-bottom {
    margin-right: 16px;
  }

  .review-carousel-wrapper {
    gap: 24px;
    flex-wrap: wrap;
  }

  .review-carousel-header {
    max-width: 100%;
    padding-right: 16px;
  }

  .review-title {
    font-size: 18px;
  }

  .review-carousel-section .review-item {
    padding: 16px 16px 20px;
  }

  .review-carousel-section .review-carousel-pagination {
    flex: 1;
  }

}