:root {
  --sb-base-font-size: 10;
  --sb-font-family-heading: var(--font-heading-family, sans-serif);
  --sb-font-family-body: var(--font-body-family, sans-serif);
  --sb-padding-inline: 16px;
  --page-width: 1420px;
}
@media screen and (min-width: 1024px) {
  :root {
    --sb-padding-inline: 48px;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    --sb-padding-inline: 64px;
  }
}

/*** HELPERS ***/
.sb-page-width,
.sb-page-width-wide,
.sb-page-width-narrow,
.sb-page-width-slim {
  margin: 0 auto;
  padding: 0 var(--sb-padding-inline);
}

.sb-page-width {
  max-width: var(--page-width, 1420px);
}

.sb-styled-element {
  padding-top: var(--sb-padding-top-mobile, 0);
  padding-bottom: var(--sb-padding-bottom-mobile, 0);
  background: var(--sb-bg-color, #fff);
  color: var(--sb-fg-color, #000);
}

body * {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0 !important;
}
@media screen and (min-width: 768px) {
  .sb-styled-element {
    padding-top: var(--sb-padding-top, 0);
    padding-bottom: var(--sb-padding-bottom, 0);
  }
}

@media screen and (min-width: 1920px) {
  .sb-page-width {
    padding-inline: 0;
  }
}

.button {
  border: 1px solid var(--sb-ch-fg-color, rgba(var(--color-button)));
  background-color: var(--sb-ch-bg-color, rgb(var(--color-button-text)));
  color: var(--sb-ch-fg-color, rgba(var(--color-button)));
}

.button:hover {
  background-color: var(--sb-ch-fg-color, rgba(var(--color-button)));
  color: var(--sb-ch-bg-color, rgb(var(--color-button-text)));
  border-color: var(--sb-ch-bg-color, rgb(var(--color-button-text)));
}

/* BLOG CARD */
.sb-blog-card {
  border-radius: 6px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  color: var(--sb-fg-color);
  background: var(--sb-bg-color);
}
.sb-blog-card__image {
  width: 100%;
  object-fit: cover;
  display: block;
}
.sb-blog-card__content-wrapper {
  display: flex;
}
.sb-blog-card__content-wrapper svg {
  width: 22px;
  height: 18px;
  margin-top: 25px;
  margin-right: 12px;
}
.sb-blog-card__content {
  background-color: var(--color-background);
  letter-spacing: 0;
  line-height: 1.3;
  display: flex;
  gap: 8px;
  width: 100%;
  flex-direction: column;
}
.sb-blog-card__blog-title {
  padding: 0;
  font-size: 12px;
  color: var(--sb-fg-color, #000);
  opacity: 0.6;
  margin: 4px 0 0;
  font-weight: 400;
  font-family: var(--font-body-family);
}
.sb-blog-card__article-title {
  color: var(--sb-fg-color);
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (min-width: 768px) {
  .sb-blog-card__content {
    flex-direction: column-reverse;
    width: 100%;
  }
  .sb-blog-card__content-wrapper svg {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .sb-featured-blog__heading {
    font-size: calc(40 / var(--sb-base-font-size, 16) * 1rem);
  }
}

/* PDP */
#kustomer-ui-sdk-iframe {
  transition: all 0.2s ease;
  bottom: 0px !important;
  right: 5px !important;
}

.sb-modal-open #kustomer-ui-sdk-iframe {
  z-index: 1 !important;
}

/* JudgeMe Reviews */
.jdgm-histogram {
  display: none !important;
}

a.jdgm-write-rev-link.jdgm-write-rev-link:hover {
  background: #111314 !important;
  color: #fff !important;
}

.jdgm-write-rev-link {
  border-radius: 40px !important;
  border: 1px solid var(--opt-33-black, #111314) !important;
  display: flex !important;
  max-width: 300px !important;
  background-color: #fff !important;
  width: 100%;
  margin: 0 !important;
  height: 52px;
  align-items: center;
  justify-content: center;
  padding: 12px 10px 14px 10px !important;
  gap: 10px;
  min-width: 320px !important;
  color: var(--opt-33-black, #111314) !important;
  text-align: center;
  font-family: var(--sb-font-family-body) !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 150% !important; /* 16px */
}

.jdgm-sort-dropdown {
  display: flex;
  height: 40px !important;
  padding: 4px 25px 4px 10px !important;
  justify-content: center;
  min-width: 150px;
  align-items: center;
  gap: 14px;
  color: var(--opt-33-black-80, rgba(17, 19, 20, 0.8)) !important;
  font-family: var(--sb-font-family-body) !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 120% !important; /* 20.8px */
  border-radius: 80px;
  border: 1px solid var(--opt-33-black-40, rgba(17, 19, 20, 0.4)) !important;
}

.jdgm-sort-dropdown-arrow {
  color: var(--opt-33-black-80, rgba(17, 19, 20, 0.8)) !important;
  right: 8px !important;
}

.jdgm-rev-widg__sort-wrapper {
  margin-bottom: 10px !important;
}

.jdgm-row-actions {
  border-top: none !important;
}

.jdgm-rev-widg__summary-stars {
  display: flex;
  align-items: center;
}
.jdgm-rev-widg__summary-average {
  order: 1; /* last block appears first */
  padding-right: 10px;
  color: var(--opt-33-black, #111314);
  font-family: var(--font-aeonik);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
  letter-spacing: 2px;
}
.jdgm-rev-widg__summary-stars .jdgm-star {
  order: 2;
}

.jdgm-rev-widg .jdgm-star {
  color: var(--opt-33-sky-blue, #1b73b3) !important;
}

.jdgm-rev-widg__summary-text {
  color: var(--Grey, #676767) !important;
  font-family: var(--sb-font-family-body) !important;
  font-size: 16px !important;
  text-align: left !important;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.jdgm-widget-actions-wrapper {
  border-left: none !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}

.jdgm-rev-widg__summary {
  justify-content: left !important;
  align-items: flex-start !important;
}

.jdgm-row-stars {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.jdgm-rev-widg__title {
  color: var(--opt-33-black, #111314);
  font-family: 'Aeonik';
  text-align: left !important;
  font-size: 40px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 48px */
}

.jdgm-rev-widg__summary-stars .jdgm-star.jdgm--on,
.jdgm-rev-widg__summary-stars .jdgm-star.jdgm--half {
  font-size: 24px;
}

.jdgm-row-extra {
  display: none !important;
}

.jdgm-rev__author-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px !important;
}

.jdgm-rev__author-name {
  color: var(--opt-33-black, #111314);
  font-family: var(--font-aeonik);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}

.jdgm-rev__buyer-badge-wrapper {
  margin: 0 !important;
}

.jdgm-rev__icon {
  height: 44px !important;
  width: 44px !important;
}

.jdgm-rev__author {
  color: var(--opt-33-black, #111314) !important;
  font-family: var(--font-aeonik);
  font-size: 16px !important;
  font-style: normal;
  line-height: 120%; /* 19.2px */
}

.jdgm-rev__icon:not(.jdgm-rev__avatar):before {
  line-height: 39px !important;
}

.jdgm-row-rating {
  padding-bottom: 8px !important;
}

.jdgm-rev__buyer-badge {
  color: rgba(17, 19, 20, 0.6) !important;
  font-family: var(--sb-font-family-body);
  background-color: #fff !important;
  font-size: 14px !important;
  font-style: normal;
  letter-spacing: 0 !important;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  padding: 0 !important;
}

.jdgm-rev__buyer-badge:before {
  content: 'Verified Buyer' !important;
}

.jdgm-row-profile {
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;
}

.jdgm-rev__title {
  color: var(--opt-33-black, #111314) !important;
  font-family: var(--font-aeonik);
  font-size: 20px !important;
  font-style: normal;
  letter-spacing: 0 !important;
  padding-top: 10px !important;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

.jdgm-rev__body * {
  letter-spacing: 0 !important;
  font-family: 'Neue Haas Unica W1G-Regular', sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  padding-top: 8px !important;
}

.jdgm-rev__timestamp {
  color: rgba(17, 19, 20, 0.6) !important;
  text-align: right !important;
  font-family: var(--sb-font-family-body) !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.jdgm-paginate {
  margin-top: 20px !important;
}

.jdgm-paginate__page {
  color: var(--opt-33-black, #111314) !important;
  font-family: var(--sb-font-family-body) !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.jdgm-curt {
  color: var(--opt-33-black, #111314);
  font-family: 'Neue Haas Unica W1G';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

@media screen and (max-width: 768px) {
  .jdgm-row-stars {
    flex-direction: column !important;
  }
  .jdgm-widget-actions-wrapper {
    width: 100% !important;
  }
  .jdgm-rev-widg__sort-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .jdgm-row-stars {
    align-items: flex-start !important;
  }
  .jdgm-write-rev-link {
    max-width: unset !important;
  }
}

#skio-root {
  padding: 40px 0 120px;
}
