.certificate-of-analysis {
  background: #F8F9FB;
  padding: 88px 0;
}

.certificate-of-analysis .page-content { 
  min-height: 464px;
}

.section-header {
  margin: 0 0 48px;
}

.certificate-of-analysis .section-title {
  font-family: var(--font-aeonik);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #111314;
}

.certificate-of-analysis .section-description {
  color: #676767;
  font-family: var(--font-neue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 16px 0 0;
}

.open_pdf.product-title .item_date {
  opacity: 0.64;
  font-size: 14px;  
}

.certificate-of-analysis .section-link {
  margin: 16px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  width: auto;
}

.certificate-of-analysis .section-link a{
  color: #676767;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.certificate-of-analysis .section-wrapper {
  display: flex;
  gap: 48px;
}

.search-history-wrapper,
.search-input-wrapper {
  flex: 1;
}

.keep-shopping {
  display: inline-block;
  margin: 48px 0 0;
}

.keep-shopping.desktop--hide {
  display: none;
}

.keep-shopping a {
  color: #111314;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  text-underline-offset: 4px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.search-input-form-wrapper {
  position: relative;
}

.search-input-form-wrapper .search--form {
  display: flex;
  gap: 16px;
}

#coa-search {
  border: none;
  border-bottom: 1px solid #111314;
  background: #FFF;
  padding: 10px 24px 11px 24px;
  color: #111314;
  text-overflow: ellipsis;
  font-family: var(--font-neue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.64;
  width: 100%;
  /* max-width: 444px; */
  box-shadow: none;
}

.certificate-of-analysis #coa-search-submit {
  display: none;
  border-radius: 40px;
  background: #111314;
  width: auto;
  padding: 12px 40px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  min-width: 160px;
}

.certificate-of-analysis #coa-search-submit svg {
  margin-top: 1px;  
}

.certificate-of-analysis #coa-results ul, 
.certificate-of-analysis #coa-results-searched ul, 
.certificate-of-analysis #most-recent-searched ul, 
.certificate-of-analysis #search-history-results ul {
  list-style-type: none;
  padding: 0;
}

#coa-results {
  /* max-width: 444px;
  width: calc(100% - 176px); */
  max-width: 100%;
  width: 100%;
  position: absolute;
  z-index: 9;
}

#coa-results ul {
  background: #FFF;
  padding: 0 !important;
  max-height: 259px;
  overflow-y: scroll;
}

#coa-results ul li {
  padding: 0 !important;
}

.coa-result-items {
  display: flex;
  align-items: center;
  padding: 10px 16px !important;
  gap: 8px;
  width: 100%;
  cursor: pointer
}

.no-results-text {
  padding: 10px;
  background: #fff;
  text-align: center;
}

#coa-results ul img {
  width: 44px;
  height: 44px;
  min-width: 44px;
  object-fit: contain;
}

#most-recent-searched li:first-child {
  padding-top: 0;
}
 
.certificate-of-analysis li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  margin: 0 !important;
  border-bottom: 1px solid rgba(17, 19, 20, 0.12);
}

.certificate-of-analysis li:last-child {
  border-bottom: none !important;
}

#coa-results ul .product-title {
  color: #000;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.coa-results-searched {
  margin: 48px 0 0;
}

.most-recent-search-title {
  color: #111314;
  font-family: var(--font-aeonik);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 48px 0 16px;
}

.most-recent-search-title.search-results-title {
  margin: 38px 0 16px;
}

#coa-results-searched li .most-recent-product-inner,
#most-recent-searched li .most-recent-product-inner {
  display: flex;
  align-items: unset;
  gap: 14px;
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  width: 100%;
  cursor: pointer;
}

#most-recent-searched li .most-recent-product-inner {
  position: relative;
}

#most-recent-searched li .most-recent-product-inner a.product__url {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.most-recent-product-image {
  width: 126px;
  height: 126px;
  display: flex;
  justify-content: center;
  background: #F8F9FB;
  border-radius: 4px;
}

.most-recent-product-image + div {
  flex: 1;
  height: inherit;
}

.most-recent-product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#coa-results-searched ul li {, 
#most-recent-searched ul li
  border: none;
  padding: 0;
  margin: 0 0 10px !important;
}

#coa-results-searched ul li:last-child
#most-recent-searched ul li:last-child {
  margin: 0 !important;
}

#coa-results-searched .product-name
#most-recent-searched .product-name {
  color: #111314;
  font-family: var(--font-neue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}

#coa-results-searched .product-name strong,
#most-recent-searched .product-name strong{
  font-weight: 500;
}

#coa-results-searched .product-description,
#most-recent-searched .product-description{
  overflow: hidden;
  color: #111314;
  text-overflow: ellipsis;
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.72;
  margin: 8px 0 21px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#coa-results-searched .product-view-link a,
#most-recent-searched .product-view-link a,
.product-link-wrapper .open_pdf {
  color: #111314;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  gap: 10px;
  display: inline-flex;
}

#coa-results-searched .product-link-wrapper,
#most-recent-searched .product-link-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: auto;
}



#coa-results ul::-webkit-scrollbar {
  width: 2px;
}

#coa-results ul::-webkit-scrollbar-track {
  background: #f8f9fb; 
}
 
#coa-results ul::-webkit-scrollbar-thumb {
  background: #173446; 
}

#coa-results-searched {
  display: none;
}

.search-history-title {
  color: #111314;
  font-family: var(--font-aeonik);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 32px;
}

/* Modal Styles */
.certificate-of-analysis .pdf-viewer-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(3px);
  z-index: 1000;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.certificate-of-analysis #pdfViewerContainer {
  background: #fff;
  border-radius: 8px;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: relative;
}

certificate-of-analysis .pdfViewer-inner {
  padding: 20px;
}

.certificate-of-analysis .pdfViewer-inner::-webkit-scrollbar {
  width: 2px;
}

.certificate-of-analysis .pdfViewer-inner::-webkit-scrollbar-track {
  background: var(--white);    
}

.certificate-of-analysis .pdfViewer-inner::-webkit-scrollbar-thumb {
  background:var(--navy); 
}

.certificate-of-analysis #pdfViewerContainer #pdfViewer {
  width: 100%;
}

.most-recent-product-view-link {
  display: flex;
  flex-direction: column;
}

.certificate-of-analysis #pdfViewer canvas {
  display: block;
  max-width: 100%; /* Ensures it fits within the modal */
  height: auto;
}

#search-history-results li {
  border-bottom: 1px solid rgba(17, 19, 20, 0.3);
  padding: 19.5px 0;
  color: #111314;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  justify-content: space-between;
  align-items: flex-start;
}

#search-history-results li icon,.search-results-date {
  opacity: 0.64;
}

#search-history-results .search-results-analysis-type {
  font-weight: 700;
}

#search-history-results li .open_pdf {
  display: flex;
  align-items: end;
  gap: 12px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .certificate-of-analysis #coa-search {
    width: calc(100% - 100px);
  }
}

.open_pdf {
  cursor: pointer;
}

.close_pdp_popup {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}


.pdf-file-wrap {
  flex: 0 1 104px;
}

.history-line-item {
  flex: 1;
  max-width: 82%;
}


#search-history-results li:first-child {
  border-top: 1px solid rgba(17, 19, 20, .3);
}

@media (max-width: 1024px) {

  .learn-more-close {
    display: block;
  }

  .search-history-wrapper, .search-input-wrapper {
    flex: 0 1 100%;
  }

  .certificate-of-analysis .section-wrapper {
    flex-wrap: wrap;
  }

  .history-line-item {
    max-width: 100%;
  }
  
}

@media (max-width: 767px) {


  .certificate-of-analysis .page-content { 
    min-height: 600px;
  }
   
  
  .certificate-of-analysis {
    padding: 40px 0;
  }

  .certificate-of-analysis .section-title {
    font-size: 28px;
  }

  .certificate-of-analysis .section-description {
    font-size: 16px;
    line-height: 130%;
    margin: 8px 0 0;
  }

  .section-header {
    margin: 0 0 24px;
  }

  .search-input-form-wrapper .search--form {
    flex-wrap: wrap;
    padding-bottom: 36px;
    position: relative;
  }

  .keep-shopping {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .certificate-of-analysis #coa-search {
    width: 100%;
    max-width: 100%;
  }

  .certificate-of-analysis #coa-search-submit {
    width: 100%;
    max-width: 100%;
    padding: 14px 40px;
  }

  #coa-search {
    padding: 10px 16px 11px;
  }

  .keep-shopping {
    margin: 16px 0 0;
    justify-content: center;
    display: flex;
  }

  .most-recent-search-title {
    margin: 24px 0 16px;
  }

  #coa-results-searched .product-name,
  #most-recent-searched .product-name,
  #most-recent-searched .product-name {
    font-size: 18px;
  }

  .certificate-of-analysis .section-wrapper {
    gap: 24px;
  }

  .search-history-title {
    margin: 0 0 24px;
  }

  #search-history-results li {
    font-size: 14px;
    padding: 16px 0;
  }

  .search-results-analysis-type {
    display: block;
    margin: 8px 0 0;
  }
  
  .close_pdp_popup {
    /* right: 0;
    top: -30px; */
    z-index: 9;
    right: 10px;
    top: 10px;
  }

  .close_pdp_popup svg {
    width: 20px;
    height: 20px; 
  }

  .certificate-of-analysis #pdfViewerContainer {
    overflow: visible;
  }

  .certificate-of-analysis .section-link {
    margin: 8px 0 0;
  }

  #coa-results {
    max-width: 100%;
    width: 100%;
    box-shadow: 0 4px 8px -2px rgba(17, 19, 20, 0.3);
    margin-top: -36px;
  }

  #coa-results ul {
    position: relative;
    max-height: 259px;
    overflow: auto;
  }
  
  .keep-shopping.mobile--hide {
    display: none;
  }

  .keep-shopping.desktop--hide {
    display: block;
  }

  .most-recent-product-image {
    width: 64px;
    height: 64px;
    flex: 0 1 64px;
  }
  
  #search-history-results .search-results-analysis-type {
    font-size: 16px;
  }

  #coa-results ul .product-title {
    font-size: 14px;
  }
  
}

@media (max-width: 550px) {

  #search-history-results li icon:last-of-type {
    display: none;
  }

  #coa-results-searched li .most-recent-product-inner, 
  #most-recent-searched li .most-recent-product-inner {
    align-items: flex-start;
  }

  .certificate-of-analysis .section-title {
    max-width: 78%;
  }
  
}

#pdfViewerModal canvas {
  height: 100% !important;
  width: 100% !important;
}


.section-description {
  gap: 6px; 
  position: relative;
  font-size: 16px;
}

.learn-more-modal {
  border-radius: 6px;
  background: #173446;
  padding: 16px;
  max-width: 304px;
  min-width: 304px;
  position: absolute;
  z-index: 99;
  width: 100%;
  margin: 15px 0 0;
  top: 22px;
  left: 0; 
  transform: translateX(-30%); 
  display: none;
}

.learn-more-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.learn-more-close {
  position: absolute;
  top: 14px;
  right: 14px;
  display: none;
}

.learn-more-info-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.learn-more-info-icon svg {
  transform: translateY(2px);
}

@media (min-width: 768px) {

  .learn-more-info-icon:hover .learn-more-modal {
    display: flex;   
  }
    
}

@media (max-width: 767px) {

  .learn-more-info-icon.active .learn-more-modal {
    display: flex;   
  }

  .learn-more-close {
    display: block;
  }

}

.learn-more-modal:before {
  content: '';
  background: url(https://cdn.shopify.com/s/files/1/0866/7664/files/triangle.png?v=1743083279);
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -10px;
  left: 90px;
}

.learn-more-modal .item-title {
  color: #fff;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.learn-more-modal .item-description {
  color: #F8F9FB;
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 6px 0 0;
}

@media (max-width: 1024px) {

  .learn-more-modal {
    transform: translate(-80%);
  }

  .learn-more-modal:before {
    left: 243px;
  }

}

@media (max-width: 991px) {

  .learn-more-modal {
      transform: translate(-80%);
  }

}

@media (max-width: 977px) {
  
  .certificate-of-analysis .section-description {
    max-width: 668px;
  }

}

@media (max-width: 767px) {

  .certificate-of-analysis .section-description {
    max-width: 500px;
  }

  .learn-more-modal {
    min-width: 260px;
  }
  
  .open_pdf.product-title .item_date {
    font-size: 12px;
  }

}

@media (max-width: 567px) {
  
  /*.certificate-of-analysis .section-description {
    max-width: 300px;
  }*/

  .learn-more-modal {
    transform: translate(-50%);
  }

  .learn-more-modal:before {
    left: 50%;
  }

}