.A-B-subscription-upgrade {
  display: none;
}

.sub-upgrade-modal-open {
  overflow: hidden;
}

.sub-upgrade-modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.sub-upgrade-modal-content {
  margin: auto 20px;
  width: 100%;
  max-width: 802px;
  background: linear-gradient(0deg, #173446 0%, #173446 100%), #173446;
  padding: 48px;
  position: relative;
  border-radius: 6px;
}

.sub-upgrade-close-btn:hover,
.sub-upgrade-close-btn:focus {
  text-decoration: none;
  cursor: pointer;
}

.sub-upgrade-modal .modal-title { 
  margin: 0 0 29px;
}

.sub-upgrade-modal .modal-title * {
  color: var(--white);
  text-align: center;
  font-family: var(--font-aeonik);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.sub-upgrade-modal .modal-title strong {
  border-bottom: 5px solid var(--sky-blue);
}

.sub-upgrade-modal .modal-reviewer-image {
  max-width: 116px;
}

.sub-upgrade-modal .modal-review-wrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.sub-upgrade-modal .modal-review-text {
  color: var(--white);
  text-align: left;
  font-family: var(--font-neue);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-description-blocks {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 32px 24px;
  row-gap: 27px;
  column-gap: 40px;
}

.modal-description-blocks .item-block {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sub-upgrade-close-btn path {
  stroke: var(--white);
}

.modal-description-blocks .icon {
  background: var(--sky-blue);
  border-radius: 50%;
  padding: 10.5px;
  flex: 0 1 60px;
  height: 60px;
}

.modal-description-blocks .heading {
  flex: 1;
}

.modal-description-blocks .icon img {
  width: 40px;
  height: 40px;
}

.modal-description-blocks .heading * {
  color: var(--white);
  font-family: var(--font-neue);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.modal-description-blocks .heading strong {
  font-weight: 700;
}

.sub-upgrade-modal .button {
  margin: 0 auto;
  max-width: 299px;
  font-weight: 400;
}

.sub-upgrade-modal .link_text {
  color: var(--white);
  text-align: center;
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin: 12px auto 0;
  text-underline-offset: 2px;
  width: 80px;
  display: block;
  cursor: pointer;
  min-height: 25px;
}

.sub-upgrade-close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
}

@media (min-width: 768px) {

  .modal-description-blocks {
    column-count: 2;  
    padding: 18.5px 24px;
    display: block;
  }

  .modal-description-blocks .item-block {
    padding: 13.5px 0;
  }
  
}

@media (min-width: 1440px) {

  .sub-upgrade-modal-content {
    min-height: 560px;
  }
  
}

@media (max-width: 767px) {

  .sub-upgrade-modal-content {
    padding: 32px 16px;
    max-height: calc(100vh - 40px);
    overflow-y: scroll;
    background: var(--navy);
  }

  .sub-upgrade-modal .modal-title * {
    font-size: 24px;
  }

  .sub-upgrade-modal .modal-review-text {
    font-size: 14px;
  }

  .sub-upgrade-modal .modal-review-wrapper {
    gap: 6px;
  }

  .modal-description-blocks .heading * {
    font-size: 16px;
    line-height: 20px;
  }

  .modal-description-blocks .item-block {
    gap: 17px;
  }

  .modal-description-blocks {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 0 32px;
    padding: 32px 18px;
    max-width: 402px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-upgrade-modal .modal-title {
    margin: 0 0 32px;
    padding: 0 18px;
  }

  .sub-upgrade-modal-content::-webkit-scrollbar {
    width: 0;
  }

  .sub-upgrade-modal .modal-reviewer-image {
    max-width: 88px;
  }

  .sub-upgrade-modal .modal-reviewer-image img {
    height: 30px;
    object-fit: contain;
  }

  .modal-description-blocks .icon {
    padding: 8px 8px 7px 7px;
    flex: 0 1 45px;
    height: 45px;
  }

  .modal-description-blocks .icon img {
    width: 30px;
    height: 30px;
  }

  .modal-description-blocks .heading {
    padding-right: 7px;
  }

  .sub-upgrade-modal .button {
    max-width: 303px;
  }

  .sub-upgrade-close-btn {
    top: 16px;
    right: 16px;
  }
  
}