.value-props-section {
  position: relative;
  padding: 22px 0;
  background: #F8F9FB;
}

.value-props-section .value-props-list .value-props-item {
  width: auto;
  padding: 0 67px;
}

.value-props-section .swiper-wrapper {
  justify-content: space-between;
}

.value-props-list::-webkit-scrollbar {
  height: 0px;
}

.value-props-list .value-props-item .value-props-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.value-props-list .value-props-item .value-props-box .value-props-icon {
  width: 24px;
  height: 24px;
}

.value-props-list .value-props-item .value-props-box .value-props-icon img {
  height: 100%;
  object-fit: contain;
}

.value-props-list .value-props-item .value-props-box .value-props-text h2 {
  margin: 0;
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  color: inherit;
  white-space: nowrap;
  letter-spacing: 0;
  text-transform: none;
}
  
.value-props-section .page-width {
  padding: 0;
}

.value-props-section {
  transform: none;
}

.value-props-section .value-props-list {
  padding-top: var(--PT);
  padding-bottom: var(--PB);
  margin: 0px;
}

.marquee-slider {
  display: flex !important;
}

.value-props-list.hide--mobile {
  display: none;
}

.value-props-section .container {
  padding: 0 !important;
}

.value-props-section .swiper-slide {
  margin-right: 24px; 
  margin-left: 24px; 
}

.value-props-section .swiper-wrapper {
  transition-timing-function: linear; 
}

.value-props-section .value-props-list {
  margin-left: -16px;
}

@media screen and (max-width: 767px) {

  .value-props-section {
    padding: 16px 0 50px;
  }

  .value-props-section .swiper-slide {
    margin-right: 6px; 
    margin-left: 16px; 
  }

  .value-props-section .value-props-list .value-props-item {
    padding: 0 11px;
  }

  .collection .value-props-section {
    padding: 16px 0 16px;
  }
    
}

@media (min-width: 1180px) { 

  .value-props-list.hide--mobile { 
    display: flex;
    justify-content: space-between;
    gap: 22px;
  }

  .value-props-section .swiper-slide {
    margin-right: 67px; 
    margin-left: 67px; 
  }
  
}

@media screen and (max-width: 992px) {

  .value-props-section {
    pointer-events: none;
  }
  
}
