.variant-drawer-wrapper {
  position: fixed;
  right: 0;
  z-index: 999;
  display: block;
  top: 0;
  max-width: 434px;
  background: var(--white);
  opacity: 1;
  left: initial;
  width: 100%;
  height: 100%;
  border-radius: unset;
  padding: 40px 32px;
  transform: translateX(0);
  transition: all 0.3s;
  overflow: auto;
  overflow-x: hidden;
}

.variant-drawer-wrapper .variant-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey);
  font-family: var(--font-neue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.variant-drawer-wrapper .select-list {
  position: static;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  margin: 24px 0 0;
  padding: 0;
  box-shadow: none;
}

.variant-drawer-wrapper .drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.variant-drawer-wrapper.hidden {
  transform: translateX(100%);
}

.variants-container  button .variant-tags-main {
  display: none;
}

.variants-container button {
  border: 1px solid var(--light-border);
}

.variant-drawer-wrapper .select-option {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 6px;
  border: 1px solid rgba(103, 103, 103, 0.20);
  padding: 11px 12px;
  justify-content: space-between;
  opacity: 1;
}

.variant-name-image-wrapper {
  flex: 1;
}

.variant-tags-main {
  display: flex;
  flex: 0 1 80px;
  justify-content: flex-end;
}

.variant-drawer-wrapper .select-option.click-disabled .variant-name-image-wrapper {
  opacity: 0.32;
} 

.variant-drawer-open {
  overflow: hidden;
}

/* .variant-drawer-open .product-main-right-wrap {
  position: unset;
  z-index: auto;
}

.variant-drawer-open:before {
  background: rgba(17, 19, 20, 0.48);
  backdrop-filter: blur(3px);
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
} */

/* .variant-drawer-open main {
  z-index: 0;
} */

.product-main-right-wrap:before {
  content: '';
  background: #fff;
  width: calc(100% + 7px);
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  left: -7px;
}

.variant-drawer-wrapper .select-option:hover,
.variant-drawer-wrapper .select-option.select-option--active {
  background: transparent;
  border: 1px solid var(--Black, #111314);
}

.variant-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.variant-title {
  color: var(--black);
  font-family: var(--font-neue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.variant-drawer-wrapper .select-option[data-value="Unflavored"] .variant-image {
  border: 1px solid rgba(103, 103, 103, 0.24);
}

.option__button--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.option__button--wrapper .option__button {
  border-radius: 6px;
  border: 1px solid var(--light-border);
  background: #fff;
  background-blend-mode: multiply;
  padding: 16px 24px;
  min-width: 198px;
  text-align: center;
  cursor: pointer;
}

.option__button--wrapper .option__button:hover {
  border: 1px solid rgba(17, 19, 20, 0.64);
}

.option__button--wrapper .option__button.select-option--active {
  background: transparent;
  border: 1.5px solid var(--black);
}

.option__button--wrapper .option__button.sold_out {
  background: #F8F9FB;
  background-blend-mode: multiply;
  opacity: 1;
}

.option__button--wrapper .option__button.sold_out .variant-title {
  color: #AEAFB1;
}

.variant-name-image-wrapper {
  align-items: center;
  gap: 12px;
}

.option__button--wrapper .variant-name-image-wrapper.flex {
  justify-content: center;
}

.variant-tags {
  color: var(--grey);
  font-family: var(--font-neue);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.variant-tags:before {
  content: '';
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
}

.low-stock-variant.variant-tags:before { 
  background: #FFB547;
}

.out-of-stock-variant.variant-tags:before { 
  background: #D43333;
}

.new-variant.variant-tags:before { 
  background: #50B900;
}

.variants-container button.flavor-selector-button {
  padding: 16px 24px;
  border-radius: 6px;
}

.variants-container button.flavor-selector-button .variant-title {
  font-size: 14px;
}

.variants-container button.flavor-selector-button[data-button-value="Unflavored"] .variant-image {
  border: 1px solid rgba(103, 103, 103, 0.24);
}

.variants-container button.flavor-selector-button .block-arrow {
    transform: rotate(90deg);
}

@media (max-width: 1199px) { 

  .option__button--wrapper .option__button {
    min-width: 80px;
  }
  
}

@media (max-width: 767px) { 
  
  .variants-container button {
    padding: 12px 16px;
  }

  .variant-drawer-wrapper {
    padding: 24px 16px;
  }

  .variant-title {
    font-size: 14px;
  }

  .option__button--wrapper .option__button {
    padding: 17px 20px;
  }

  .variants-container button.flavor-selector-button {
    border-radius: 6px;
    padding: 16px;
  }

}