.video-content-section .content-wrapper {
  justify-content: space-between;
}

.video-content-section {
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.video-content-section .video-inner {
  position: relative;
  height: 0;
  overflow: hidden;
  background: #000;
}

.video-content-section .video-inner.full-width {
  width: 100%;
  height: auto;
}

.video-content-section .video-inner iframe, .video-inner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-content-section .video-inner.full-width video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.video-content-section .video-inner video[poster] {
  object-fit: cover;
}

.video-content-section .video-inner:after {
  content: '';
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 100%), linear-gradient(270deg, rgba(0, 0, 0, 0.00) 51.41%, rgba(0, 0, 0, 0.32) 70.61%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.video-content-section .content-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
  padding: 64px !important;
}

.video-content-section .content-wrapper .content__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 540px;
}

.video-content-section .content-wrapper .content__wrapper h2 {
  text-transform: capitalize;
}

.video-content-section .content-wrapper .content__wrapper .rte {
  max-width: 460px;
}

.video-content-section .content-wrapper .button {
  max-width: 312px;
  padding: 13px 10px 15px;
}

@media (max-width: 1279px) {

  .video-content-section .video-inner {
    padding-bottom: 60%;
  }
  
}

@media (min-width: 1280px) {

  .video-content-section .video-inner.video--large {
    padding-bottom: 38.05%;
  }
  
  .video-content-section .video-inner.video--small {
    padding-bottom: 32.5%;
  }

  .template--product .video-content-section .content-wrapper .button {
    padding: 17px 10px;
  }
  
}

@media (max-width: 1023px) {

  .video-content-section .video-inner {
    padding-bottom: 80%;
  }
  
}

@media (max-width: 767px) {

  .video-content-section .video-inner {
    padding-bottom: 100%;
  }

  .video-content-section .content-wrapper {
    padding: 48px 16px !important;
    background: linear-gradient(356deg, rgba(0, 0, 0, 0.00) 53.22%, rgba(0, 0, 0, 0.70) 72.51%);
  }

  .video-content-section .video-inner {
    min-height: 457px;
  }

  .video-content-section .content-wrapper .button {
    max-width: 100%;
    padding: 16px 10px 18px;
  }

  .video-content-section .content-wrapper .heading br {
    display: none;
  }
  
}

@media (min-width: 768px) {

  .video-content-section .content-wrapper {
    padding: 64px !important;
  }

}

