/**
 * CSS extracted from xt-product-hero.liquid
 * 
 * File type: Section
 * Generated automatically by Shopify CSS Extractor
 * 
 * Follow BEM naming convention with 'sb-' prefix
 * Use CSS custom properties for dynamic values
 */

/* CSS Block 1 */
#testing-tab-panel-1 .metafield-rich_text_field  {
  text-align: left;
  margin-bottom: 20px;
  }

#testing-tab-panel .metafield-rich_text_field  {
  text-align: left;
  margin-bottom: 10px;
  padding:10px;
  }

#testing-tab-panel #testing-tab-panel  {
  ] margin:10px;
  }

div#testing-tab-panel  {
  padding-top: 0;
  }

button#testing-button  {
  padding: 10px 0;
  font-size: 14px;
  letter-spacing: 0.5px;
  }

.jdgm-medals-wrapper  {
  display: none !important;
  }

.popup-container  {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-align: center;
  }

.image-container  {
  width: 100%;
  height: 90vh;
  overflow: auto;
  display: block;
  }

.close-btn  {
  position: fixed;
  top: 2px;
  right: 2px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 800;
  }

@media only screen and (max-width: 600px)  {
  .popup-container  {
  width: 100%;
  max-width: 90%;
  }

}

div#testing-content  {
  width: 215px;
  margin: 0 auto;
  }

.unique- {
   {
  template.suffix}

}

 {
  background:#E8EEF2;
  }

a.open-ingradiant-details:hover  {
  cursor: pointer;
  }

.product_slider {
  display:none;
  }

.slick-initialized {
  display:block;
  }

/* #product-thumbnails-2 {
  display:none;
  }

*/ /* .swiper-initialized {
  display:block !important;
  }

*/ #product-thumbnails-2 .swiper-wrapper  {
  justify-content: center;
  }

button#add-to-cart-button:disabled  {
  cursor: not-allowed;
  }

#price .line_thue  {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #6c787c;
  text-decoration: line-through;
  display: inline-flex;
  margin-left: 15px;
  }

p#price  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  }

/* Hide the images by default */ .mySlides  {
  display: none;
  }

/* Add a pointer when hovering over the thumbnail images */ .cursor  {
  cursor: pointer;
  }

.row {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  justify-content:center;
  gap:18px;
  }

/* .row:after  {
  content: "";
  display: table;
  clear: both;
  }

*/ .column  {
  display: flex;
  align-items: center;
  justify-content: center;
  }

/* Add a transparency effect for thumnbail images */ .demo  {
  opacity: 0.6;
  }

.active, .demo:hover  {
  opacity: 1;
  }

.xt-mobile #overview-tab-panel-1 > div.gap-4  {
  display:none;
  }

.mobile_show  {
  display:none;
  }

.tl-badge-mobile {
  display:none;
  }

@media only screen and (max-width: 1279px) {
  .mobile_show  {
  display:flex;
  }

.tl-badge-mobile {
  display:block;
  }

}

