<div class="container mx-auto my-8 px-4 text-center">
  <div class="mb-8 mx-auto w-64">
    {% render 'lazy-image',
      height: 256,
      image: images['tl-gift-card.png'],
      width: 256,
    %}
  </div>

  <div class="space-y-8">
    <p>Hey, {{ gift_card.customer.first_name }}! Your gift card details can be found below.</p>
    <p>
      Value:
      <strong>{{ gift_card.initial_value | money }}</strong>
    </p>
    <p>
      Code:
      <strong>
        <input class="border-none focus:outline-none focus:ring-0 focus:shadow-none" type="text" id="gift-card-code" readonly value="{{ gift_card.code }}">
      </strong>
    </p>
    <div class="flex flex-wrap justify-center space-y-4 sm:flex-nowrap sm:space-x-4 sm:space-y-0">
      <a class="button-alt px-12 w-full sm:w-auto" href="/collections/all">
        Continue Shopping
      </a>
      <button class="button px-12 w-full sm:w-auto" id="copy-code" type="button">
        Copy Code
      </button>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById('copy-code').addEventListener('click', function() {
    const copyText = document.getElementById('gift-card-code');

    copyText.select();
    copyText.setSelectionRange(0, 99999);

    navigator.clipboard.writeText(copyText.value);

    document.getElementById('copy-code').innerText = 'Copied!';
  });
</script>
